<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.teacherCriteriaGroup.home.title">Teacher Criteria Groups</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-teacher-criteria-group-marine-suffix" [routerLink]="['/teacher-criteria-group-marine-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="marineindustryprojApp.teacherCriteriaGroup.home.createLabel">
            Create new Teacher Criteria Group
            </span>
        </button>
    </h2>
    <mi-alert></mi-alert>
    <br/>
    <div class="table-responsive" *ngIf="teacherCriteriaGroups">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="marineindustryprojApp.teacherCriteriaGroup.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="displayOrder"><span jhiTranslate="marineindustryprojApp.teacherCriteriaGroup.displayOrder">Display Order</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="weight"><span jhiTranslate="marineindustryprojApp.teacherCriteriaGroup.weight">Weight</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="description"><span jhiTranslate="marineindustryprojApp.teacherCriteriaGroup.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="code"><span jhiTranslate="marineindustryprojApp.teacherCriteriaGroup.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createUserLogin"><span jhiTranslate="marineindustryprojApp.teacherCriteriaGroup.createUserLogin">Create User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span jhiTranslate="marineindustryprojApp.teacherCriteriaGroup.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyUserLogin"><span jhiTranslate="marineindustryprojApp.teacherCriteriaGroup.modifyUserLogin">Modify User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyDate"><span jhiTranslate="marineindustryprojApp.teacherCriteriaGroup.modifyDate">Modify Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let teacherCriteriaGroup of teacherCriteriaGroups ;trackBy: trackId">
                <td><a [routerLink]="['/teacher-criteria-group-marine-suffix', teacherCriteriaGroup.id, 'view' ]">{{teacherCriteriaGroup.id}}</a></td>
                <td>{{teacherCriteriaGroup.title}}</td>
                <td>{{teacherCriteriaGroup.displayOrder}}</td>
            <!--    <td>{{teacherCriteriaGroup.weight}}</td>-->
                <td>{{teacherCriteriaGroup.description}}</td>
                <!--<td>{{teacherCriteriaGroup.code}}</td>
                <td>{{teacherCriteriaGroup.createUserLogin}}</td>
                <td>{{teacherCriteriaGroup.createDate | date:'medium'}}</td>
                <td>{{teacherCriteriaGroup.modifyUserLogin}}</td>
                <td>{{teacherCriteriaGroup.modifyDate | date:'medium'}}</td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/teacher-criteria-group-marine-suffix', teacherCriteriaGroup.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/teacher-criteria-group-marine-suffix', teacherCriteriaGroup.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'teacher-criteria-group-marine-suffix/'+ teacherCriteriaGroup.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="teacherCriteriaGroups && teacherCriteriaGroups.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
