<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.educationalCenterGradeScore.home.title">Educational Center Grade Scores</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-educational-center-grade-score-marine-suffix" [routerLink]="['/educational-center-grade-score-marine-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="marineindustryprojApp.educationalCenterGradeScore.home.createLabel">
            Create new Educational Center Grade Score
            </span>
        </button>
    </h2>
    <mi-alert></mi-alert>
    <br/>
    <div class="table-responsive" *ngIf="educationalCenterGradeScores">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="score"><span jhiTranslate="marineindustryprojApp.educationalCenterGradeScore.score">Score</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="marineindustryprojApp.educationalCenterGradeScore.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createUserLogin"><span jhiTranslate="marineindustryprojApp.educationalCenterGradeScore.createUserLogin">Create User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span jhiTranslate="marineindustryprojApp.educationalCenterGradeScore.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyUserLogin"><span jhiTranslate="marineindustryprojApp.educationalCenterGradeScore.modifyUserLogin">Modify User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyDate"><span jhiTranslate="marineindustryprojApp.educationalCenterGradeScore.modifyDate">Modify Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="educationalCenterCriteriaTitle"><span jhiTranslate="marineindustryprojApp.educationalCenterGradeScore.educationalCenterCriteria">Educational Center Criteria</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="educationalCenterGradeTitle"><span jhiTranslate="marineindustryprojApp.educationalCenterGradeScore.educationalCenterGrade">Educational Center Grade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let educationalCenterGradeScore of educationalCenterGradeScores ;trackBy: trackId">
                <td><a [routerLink]="['/educational-center-grade-score-marine-suffix', educationalCenterGradeScore.id, 'view' ]">{{educationalCenterGradeScore.id}}</a></td>
                <td>{{educationalCenterGradeScore.score}}</td>
                <td>{{educationalCenterGradeScore.description}}</td>
                <td>{{educationalCenterGradeScore.createUserLogin}}</td>
                <td>{{educationalCenterGradeScore.createDate | date:'medium'}}</td>
                <td>{{educationalCenterGradeScore.modifyUserLogin}}</td>
                <td>{{educationalCenterGradeScore.modifyDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="educationalCenterGradeScore.educationalCenterCriteriaId">
                        <a [routerLink]="['../educational-center-criteria-marine-suffix', educationalCenterGradeScore.educationalCenterCriteriaId , 'view' ]" >{{educationalCenterGradeScore.educationalCenterCriteriaTitle}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="educationalCenterGradeScore.educationalCenterGradeId">
                        <a [routerLink]="['../educational-center-grade-marine-suffix', educationalCenterGradeScore.educationalCenterGradeId , 'view' ]" >{{educationalCenterGradeScore.educationalCenterGradeTitle}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/educational-center-grade-score-marine-suffix', educationalCenterGradeScore.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/educational-center-grade-score-marine-suffix', educationalCenterGradeScore.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_DELETE']"
                                [routerLink]="['/', { outlets: { popup: 'educational-center-grade-score-marine-suffix/'+ educationalCenterGradeScore.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="educationalCenterGradeScores && educationalCenterGradeScores.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
