<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="mi-prioritize-request-niazsanji-marine-suffix-heading" jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.home.createOrEditLabel">Create or edit a Prioritize Request Niazsanji</h2>
            <div>
                <mi-alert-error></mi-alert-error>
                <div class="form-group" [hidden]="true">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="prioritizeRequestNiazsanji.id" readonly />
                </div>
                <!--<div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="prioritizeRequestNiazsanji.code" maxlength="100"/>
                    <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>-->
                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">مشخصات متقاضی</div></div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.person" for="field_person">Person</label>
                    <!--<select class="form-control" id="field_person" name="person" [(ngModel)]="prioritizeRequestNiazsanji.personId"  required>
                        <option *ngIf="!editForm.value.person" [ngValue]="null" selected></option>
                        <option [ngValue]="personOption.id" *ngFor="let personOption of people; trackBy: trackPersonById">{{personOption.family}}</option>
                    </select>-->
                    <ng-select
                        [items]="people"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [required]="true"
                        [disabled]="true"
                        bindLabel="fullName"
                        bindValue="id"
                        placeholder="انتخاب نمائید."
                        name="person"
                        id="field_person"
                        [(ngModel)]="prioritizeRequestNiazsanji.personId" >
                </div>
                <div [hidden]="!(editForm.controls.person?.dirty && editForm.controls.person?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.person?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group bighalf">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.organizationChart" for="field_organizationChart">Organization Chart</label>
                    <!--<select class="form-control" id="field_organizationChart" name="organizationChart" [(ngModel)]="prioritizeRequestNiazsanji.organizationChartId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="organizationChartOption.id" *ngFor="let organizationChartOption of organizationcharts; trackBy: trackOrganizationChartById">{{organizationChartOption.title}}</option>
                    </select>-->
                    <ng-select
                        [items]="organizationcharts"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [required]="true"
                        [disabled]="true"
                        bindLabel="fullTitle"
                        bindValue="id"
                        placeholder="انتخاب نمائید."
                        name="organizationChart"
                        id="field_organizationChart"
                        [(ngModel)]="prioritizeRequestNiazsanji.organizationChartId">
                </div>
                <education-history-panel [personId]="prioritizeRequestNiazsanji.personId" [type]="2"></education-history-panel>

                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">اطلاعات پودمان های درخواستی</div></div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.educationalModule" for="field_educationalModule">Educational Module</label>
                    <!--<select class="form-control" id="field_educationalModule" name="educationalModule" [(ngModel)]="prioritizeRequestNiazsanji.educationalModuleId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="educationalModuleOption.id" *ngFor="let educationalModuleOption of educationalmodules; trackBy: trackEducationalModuleById">{{educationalModuleOption.title}}</option>
                    </select>-->
                    <ng-select
                        [items]="educationalmodules"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [required]="true"
                        (change)="onEducationalModuleChange($event)"
                        bindLabel="fullTitle"
                        bindValue="id"
                        placeholder="انتخاب نمائید."
                        name="educationalModule"
                        id="field_educationalModule"
                        [(ngModel)]="prioritizeRequestNiazsanji.educationalModuleId" >
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.skillLevelOfSkillTitle">Cost Educational Module</label>
                    <label class="form-control">
                        {{prioritizeRequestNiazsanji.skillLevelOfSkillTitle}}
                    </label>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.totalLearningTime" >Cost Educational Module</label>
                    <label class="form-control">
                        {{prioritizeRequestNiazsanji.totalLearningTime | number}}
                    </label>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.courseType" for="field_courseType">Course Type</label>
                    <!-- <select class="form-control" id="field_courseType" name="courseType" [(ngModel)]="prioritizeRequestNiazsanji.courseTypeId" >
                         <option [ngValue]="null"></option>
                         <option [ngValue]="courseTypeOption.id" *ngFor="let courseTypeOption of coursetypes; trackBy: trackCourseTypeById">{{courseTypeOption.title}}</option>
                     </select>-->
                    <ng-select
                        [items]="coursetypes"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [required]="false"
                        bindLabel="title"
                        bindValue="id"
                        placeholder="انتخاب نمائید."
                        name="courseType"
                        id="field_courseType"
                        [(ngModel)]="prioritizeRequestNiazsanji.courseTypeId" >
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.costEducationalModule" for="field_costEducationalModule">Cost Educational Module</label>
                    <input type="number" class="form-control" name="costEducationalModule" id="field_costEducationalModule"
                           [(ngModel)]="prioritizeRequestNiazsanji.costEducationalModule" />
                </div>
                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">اطلاعات طراحی دوره</div></div>
                <div class="form-group">
                    <label jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.restriction" for="field_restriction">Restriction</label>
                    <ng-select
                        [items]="restrictions"
                        [multiple]="true"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [required]="false"
                        bindLabel="title"
                        placeholder="محدودیت ها"
                        name="restriction"
                        id="field_restriction"
                        [(ngModel)]="prioritizeRequestNiazsanji.restrictions" >
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.restrictionDescription" for="field_restrictionDescription">Restriction Description</label>
                    <textarea type="text" class="form-control" name="restrictionDescription" id="field_restrictionDescription"
                              [(ngModel)]="prioritizeRequestNiazsanji.restrictionDescription" maxlength="4096"></textarea>
                    <div [hidden]="!(editForm.controls.restrictionDescription?.dirty && editForm.controls.restrictionDescription?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.restrictionDescription?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                            This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.teachingApproach" for="field_teachingApproach">Teaching Approach</label>
                    <ng-select
                        [items]="teachingapproaches"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [required]="false"
                        bindLabel="title"
                        bindValue="id"
                        placeholder="روش آموزش"
                        name="teachingApproach"
                        id="field_teachingApproach"
                        [(ngModel)]="prioritizeRequestNiazsanji.teachingApproachId">
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.goalsText" for="field_goalsText">Goals Text</label>
                    <textarea type="text" class="form-control" name="goalsText" id="field_goalsText"
                              [(ngModel)]="prioritizeRequestNiazsanji.goalsText" maxlength="4096"></textarea>
                    <div [hidden]="!(editForm.controls.goalsText?.dirty && editForm.controls.goalsText?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.goalsText?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                            This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.prerequisite" for="field_prerequisite">Prerequisite</label>
                    <textarea type="text" class="form-control" name="prerequisite" id="field_prerequisite"
                              [(ngModel)]="prioritizeRequestNiazsanji.prerequisite" maxlength="4096"></textarea>
                    <div [hidden]="!(editForm.controls.prerequisite?.dirty && editForm.controls.prerequisite?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.prerequisite?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                            This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
            </div>
            <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">سایر نیازسنجی ها</div></div>
            <div class="form-group bighalf">
                <a class="form-control-label" jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.niazsanjiInput" for="field_niazsanjiInput">Niazsanji Input</a>
                <ng-select
                    [items]="niazsanjiinputs"
                    [multiple]="false"
                    [closeOnSelect]="true"
                    [searchable]="true"
                    [required]="false"
                    bindLabel="title"
                    bindValue="id"
                    placeholder="انتخاب نمائید."
                    name="niazsanjiInput"
                    id="field_niazsanjiInput"
                    [(ngModel)]="prioritizeRequestNiazsanji.niazsanjiInputId">
            </div>
            <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">نیازسنجی فردی</div></div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.educationalModuleType" for="field_educationalModuleType">Educational Module Type</label>
                    <select class="form-control" name="educationalModuleType" [(ngModel)]="prioritizeRequestNiazsanji.educationalModuleType" id="field_educationalModuleType" >
                        <option value="APPROVED">{{'marineindustryprojApp.EducationalModuleType.APPROVED' | translate}}</option>
                        <option value="ALL">{{'marineindustryprojApp.EducationalModuleType.ALL' | translate}}</option>
                    </select>
                </div>
            <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">توضیحات تکمیلی</div></div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.priority" for="field_priority">Priority</label>
                <input type="number" class="form-control" name="priority" id="field_priority"
                       [(ngModel)]="prioritizeRequestNiazsanji.priority" />
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.description" for="field_description">Description</label>
                <textarea class="form-control" name="description" id="field_description"
                          [(ngModel)]="prioritizeRequestNiazsanji.description" ></textarea>
            </div>
            <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">مکالمات</div></div>
            <div class="form-group bighalf">
                <label class="form-control-label" jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.conversation" for="field_conversation">Conversation</label>
                <textarea class="form-control" name="conversation" id="field_conversation" [disabled]="true" [rows]="rowNumber"
                          [(ngModel)]="prioritizeRequestNiazsanji.conversation" ></textarea>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
