<div>
    <h2 id="page-heading">
        <span
            jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.home.title">Prioritize Request Niazsanjis</span>
        <!--<button id="jh-create-entity"
                class="btn btn-primary float-right jh-create-entity create-prioritize-request-niazsanji-marine-suffix"
                [routerLink]="['/prioritize-request-niazsanji-marine-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.home.createLabel">
            Create new Prioritize Request Niazsanji
            </span>
        </button>-->
        <button  class="btn btn-info float-left" jhiTranslate="entity.action.getexcel" (click)="export()">
            <span class="fa fa-file-excel-o"></span>
            excel
        </button>
    </h2>
    <mi-alert></mi-alert>
    <search-panel [(page)]="page" [(size)]="itemsPerPage" [predicate]="predicate" [reverse]="reverse" [searchPanelModel]="searchbarModel"></search-panel>
    <br/>
    <div class="table-responsive" *ngIf="prioritizeRequestNiazsanjis">
        <table class="table table-striped  table-bordered table-hover table-sm">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th>ردیف</th>
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="organizationChartTitle"><span
                    jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.organizationChart">Organization Chart</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="educationalModuleTitle"><span
                    jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.educationalModuleTitle">Educational Module</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="educationalModuleId"><span
                    jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.educationalModuleId">Educational Module</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th><span jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.skillLevelOfSkillTitle">Educational Module</span>
                </th>
                <th><span jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.totalLearningTime">Educational Module</span>
                </th>
                <th jhiSortBy="personFamily"><span
                    jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.person">Person</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="costEducationalModule"><span
                    jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.costEducationalModule">Cost Educational Module</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="courseTypeTitle"><span
                    jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.courseType">Course Type</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="createDate"><span
                    jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.createDate">Create Date</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="status"><span jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.status">status</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="requestNiazsanjiType"><span jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.requestNiazsanjiType">Request Niazsanji Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th>اولویت</th>
                <th>تاریخچه</th>

                <!--<th jhiSortBy="description"><span jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="createUserLogin"><span jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.createUserLogin">Create User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>

                <th jhiSortBy="conversation"><span jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.conversation">Conversation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="requestStatus"><span jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.requestStatus">Request Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="changeStatusUserLogin"><span jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.changeStatusUserLogin">Change Status User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="guid"><span jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.guid">Guid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="hasImportantMessage"><span jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.hasImportantMessage">Has Important Message</span> <fa-icon [icon]="'sort'"></fa-icon></th>

                <th jhiSortBy="priority"><span jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.priority">Priority</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="requestNiazsanjiFardiCode"><span jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.requestNiazsanjiFardi">Request Niazsanji Fardi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="prioritizeRequestNiazsanjiTitle"><span jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.prioritizeRequestNiazsanji">Pre Job Niazsanji</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="prioritizeRequestNiazsanjiCode"><span jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.prioritizeRequestNiazsanji">Request Other Niazsanji</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="teachingApproachTitle"><span jhiTranslate="marineindustryprojApp.prioritizeRequestNiazsanji.teachingApproach">Teaching Approach</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                <th width="200"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let prioritizeRequestNiazsanji of prioritizeRequestNiazsanjis ;let i = index"
                [ngClass]="{'new': prioritizeRequestNiazsanji.requestStatus == 'NEW','read': prioritizeRequestNiazsanji.requestStatus == 'READ','accept': prioritizeRequestNiazsanji.requestStatus === 'ACCEPT','ignore': prioritizeRequestNiazsanji.requestStatus === 'IGNORE'}">
                <td>{{i+1}}</td>
                <td>
                    {{prioritizeRequestNiazsanji.id}}
                </td>
                <td>
                    <div *ngIf="prioritizeRequestNiazsanji.organizationChartId">
                        <a [routerLink]="['../organization-chart-marine-suffix', prioritizeRequestNiazsanji.organizationChartId , 'view' ]">{{prioritizeRequestNiazsanji.organizationChartRootTitle}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="prioritizeRequestNiazsanji.educationalModuleId">
                        <a [routerLink]="['../educational-module-marine-suffix', prioritizeRequestNiazsanji.educationalModuleId , 'view' ]">{{prioritizeRequestNiazsanji.educationalModuleTitle}}</a>
                    </div>
                    <div *ngIf="prioritizeRequestNiazsanji.requestNiazsanjiFardiId">
                        (<span
                        jhiTranslate="{{'marineindustryprojApp.EducationalModuleType.' + prioritizeRequestNiazsanji.educationalModuleType}}">{{prioritizeRequestNiazsanji.educationalModuleType}}</span>)
                    </div>
                    <div *ngIf="prioritizeRequestNiazsanji.requestOtherNiazsanjiId">
                        (
                        <div *ngIf="prioritizeRequestNiazsanji.niazsanjiInputId">
                            <a [routerLink]="['../niazsanji-input-marine-suffix', prioritizeRequestNiazsanji.niazsanjiInputId , 'view' ]">{{prioritizeRequestNiazsanji.niazsanjiInputTitle}}</a>
                        </div>
                        )
                    </div>
                </td>
                <td>{{prioritizeRequestNiazsanji.educationalModuleCode}}</td>
                <td>{{prioritizeRequestNiazsanji.skillLevelOfSkillTitle}}</td>
                <td>{{prioritizeRequestNiazsanji.totalLearningTime | number}}</td>

                <td>
                    <div *ngIf="prioritizeRequestNiazsanji.personId">
                        <a [routerLink]="['../person-marine-suffix', prioritizeRequestNiazsanji.personId , 'view' ]">{{prioritizeRequestNiazsanji.personFullName}}</a>
                    </div>
                </td>

                <td>{{prioritizeRequestNiazsanji.costEducationalModule | number}}</td>
                <td>
                    <div *ngIf="prioritizeRequestNiazsanji.courseTypeId">
                        <a [routerLink]="['../course-type-marine-suffix', prioritizeRequestNiazsanji.courseTypeId , 'view' ]">{{prioritizeRequestNiazsanji.courseTypeTitle}}</a>
                    </div>
                </td>
                <td>{{prioritizeRequestNiazsanji.createDate}}</td>
                <td>{{prioritizeRequestNiazsanji.statusMeaning}}</td>
                <td jhiTranslate="{{'marineindustryprojApp.RequestNiazsanjiType.' + prioritizeRequestNiazsanji.requestNiazsanjiType}}">
                    {{prioritizeRequestNiazsanji.requestNiazsanjiType}}
                </td>
                <td>
                    <input type="number" style="width: 50px;" id="priority" name="priority" [(ngModel)]="prioritizeRequestNiazsanji.priority">
                </td>
                <td>
                    <div *ngIf="prioritizeRequestNiazsanji.requestNiazsanjiFardiId">
                        <button type="submit" title="جزئیات"
                                [routerLink]="['/request-niazsanji-fardi-marine-suffix', prioritizeRequestNiazsanji.requestNiazsanjiFardiId, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <!--<span class="d-none d-md-inline" alt="مشاهده" jhiTranslate="entity.action.view">View</span>-->
                        </button>
                    </div>
                    <div *ngIf="prioritizeRequestNiazsanji.requestOtherNiazsanjiId">
                        <button type="submit"
                                [routerLink]="['/request-other-niazsanji-marine-suffix', prioritizeRequestNiazsanji.requestOtherNiazsanjiId, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
                        </button>
                    </div>
                    <div *ngIf="prioritizeRequestNiazsanji.preJobNiazsanjiId">
                        <button type="submit"
                                [routerLink]="['/pre-job-niazsanji-steps-marine-suffix', prioritizeRequestNiazsanji.preJobNiazsanjiId, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
                        </button>
                    </div>

                </td>
                <td class="text-right">
                    <button type="submit" title="ویرایش"
                            [routerLink]="['/prioritize-request-niazsanji-marine-suffix', prioritizeRequestNiazsanji.id, 'edit']"
                            class="btn btn-primary btn-sm">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                    </button>
                    <ng-container *ngIf="!(prioritizeRequestNiazsanji.requestStatus == 'ACCEPT'  || prioritizeRequestNiazsanji.requestStatus == 'IGNORE' || prioritizeRequestNiazsanji.requestStatus == 'READ')">
                        <!--<button type="submit"
                                [routerLink]="['/prioritize-request-niazsanji-steps-marine-suffix', prioritizeRequestNiazsanji.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>-->
                        <button type="submit" title="ثبت نظر"
                                [routerLink]="['/', { outlets: { popup: 'prioritize-request-niazsanji-marine-suffix/'+ prioritizeRequestNiazsanji.id + '/' + 'COMMENT' + '/' + prioritizeRequestNiazsanji.priority + '/comment'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-warning btn-sm">
                            <fa-icon [icon]="'comments'"></fa-icon>
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.comment.comment">comment</span>-->
                        </button>
                        <button type="submit" title="تایید کردن"
                                [routerLink]="['/', { outlets: { popup: 'prioritize-request-niazsanji-marine-suffix/'+ prioritizeRequestNiazsanji.id + '/' + 'ACCEPT' + '/' + prioritizeRequestNiazsanji.priority + '/comment'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-success btn-sm">
                            <fa-icon [icon]="'check-double'"></fa-icon>
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.comment.accept">comment</span>-->
                        </button>
                        <button type="submit" title="رد کردن"
                                [routerLink]="['/', { outlets: { popup: 'prioritize-request-niazsanji-marine-suffix/'+ prioritizeRequestNiazsanji.id + '/' + 'REJECT' + '/' + prioritizeRequestNiazsanji.priority + '/comment'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'ban'"></fa-icon>
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.comment.reject">comment</span>-->
                        </button>
                    </ng-container>
                    <button type="submit" *ngIf="isAdmin"
                            [routerLink]="['/', { outlets: { popup: 'prioritize-request-niazsanji-marine-suffix/'+ prioritizeRequestNiazsanji.id + '/delete'} }]"
                            replaceUrl="true"
                            queryParamsHandling="merge"
                            class="btn btn-danger btn-sm">
                        <fa-icon [icon]="'times'"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="20">
                    <select [(ngModel)] = "itemsPerPage">
                        <option value="10">۱۰</option>
                        <option value="20">۲۰</option>
                        <option value="50">۵۰</option>
                        <option value="100">۱۰۰</option>
                        <option value="500">۵۰۰</option>
                    </select>
                    <div class="row justify-content-center">
                        <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div *ngIf="prioritizeRequestNiazsanjis && prioritizeRequestNiazsanjis.length">
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
