<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.soldierTrainingReport.home.title">Soldier Training Reports</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-soldier-training-report-marine-suffix" [routerLink]="['/soldier-training-report-marine-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="marineindustryprojApp.soldierTrainingReport.home.createLabel">
            Create new Soldier Training Report
            </span>
        </button>
        <button class="btn btn-info btn-raised float-left" jhiTranslate="entity.action.getexcel" (click)="export()">
            <span class="fa fa-file-excel-o"></span>
            excel
        </button>
    </h2>
    <mi-alert></mi-alert>

        <search-panel [(page)]="page" [(size)]="itemsPerPage" [predicate]="predicate" [reverse]="reverse" [searchPanelModel]="searchbarModel"></search-panel>

    <br/>
    <div class="table-responsive" *ngIf="soldierTrainingReports">
        <table class="table  table-striped table-bordered table-hover table-sm">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!--<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                <th>ردیف</th>
                <th><span jhiTranslate="marineindustryprojApp.soldierTrainingReport.soldierFullName">Soldier</span> <fa-icon [icon]="'sort'"></fa-icon></th>

                <th><span jhiTranslate="marineindustryprojApp.soldierTrainingReport.soldierNationalId">Soldier</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th><span jhiTranslate="marineindustryprojApp.soldierTrainingReport.soldierReleaseDate">Soldier</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="marineindustryprojApp.soldierTrainingReport.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="personHour"><span jhiTranslate="marineindustryprojApp.soldierTrainingReport.personHour">Person Hour</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="executiveTrainingCompany"><span jhiTranslate="marineindustryprojApp.soldierTrainingReport.executiveTrainingCompany">Executive Training Company</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th><span jhiTranslate="marineindustryprojApp.soldierTrainingReport.soldierOrganizationChartTitle">Soldier</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="certificateStatus"><span jhiTranslate="marineindustryprojApp.soldierTrainingReport.certificateStatus">Certificate Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="certificateNumber"><span jhiTranslate="marineindustryprojApp.soldierTrainingReport.certificateNumber">Certificate Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="year"><span jhiTranslate="marineindustryprojApp.soldierTrainingReport.year">Year</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="month"><span jhiTranslate="marineindustryprojApp.soldierTrainingReport.month">Month</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="reportTime"><span jhiTranslate="marineindustryprojApp.soldierTrainingReport.reportTime">Report Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <!--<th jhiSortBy="fileDoc"><span jhiTranslate="marineindustryprojApp.soldierTrainingReport.fileDoc">File Doc</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="marineindustryprojApp.soldierTrainingReport.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->

            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let soldierTrainingReport of soldierTrainingReports ;let i = index">
                <!--<td><a [routerLink]="['/soldier-training-report-marine-suffix', soldierTrainingReport.id, 'view' ]">{{soldierTrainingReport.id}}</a></td>-->
                <td>{{i+1}}</td>
                <td>{{soldierTrainingReport.soldierFullName}}</td>
                <td>{{soldierTrainingReport.soldierNationalId}}</td>
                <td>{{soldierTrainingReport.soldierEmploymentDate}}</td>
                <td>{{soldierTrainingReport.title}}</td>
                <td>{{soldierTrainingReport.personHour}}</td>
                <td>{{soldierTrainingReport.executiveTrainingCompany}}</td>
                <td>{{soldierTrainingReport.soldierOrganizationChartTitle}}</td>
                <td>{{soldierTrainingReport.certificateStatus}}</td>
                <td>{{soldierTrainingReport.certificateNumber}}</td>
                <td>{{soldierTrainingReport.year}}</td>
                <td>{{soldierTrainingReport.month}}</td>
                <!--<td>{{soldierTrainingReport.reportTime}}</td>
                <td>{{soldierTrainingReport.fileDoc}}</td>
                <td>{{soldierTrainingReport.description}}</td>
                <td>{{soldierTrainingReport.createUserLogin}}</td>
                <td>{{soldierTrainingReport.createDate | date:'medium'}}</td>
                <td>{{soldierTrainingReport.modifyUserLogin}}</td>
                <td>{{soldierTrainingReport.modifyDate | date:'medium'}}</td>
                <td>{{soldierTrainingReport.guid}}</td>
                <td>
                    <div *ngIf="soldierTrainingReport.soldierId">
                        <a [routerLink]="['../soldier-marine-suffix', soldierTrainingReport.soldierId , 'view' ]" >{{soldierTrainingReport.soldierFamily}}</a>
                    </div>
                </td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <a *ngIf="soldierTrainingReport.fileDoc" title="دریافت گواهینامه" [href]="soldierTrainingReport.fileDoc | safe" target="_blank"
                           class="btn btn-default btn-sm enableLink">
                            <fa-icon [icon]="'download'"></fa-icon>
                        </a>
                        <button type="submit"
                                [routerLink]="['/soldier-training-report-marine-suffix', soldierTrainingReport.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDIT']"
                                [routerLink]="['/soldier-training-report-marine-suffix', soldierTrainingReport.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_DELETE']"
                                [routerLink]="['/', { outlets: { popup: 'soldier-training-report-marine-suffix/'+ soldierTrainingReport.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            <tr class="sum-row">
                <td colspan="5">مجموع</td>
                <td>
                    {{soldierTrainingReports | sum:'personHour' | number: '1.0-1'}}
                </td>
                <td colspan="10"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4">
                    <select [(ngModel)] = "itemsPerPage">
                        <option value="10">۱۰</option>
                        <option value="20">۲۰</option>
                        <option value="50">۵۰</option>
                        <option value="100">۱۰۰</option>
                        <option value="500">۵۰۰</option>
                    </select>
                    <div class="row justify-content-center">
                        <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                    </div>
                </td>

                <td colspan="10">

                </td>
            </tr>

            </tfoot>
        </table>
    </div>
    <div *ngIf="soldierTrainingReports && soldierTrainingReports.length">
       <!-- <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>-->
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
