<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.activationNiazsanji.home.title">Activation Niazsanjis</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-activation-niazsanji-marine-suffix" [routerLink]="['/activation-niazsanji-marine-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="marineindustryprojApp.activationNiazsanji.home.createLabel">
            Create new Activation Niazsanji
            </span>
        </button>
    </h2>
    <mi-alert></mi-alert>
    <br/>
    <div class="table-responsive" *ngIf="activationNiazsanjis">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!--<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                <th>ردیف</th>
            <th jhiSortBy="niazSanjiSource"><span jhiTranslate="marineindustryprojApp.activationNiazsanji.niazSanjiSource">Niaz Sanji Source</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isActive"><span jhiTranslate="marineindustryprojApp.activationNiazsanji.isActive">Is Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="startDate"><span jhiTranslate="marineindustryprojApp.activationNiazsanji.startDate">Start Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endDate"><span jhiTranslate="marineindustryprojApp.activationNiazsanji.endDate">End Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="description"><span jhiTranslate="marineindustryprojApp.activationNiazsanji.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="createUserLogin"><span jhiTranslate="marineindustryprojApp.activationNiazsanji.createUserLogin">Create User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="createDate"><span jhiTranslate="marineindustryprojApp.activationNiazsanji.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="modifyUserLogin"><span jhiTranslate="marineindustryprojApp.activationNiazsanji.modifyUserLogin">Modify User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyDate"><span jhiTranslate="marineindustryprojApp.activationNiazsanji.modifyDate">Modify Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let activationNiazsanji of activationNiazsanjis ;let i = index">
                <!--<td><a [routerLink]="['/activation-niazsanji-marine-suffix', activationNiazsanji.id, 'view' ]">{{activationNiazsanji.id}}</a></td>-->
                <td>{{i + 1}}</td>
                <td jhiTranslate="{{'marineindustryprojApp.NiazSanjiSource.' + (activationNiazsanji.niazSanjiSource == 'FARDI' ? 'FARDI2' : activationNiazsanji.niazSanjiSource)}}">{{activationNiazsanji.niazSanjiSource == 'FARDI' ? 'FARDI2' : activationNiazsanji.niazSanjiSource}}</td>
                <td>{{activationNiazsanji.isActive}}</td>
                <!--<td>{{activationNiazsanji.startDate | date:'medium'}}</td>
                <td>{{activationNiazsanji.endDate | date:'medium'}}</td>-->
                <td>{{activationNiazsanji.description}}</td>
                <!--<td>{{activationNiazsanji.createUserLogin}}</td>-->
                <td>{{activationNiazsanji.createDate}}</td>
                <!--<td>{{activationNiazsanji.modifyUserLogin}}</td>-->
                <!--<td>{{activationNiazsanji.modifyDate}}</td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/activation-niazsanji-marine-suffix', activationNiazsanji.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDIT']"
                                [routerLink]="['/activation-niazsanji-marine-suffix', activationNiazsanji.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_DELETE']"
                                [routerLink]="['/', { outlets: { popup: 'activation-niazsanji-marine-suffix/'+ activationNiazsanji.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="activationNiazsanjis && activationNiazsanjis.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
