<div class="footer">
    <!--<p jhiTranslate="footer">This is your footer</p>-->
    <!--<p align="center" style="font-family: IranYekan,SansSerif,IranSans;font-size: 0.7rem">
        این سامانه با بهره گیری از ظرفیت کسر خدمت و براساس نظام جامع پودمانی ودجا و براساس استاندارد آموزشی ISO 10015 و برای تسهیل در روند فرآیندهای آموزشی و بهره برداری همه کارکنان شاغل در سازمان صنایع دریایی  طراحی شده
        و کماکان در حال توسعه و بهسازی می باشد.
        معاونت منابع انسانی سازمان - مدیریت آموزش
    </p>-->
</div>
