.k-grid tr.light { color: #818182; background-color: #fefefe; }
.k-grid tr.info { background-color: #d9edf7; color: #31708f; }
.k-grid tr.success { background-color: #39a769; color: #fff; }
.k-grid tr.warning { background-color: #ffdc14; color: #000000; }
.k-grid tr.danger { background-color: #f2dede; color: #a94442; }
.k-grid tr.light:hover { color: #818182; background-color: #fefefe; }
.k-grid tr.info:hover { background-color: #d9edf7; color: #31708f; }
.k-grid tr.success:hover { background-color: #39a769; color: #fff; }
.k-grid tr.warning:hover { background-color: #ffdc14; color: #000000; }
.k-grid tr.danger:hover { background-color: #f2dede; color: #a94442; }
