<kendo-grid
    [data]="view"
    [height]="300"
    [scrollable]="true"
    [navigable]="true"
    kendoGridFocusable
>
    <kendo-grid-column field="id" title="ردیف" width="50">
    </kendo-grid-column>
    <kendo-grid-column field="nationalId" title="کد ملی" width="120">
    </kendo-grid-column>
    <kendo-grid-column field="fullName" title="نام و نام خانوادگی"  width="300">
    </kendo-grid-column>
    <kendo-grid-column field="jobTitle" title="شغل سازمانی">
    </kendo-grid-column>
</kendo-grid>
