<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.finalNiazsanjiReport.home.title">Final Niazsanji Reports</span>
        <!--<button id="jh-create-entity" class="btn btn-success float-right jh-create-entity create-final-niazsanji-report-marine-suffix" [routerLink]="['/final-niazsanji-report-marine-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="marineindustryprojApp.finalNiazsanjiReport.home.createLabel">
            Create new Final Niazsanji Report
            </span>
        </button>-->
        <!--<button class="btn btn-info float-left" jhiTranslate="entity.action.getexcel" (click)="export()">
            <span class="fa fa-file-excel-o"></span>
            excel
        </button>-->
    </h2>
    <!--<div *ngIf="_report.fileDoc">
        <hr/>
        <h2>
            <a (click)="openFile(_report.fileDocContentType, _report.fileDoc)" class="btn btn-success" id="openFileBtn" jhiTranslate="entity.action.openreport">open</a>
        </h2>
    </div>-->
    <mi-alert></mi-alert>
    <search-panel [searchPanelModel]="searchbarModel" [immediatelyLoad]="false"></search-panel>
    <div style="display: inline" class="alert alert-info">برای دیدن کلیه نیازسنجی های فردی و نیازسنجی های سازمانی پس از انتخاب سال نیازسنجی دکمه جستجو را کلیک کنید.</div>
    <div style="display: inline" class="alert alert-danger" *ngIf="message">{{message}}</div>
    <br/>
    <br/>
    <div class="card border-success">
        <a data-toggle="collapse" href="#collapseExample1" class="card-header center" style="background-color: antiquewhite;">
            <span class="panel-title">پنل تغییر گروهی به سال نیازسنجی جدید</span>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-ok"></i></span>
        </a>
        <div class="collapse" id="collapseExample1">
            <div class="card-body">
                <div class="form-group fullcover">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.finalNiazsanjiReport.selectedNiazsanjis"></label>
                    <span class="badge badge-info" *ngFor="let item of selectedFinalNiazsanjis">
                        {{item.educationalModuleTitle}} ({{item.educationalModuleCode}}) - {{item.niazsanjiYear}}
                    </span>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.finalNiazsanjiReport.niazsanjiYear"></label>
                    <select [(ngModel)] = "selectedYear" style="font-family: IranSansLight; font-size: 65%;" id="selectedYear" class="form-control float-right" name="selectedYear" *ngIf="selectedFinalNiazsanjis">
                        <option [ngValue]="year"  *ngFor="let year of years">{{year}}</option>
                    </select>
                </div>
            </div>
            <div class="card-footer text-muted success-color white-text">
                <input id="save" type="button" [disabled]="!isSaving && (!(selectedFinalNiazsanjis.length > 0) || !selectedYear)"
                       (click)="save()" class="btn-primary" value="ثبت">
            </div>
        </div>
    </div>
    <!--<div *ngIf="finalNiazsanjiReportsFardis.length == 0 && finalNiazsanjiReportsOrganizations == 0" class="row justify-content-center">
        <img src="../../../content/images/loading.gif" height="64" width="64"/>
    </div>-->
    <div class="table-responsive" *ngIf="finalNiazsanjiReportsFardis.length > 0">
        <kendo-grid
            [groupable]="true"
            [data]="gridView"
            [height]="700"
            [group]="groups"
            [groupable]="{ showFooter: true }"
            [rowClass]="rowCallback"
            (groupChange)="groupChangeFardis($event)">
            <ng-template kendoGridToolbarTemplate>
                <button type="button" kendoGridExcelCommand icon="file-excel" style="float: left" class="info">خروجی اکسل</button>
            </ng-template>
            <!--<kendo-grid-column field="id" title="شناسه" [width]="100"></kendo-grid-column>-->
            <!--<kendo-grid-column field="jobTitle" title="عنوان شغل" [width]="300"></kendo-grid-column>-->
            <!--<kendo-grid-checkbox-column title="  " field="id">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <input type="checkbox" [id]="'selectedRow_'+ dataItem.id" />
                </ng-template>
            </kendo-grid-checkbox-column>-->
            <kendo-grid-column field="id" title=" " [width]="200">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <kendo-buttongroup>
                        <input type="checkbox" [id]="'selectedFinalNiazsanjis_'+ dataItem.id" *ngIf="dataItem.status <= 10"
                               name="selectedFinalNiazsanjis" (click)="change($event, dataItem)" />
                        <button kendoButton type="submit" *ngIf="isAdmin"
                                [routerLink]="['/final-niazsanji-report-marine-suffix', dataItem.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                    </kendo-buttongroup>
                    <kendo-buttongroup type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_DELETE']"
                                       [routerLink]="['/', { outlets: { popup: 'final-niazsanji-report-marine-suffix/'+ dataItem.id + '/delete'} }]"
                                       replaceUrl="true"
                                       queryParamsHandling="merge" style="background-color: #aa0000;color: white"
                                       class="btn btn-danger btn-sm"
                    >
                        <fa-icon [icon]="'times'"></fa-icon>
                        <span class="d-none d-md-inline">حذف</span>
                    </kendo-buttongroup>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="educationalModuleTitle" title="عنوان پودمان" [width]="300"></kendo-grid-column>
            <kendo-grid-column field="educationalModuleCode" title="شناسه پودمان" [width]="100"></kendo-grid-column>
            <kendo-grid-column field="educationalModuleLevel" title="سطح" [width]="90"></kendo-grid-column>
            <kendo-grid-column field="educationalModuleTotalLearningTime" title="مدت پودمان" [width]="100">
                <ng-template
                    kendoGridFooterTemplate
                    let-column="column">جمع کل (نفر ساعت): {{total | number}}</ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="courseTypeTitle" title="نوع دوره" [width]="100"></kendo-grid-column>

            <!--<kendo-grid-column field="finalizeCost" title="سرمایه گذاری پایانی" [width]="100"></kendo-grid-column>-->
            <kendo-grid-column field="personFullName" title="نام و نام خانوادگی متقاضی" [width]="250"></kendo-grid-column>
            <kendo-grid-column field="personJobTitle" title="عنوان شغل متقاضی" [width]="200"></kendo-grid-column>
            <kendo-grid-column field="finalizeCost"  format="{0:n0}" title="سرمایه گذاری صرف شده" [width]="200">
                <ng-template
                    kendoGridFooterTemplate
                    let-column="column">جمع کل: {{totalFinalizeCost | number}}</ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="priceCost" format="{0:n0}" title="سرمایه گذاری اولیه" [width]="200">
                <ng-template
                    kendoGridFooterTemplate
                    let-column="column">جمع کل: {{totalCost | number}}</ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="niazsanjiYear" title="سال نیازسنجی" [width]="100"></kendo-grid-column>
            <kendo-grid-column field="planningRunMonthPersian" title="ماه برنامه ریزی" [width]="100"></kendo-grid-column>
            <kendo-grid-column field="runMonthPersian" title="ماه اجرا" [width]="100"></kendo-grid-column>
            <kendo-grid-column field="modifyPerson" title="ویرایش کننده" [width]="200"></kendo-grid-column>
            <kendo-grid-column field="modifyDate" title="تاریخ ویرایش" [width]="150"></kendo-grid-column>
            <kendo-grid-column field="id" title="شناسه یکتا" [width]="150"></kendo-grid-column>
            <kendo-grid-column field="organizationChartTitle" title="محل خدمت" [width]="500"></kendo-grid-column>
            <kendo-grid-excel fileName="run-phase-fardi-report.xlsx">
                <kendo-excelexport-column field="organizationChartTitle" title="محل خدمت" [width]="300"></kendo-excelexport-column>
                <kendo-excelexport-column field="educationalModuleTitle" title="عنوان پودمان" [width]="300"></kendo-excelexport-column>
                <kendo-excelexport-column field="educationalModuleCode" title="شناسه پودمان" [width]="100"></kendo-excelexport-column>
                <kendo-excelexport-column field="educationalModuleLevel" title="سطح" [width]="200"></kendo-excelexport-column>
                <kendo-excelexport-column field="educationalModuleTotalLearningTime" title="مدت پودمان" [width]="100"></kendo-excelexport-column>
                <kendo-excelexport-column field="courseTypeTitle" title="نوع دوره" [width]="200"></kendo-excelexport-column>
                <kendo-excelexport-column field="personFullName" title="نام و نام خانوادگی متقاضی" [width]="200"></kendo-excelexport-column>
                <kendo-excelexport-column field="personJobTitle" title="عنوان شغل متقاضی" [width]="200"></kendo-excelexport-column>
                <kendo-excelexport-column field="finalizeCost" title="سرمایه گذاری صرف شده" [width]="200"></kendo-excelexport-column>
                <kendo-excelexport-column field="priceCost" title="سرمایه گذاری اولیه" [width]="100"></kendo-excelexport-column>
                <kendo-excelexport-column field="niazsanjiYear" title="سال نیازسنجی" [width]="100"></kendo-excelexport-column>
                <kendo-excelexport-column field="runMonthPersian" title="ماه اجرا" [width]="100"></kendo-excelexport-column>
                <kendo-excelexport-column field="modifyPerson" title="ویرایش کننده" [width]="100"></kendo-excelexport-column>
                <kendo-excelexport-column field="modifyDate" title="تاریخ ویرایش" [width]="100"></kendo-excelexport-column>
                <kendo-excelexport-column field="id" title="شناسه یکتا" [width]="100"></kendo-excelexport-column>
            </kendo-grid-excel>
        </kendo-grid>
    </div>
    <div class="table-responsive" *ngIf="finalNiazsanjiReportsOrganizations.length > 0">
        <kendo-grid
            [groupable]="true"
            [data]="gridViewOrg"
            [height]="700"
            [group]="groupsOrg"
            [groupable]="{ showFooter: true }"
            [navigable]="true"
            (groupChange)="groupChangeOrgs($event)"
            [rowClass]="rowCallback"
            >
            <!--(excelExport)="onExcelExport($event)"-->
            <ng-template kendoGridToolbarTemplate>
                <button type="button" kendoGridExcelCommand icon="file-excel" style="float: left" class="info">خروجی اکسل</button>
            </ng-template>
            <!--<kendo-grid-column field="id" title="شناسه" [width]="100"></kendo-grid-column>-->
            <!--<kendo-grid-column field="jobTitle" title="عنوان شغل" [width]="300"></kendo-grid-column>-->
            <kendo-grid-column field="id" title=" " [width]="200">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <input type="checkbox" [id]="'selectedFinalNiazsanjis_'+ dataItem.id" *ngIf="dataItem.status <= 10"
                           name="selectedFinalNiazsanjis" (click)="change($event, dataItem)" />
                    <kendo-buttongroup>
                        <button kendoButton type="submit" *ngIf="isAdmin"
                                [routerLink]="['/final-niazsanji-report-marine-suffix', dataItem.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                    </kendo-buttongroup>
                    <kendo-buttongroup type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_DELETE']"
                                       [routerLink]="['/', { outlets: { popup: 'final-niazsanji-report-marine-suffix/'+ dataItem.id + '/delete'} }]"
                                       replaceUrl="true"
                                       queryParamsHandling="merge" style="background-color: #aa0000;color: white"
                                       class="btn btn-danger btn-sm"
                    >
                        <fa-icon [icon]="'times'"></fa-icon>
                        <span class="d-none d-md-inline">حذف</span>
                    </kendo-buttongroup>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="educationalModuleTitle" title="عنوان پودمان" [width]="200"></kendo-grid-column>
            <kendo-grid-column field="educationalModuleCode" title="شناسه پودمان" [width]="100"></kendo-grid-column>
            <kendo-grid-column field="educationalModuleLevel" title="سطح" [width]="100"></kendo-grid-column>
            <kendo-grid-column field="peopleCount" title="تعداد" [width]="100"></kendo-grid-column>
            <kendo-grid-column field="educationalModuleTotalLearningTime" title="مدت پودمان" [width]="100">

                <ng-template
                    kendoGridFooterTemplate
                    let-column="column">جمع کل (نفر ساعت): {{total | number}}</ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="courseTypeTitle" title="نوع دوره" [width]="100"></kendo-grid-column>
            <kendo-grid-column field="finalizeCost" format="{0:n0}" title="سرمایه گذاری صرف شده" [width]="150">
                <ng-template
                    kendoGridFooterTemplate
                    let-column="column">جمع کل: {{totalFinalizeCost | number}}</ng-template>
            </kendo-grid-column>

            <!--<kendo-grid-column field="personFullName" title="نام و نام خانوادگی متقاضی" [width]="300"></kendo-grid-column>
            <kendo-grid-column field="personJobTitle" title="عنوان شغل متقاضی" [width]="300"></kendo-grid-column>-->
            <kendo-grid-column field="priceCost" format="{0:n0}" title="سرمایه گذاری اولیه" [width]="150">
                <ng-template
                    kendoGridFooterTemplate
                    let-column="column">جمع کل: {{totalCost | number}}</ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="niazsanjiYear" title="سال نیازسنجی" [width]="100"></kendo-grid-column>
            <kendo-grid-column field="planningRunMonthPersian" title="ماه برنامه ریزی" [width]="100"></kendo-grid-column>
            <kendo-grid-column field="runMonthPersian" title="ماه اجرا" [width]="100"></kendo-grid-column>
            <kendo-grid-column field="modifyPerson" title="ویرایش کننده" [width]="200"></kendo-grid-column>
            <kendo-grid-column field="modifyDate" title="تاریخ ویرایش" [width]="150"></kendo-grid-column>
            <!--<div *kendoGridDetailTemplate="let dataItem">
                <mi-final-niazsanji-report-marine-suffix-detail-people [people]="dataItem.people"></mi-final-niazsanji-report-marine-suffix-detail-people>
            </div>-->
            <kendo-grid-column field="id" title="شناسه یکتا" [width]="150"></kendo-grid-column>
            <kendo-grid-column field="organizationChartTitle" title="محل خدمت" [width]="500"></kendo-grid-column>
            <kendo-grid-excel fileName="run-phase-organization-report.xlsx">
                <kendo-excelexport-column field="organizationChartTitle" title="محل خدمت" [width]="300"></kendo-excelexport-column>
                <kendo-excelexport-column field="educationalModuleTitle" title="عنوان پودمان" [width]="300"></kendo-excelexport-column>
                <kendo-excelexport-column field="educationalModuleCode" title="شناسه پودمان" [width]="100"></kendo-excelexport-column>
                <kendo-excelexport-column field="educationalModuleLevel" title="سطح" [width]="200"></kendo-excelexport-column>
                <kendo-excelexport-column field="educationalModuleTotalLearningTime" title="مدت پودمان" [width]="100"></kendo-excelexport-column>
                <kendo-excelexport-column field="courseTypeTitle" title="نوع دوره" [width]="100"></kendo-excelexport-column>
                <kendo-excelexport-column field="finalizeCost" title="سرمایه گذاری صرف شده" [width]="100"></kendo-excelexport-column>
                <kendo-excelexport-column field="priceCost" format="{0:n0}" title="سرمایه گذاری اولیه" [width]="150"></kendo-excelexport-column>
                <kendo-excelexport-column field="niazsanjiYear" title="سال نیازسنجی" [width]="100"></kendo-excelexport-column>
                <kendo-excelexport-column field="planningRunMonthPersian" title="ماه برنامه ریزی" [width]="100"></kendo-excelexport-column>
                <kendo-excelexport-column field="runMonthPersian" title="ماه اجرا" [width]="100"></kendo-excelexport-column>
                <kendo-excelexport-column field="modifyPerson" title="ویرایش کننده" [width]="100"></kendo-excelexport-column>
                <kendo-excelexport-column field="modifyDate" title="تاریخ ویرایش" [width]="100"></kendo-excelexport-column>
                <kendo-excelexport-column field="id" title="َشناسه یکتا" [width]="100"></kendo-excelexport-column>
                <kendo-excelexport-column field="peopleCount" title="تعداد شرکت کنندگان" [width]="100"></kendo-excelexport-column>
                <!--<kendo-excelexport-column field="peopleFullNames" title="شرکت کنندگان" [width]="10000"></kendo-excelexport-column>-->
               <!-- <div *kendoGridDetailTemplate="let dataItem">
                    <mi-final-niazsanji-report-marine-suffix-detail-people [people]="dataItem.people"></mi-final-niazsanji-report-marine-suffix-detail-people>
                </div>-->
            </kendo-grid-excel>
        </kendo-grid>
    </div>

</div>
