<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="mi-final-niazsanji-report-marine-suffix-heading" jhiTranslate="marineindustryprojApp.finalNiazsanjiReport.home.createOrEditLabel">Create or edit a Final Niazsanji Report</h2>
            <div>
                <mi-alert-error></mi-alert-error>
                <div class="form-group" [hidden]="!finalNiazsanjiReport.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="finalNiazsanjiReport.id" readonly />
                </div>
                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">اطلاعات اولیه نیازسنجی</div></div>
                <div class="form-group bighalf">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.finalNiazsanjiReport.organizationChartId" for="field_organizationChart">Recommended By Orgchart</label>
                    <ng-select
                        [items]="organizationCharts"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [required]="true"
                        [disabled]="false"
                        bindLabel="fullTitle"
                        bindValue="id"
                        placeholder="انتخاب نمائید."
                        name="organizationChart"
                        id="field_organizationChart"
                        [(ngModel)]="finalNiazsanjiReport.organizationChartId">
                </div>
                <div class="form-group">
                    <a (click)="change('educational-module-marine-suffix')" class="form-control-label" jhiTranslate="marineindustryprojApp.finalNiazsanjiReport.educationalModule" for="field_educationalModule">Educational Module</a>
                    <!--<select class="form-control" id="field_educationalModule" name="educationalModule" [(ngModel)]="finalOrganizationNiazsanji.educationalModuleId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="educationalModuleOption.id" *ngFor="let educationalModuleOption of educationalmodules; trackBy: trackEducationalModuleById">{{educationalModuleOption.title}}</option>
                    </select>-->
                    <ng-select
                        [items]="educationalmodules"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [required]="true"
                        bindLabel="fullTitle"
                        bindValue="id"
                        placeholder="پودمان آموزشی"
                        name="educationalModule"
                        id="field_educationalModule"
                        [(ngModel)]="finalNiazsanjiReport.educationalModuleId">
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.finalNiazsanjiReport.courseType" for="field_courseType">Course Type</label>
                    <select class="form-control" id="field_courseType" name="courseType" [(ngModel)]="finalNiazsanjiReport.courseTypeId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="courseTypeOption.id" *ngFor="let courseTypeOption of coursetypes">{{courseTypeOption.title}}</option>
                    </select>
                </div>
                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">اطلاعات افراد شرکت کننده</div></div>
                <a [href]="editPeopleLink" class="enableLink btn btn-info">تصحیح افراد شرکت کننده</a>
                <!--<div class="form-group bighalf">
                    <a (click)="change('person-marine-suffix')" jhiTranslate="marineindustryprojApp.finalNiazsanjiReport.person" for="field_person">Person</a>
                    &lt;!&ndash;<select class="form-control" id="field_person" multiple name="person" [(ngModel)]="finalOrganizationNiazsanji.people">
                        <option [ngValue]="getSelected(finalOrganizationNiazsanji.people, personOption)" *ngFor="let personOption of people; trackBy: trackPersonById">{{personOption.family}}</option>
                    </select>&ndash;&gt;
                    <ng-select
                        [items]="people"
                        [multiple]="true"
                        [closeOnSelect]="false"
                        [searchable]="true"
                        [required]="true"
                        bindLabel="fullName"
                        placeholder="انتخاب نمائید."
                        name="person"
                        id="field_person"
                        [(ngModel)]="selectedPeople">
                </div>-->
                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">اطلاعات تکمیلی نیازسنجی</div></div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.finalNiazsanjiReport.priceCost" for="field_priceCost">Price Cost</label>
                    <input type="number" maxlength="50" jhiMax="2000000000" max="2000000000" min="0" jhiMin="0" class="form-control" name="priceCost" id="field_priceCost"
                           [(ngModel)]="finalNiazsanjiReport.priceCost" />
                    <div [hidden]="!(editForm.controls.priceCost?.dirty && editForm.controls.priceCost?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.priceCost?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 2000000000 }">
                            This field cannot be more than 2000000000.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.priceCost?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.finalNiazsanjiReport.description" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                              [(ngModel)]="finalNiazsanjiReport.description" maxlength="4096" ></textarea>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                            This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
                <button type="button" title="مدارک" *ngIf="finalNiazsanjiReport.id"
                        (click)="change('document-marine-suffix/finalniazsanjireport/'+finalNiazsanjiReport.id)"
                        class="btn btn-warning pull-left">
                    <span>مدارک</span>
                    <span class="fa fa-file"></span>
                </button>
            </div>

        </form>
    </div>
</div>
