<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="mi-application-process-marine-suffix-heading" jhiTranslate="marineindustryprojApp.applicationProcess.home.createOrEditLabel">Create or edit a Application Process</h2>
            <div>
                <mi-alert-error></mi-alert-error>
                <div class="form-group" [hidden]="!applicationProcess.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="applicationProcess.id" readonly />
                </div>
                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">مشخصات متقاضی</div></div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.applicationProcess.person" for="field_person">Person</label>
                    <ng-select
                        [items]="allPeople"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [required]="true"
                        [disabled]="orgChartDisabled"
                        (change)="onPersonChange($event)"
                        bindLabel="fullName"
                        bindValue="id"
                        placeholder="انتخاب نمائید."
                        name="person"
                        id="field_person"
                        [(ngModel)]="applicationProcess.personId" >
                </div>
                <div [hidden]="!(editForm.controls.person?.dirty && editForm.controls.person?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.person?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.person.fatherName"></label>
                    <label class="form-control">{{selectedPerson.fatherName}}</label>
                </div>
                <div class="form-group">
                    <img *ngIf="!isNewImage" [src]="oldPicUrl | safe" style="width: 150px;height: 150px; float: left" />
                    <img *ngIf="isNewImage" [src]="picUrl | safe" style="width: 150px;height: 150px; float: left" />
                </div>
                <div class="form-group bighalf">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.applicationProcess.organizationChart" for="field_organizationChart">Organization Chart</label>

                    <ng-select
                        [items]="organizationcharts"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [required]="true"
                        [disabled]="true"
                        bindLabel="fullTitle"
                        bindValue="id"
                        placeholder="انتخاب نمائید."
                        name="organizationChart"
                        id="field_organizationChart"
                        [(ngModel)]="applicationProcess.organizationChartId">
                </div>
                <br/>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.person.birthDate"></label>
                    <label class="form-control">{{selectedPerson.birthDate}}</label>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.person.employmentDate"></label>
                    <label class="form-control">{{selectedPerson.employmentDate}}</label>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.person.employmentType"></label>
                    <label class="form-control">{{selectedPerson.employmentTypeTitle}}</label>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.person.jobTitle"></label>
                    <label class="form-control">{{selectedPerson.jobTitle}}</label>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.person.practicaljobTitle"></label>
                    <label class="form-control">{{selectedPerson.practicaljobTitle}}</label>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.applicationProcess.jobAfterProcess" for="field_jobAfterProcess">Job After Process</label>
                    <input type="text" class="form-control" name="jobAfterProcess" id="field_jobAfterProcess"
                           [(ngModel)]="applicationProcess.jobAfterProcess" maxlength="4096"/>
                    <div [hidden]="!(editForm.controls.jobAfterProcess?.dirty && editForm.controls.jobAfterProcess?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.jobAfterProcess?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                            This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
                <div class="dataTable">
                    <h4>سوابق شغلی (از بدو استخدام تاکنون)</h4>
                    <div class="table-responsive" *ngIf="jobRecords">
                        <table class="table table-striped table-bordered table-hover table-sm">
                            <thead>
                            <tr>
                                <!--<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> </th>-->
                                <th>ردیف</th>
                                <th><span jhiTranslate="marineindustryprojApp.jobRecord.workOrganization">Work Organization</span> </th>
                                <th><span jhiTranslate="marineindustryprojApp.jobRecord.workSection">Work Section</span> </th>
                                <th><span jhiTranslate="marineindustryprojApp.jobRecord.jobResponsibility">Job Responsibility</span> </th>
                                <th><span jhiTranslate="marineindustryprojApp.jobRecord.jobPosition">Job Position</span> </th>
                                <th><span jhiTranslate="marineindustryprojApp.jobRecord.startDate">Start Date</span> </th>
                                <th><span jhiTranslate="marineindustryprojApp.jobRecord.endDate">End Date</span> </th>
                                <th><span jhiTranslate="marineindustryprojApp.jobRecord.leaveReason">Leave Reason</span> </th>
                                <!--<th jhiSortBy="description"><span jhiTranslate="marineindustryprojApp.jobRecord.description">Description</span> </th>-->
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let jobRecord of jobRecords ;let i = index">
                                <!--<td><a [routerLink]="['/job-record-marine-suffix', jobRecord.id, 'view' ]">{{jobRecord.id}}</a></td>-->
                                <td>{{i+1}}</td>
                                <td>{{jobRecord.workOrganization}}</td>
                                <td>{{jobRecord.workSection}}</td>
                                <td>{{jobRecord.jobResponsibility}}</td>
                                <td>{{jobRecord.jobPosition}}</td>
                                <!--<td>{{jobRecord.totalHour}}</td>-->
                                <td>{{jobRecord.startDate}}</td>
                                <td>{{jobRecord.endDate}}</td>
                                <td>{{jobRecord.leaveReason}}</td>
                                <!--<td>{{jobRecord.description}}</td>-->
                                <!--<td>{{jobRecord.createUserLogin}}</td>
                                <td>{{jobRecord.createDate | date:'medium'}}</td>
                                <td>{{jobRecord.modifyUserLogin}}</td>
                                <td>{{jobRecord.modifyDate | date:'medium'}}</td>
                                <td>{{jobRecord.guid}}</td>
                                <td>
                                    <div *ngIf="jobRecord.personId">
                                        <a [routerLink]="['../person-marine-suffix', jobRecord.personId , 'view' ]" >{{jobRecord.personFamily}}</a>
                                    </div>
                                </td>-->
                                <!--<td class="text-right">
                                    <button type="submit"
                                            [routerLink]="['/job-record-marine-suffix', 'edit', jobRecord.id]"
                                            class="btn btn-primary btn-sm">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                    </button>
                                    <button type="submit"
                                            [routerLink]="['/', { outlets: { popup: 'job-record-marine-suffix/' + 'delete/'+ jobRecord.id} }]"
                                            replaceUrl="true"
                                            queryParamsHandling="merge"
                                            class="btn btn-danger btn-sm">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                    </button>
                                </td>-->

                            </tr>
                            <!--<tr>
                                <td colspan="20">

                        <span>
                            &lt;!&ndash;<fa-icon [icon]="'plus'"></fa-icon>&nbsp;افزودن سابقه شغلی&ndash;&gt;
                            <a id="jh-create-entity" class="enableLink" [href]="'#/job-record-marine-suffix/new/' + person.guid">
                                <fa-icon [icon]="'plus'"></fa-icon>
                                افزودن سابقه شغلی
                            </a>
                        </span>
                                </td>
                            </tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">سوابق</div></div>
                <button class="btn btn-info" *ngIf="applicationProcess.personId"
                        (click)="change('person-educational-records-marine-suffix?personId=' + applicationProcess.personId)">
                    مشاهده شناسنامه آموزشی
                </button>
                <education-history-panel [personId]="applicationProcess.personId" [type]="isTopUsers ? 3 : 1"
                                         (homePagePersonEducationalModulesOutput)="homePagePersonEducationalModulesChanged($event)"
                                         [(selectedItemIds)]="selectedItemIds" (selectedItemIdsChange)="selectedItemIdsChanged($event)"
                ></education-history-panel>

                <table class="table table-striped  table-bordered table-hover table-sm"
                       *ngIf="homePagePersonEducationalModules">
                    <thead>
                    <th>ردیف</th>
                    <th>نوع دوره</th>
                    <th>جمع</th>
                    <th>تایید شده</th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of aggregateTable; let i = index">
                        <td>{{i+1}}</td>
                        <td>
                            {{item.title}}
                        </td>
                        <td>
                            {{item.sum | number}}
                        </td>
                        <td>
                            {{item.acceptedSum | number}}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">مشخصات تحصیلی</div></div>
                <div class="dataTable">
                    <h4>سوابق تحصیلی</h4>
                    <div class="table-responsive" *ngIf="educationalRecords">
                        <table class="table table-striped table-bordered table-hover table-sm">
                            <thead>
                            <tr>
                                <!--<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> </th>-->
                                <th>ردیف</th>
                                <th><span jhiTranslate="marineindustryprojApp.educationalRecord.qualificationText">Qualification Text</span> </th>
                                <th><span jhiTranslate="marineindustryprojApp.educationalRecord.fieldOfStudyText">Field Of Study Text</span> </th>
                                <th><span jhiTranslate="marineindustryprojApp.educationalRecord.educationalCenterText">Educational Center Text</span> </th>
                                <th><span jhiTranslate="marineindustryprojApp.educationalRecord.totalAverage">Total Average</span> </th>
                                <th><span jhiTranslate="marineindustryprojApp.educationalRecord.startDate">Start Date</span> </th>
                                <th><span jhiTranslate="marineindustryprojApp.educationalRecord.endDate">End Date</span> </th>
                                <th><span jhiTranslate="marineindustryprojApp.educationalRecord.description">Description</span> </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let educationalRecord of educationalRecords ;let i = index">
                                <td>{{i+1}}</td>
                                <td>{{educationalRecord.qualificationText}}</td>
                                <td>{{educationalRecord.fieldOfStudyText}}</td>
                                <td>{{educationalRecord.educationalCenterText}}</td>
                                <td>{{educationalRecord.totalAverage}}</td>
                                <td>{{educationalRecord.startDate}}</td>
                                <td>{{educationalRecord.endDate}}</td>
                                <td>{{educationalRecord.description}}</td>
                                <!--<td class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <a *ngIf="educationalRecord.fileDoc" title="دریافت مدرک" [href]="educationalRecord.fileDoc | safe" target="_blank"
                                           class="btn btn-default btn-sm enableLink">
                                            <fa-icon [icon]="'download'"></fa-icon>
                                        </a>
                                        <button type="submit" *ngIf="isTopUsers || isRoleEdit"
                                                [routerLink]="['/educational-record-marine-suffix', 'edit', educationalRecord.id]"
                                                class="btn btn-primary btn-sm">
                                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                        </button>
                                        <button type="submit" *ngIf="isTopUsers || isRoleDelete"
                                                [routerLink]="['/', { outlets: { popup: 'educational-record-marine-suffix/' + 'delete/'+ educationalRecord.id} }]"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-danger btn-sm">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                        </button>
                                    </div>
                                </td>-->
                            </tr>
                            <!--<tr>
                                <td colspan="20">
                            <span>
                                &lt;!&ndash;<fa-icon [icon]="'plus'"></fa-icon>&nbsp;افزودن سابقه شغلی&ndash;&gt;
                                <a class="enableLink" [href]="'#/educational-record-marine-suffix/new/' + person.guid">
                                    <fa-icon [icon]="'plus'"></fa-icon>
                                    افزودن سابقه تحصیلی
                                </a>
                            </span>
                                </td>
                            </tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.applicationProcess.acceptedUniversityAndDegree" for="field_acceptedUniversityAndDegree">Accepted University And Degree</label>
                    <input type="text" class="form-control" name="acceptedUniversityAndDegree" id="field_acceptedUniversityAndDegree"
                           [(ngModel)]="applicationProcess.acceptedUniversityAndDegree" maxlength="4096"/>
                    <div [hidden]="!(editForm.controls.acceptedUniversityAndDegree?.dirty && editForm.controls.acceptedUniversityAndDegree?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.acceptedUniversityAndDegree?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                            This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.applicationProcess.startStudyDate" for="field_startStudyDate">Start Study Date</label>
                    <!--<input type="text" class="form-control" name="startStudyDate" id="field_startStudyDate"
                           [(ngModel)]="applicationProcess.startStudyDate" maxlength="50"/>-->
                    <kendo-maskedtextbox
                        [includeLiterals]="true"
                        required="false"
                        [(ngModel)]="applicationProcess.startStudyDate"
                        name="dateOfStart"
                        class="form-control"
                        id="field_startStudyDate"
                        (blur)="checkStartStudyDateValidation($event)"
                        mask="0000/00/00">
                    </kendo-maskedtextbox>
                    <span *ngIf="startStudyDate == 1" class="alert-success">تاریخ معتبر است</span>
                    <span *ngIf="startStudyDate == 2" class="alert-danger">تاریخ نامعتبر است</span>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.applicationProcess.graduateDateOfNewCourse" for="field_graduateDateOfNewCourse">Graduate Date Of New Course</label>
                    <!--<input type="text" class="form-control" name="graduateDateOfNewCourse" id="field_graduateDateOfNewCourse"
                           [(ngModel)]="applicationProcess.graduateDateOfNewCourse" maxlength="4096"/>-->
                    <kendo-maskedtextbox
                        [includeLiterals]="true"
                        required="false"
                        [(ngModel)]="applicationProcess.graduateDateOfNewCourse"
                        name="dateOfStart"
                        class="form-control"
                        id="field_graduateDateOfNewCourse"
                        (blur)="checkGraduateDateOfNewCourseValidation($event)"
                        mask="0000/00/00">
                    </kendo-maskedtextbox>
                    <span *ngIf="graduateDateOfNewCourse == 1" class="alert-success">تاریخ معتبر است</span>
                    <span *ngIf="graduateDateOfNewCourse == 2" class="alert-danger">تاریخ نامعتبر است</span>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.applicationProcess.averagePointOfNewCourse" for="field_averagePointOfNewCourse">Average Point Of New Course</label>
                    <input type="text" class="form-control" name="averagePointOfNewCourse" id="field_averagePointOfNewCourse"
                           [(ngModel)]="applicationProcess.averagePointOfNewCourse" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.averagePointOfNewCourse?.dirty && editForm.controls.averagePointOfNewCourse?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.averagePointOfNewCourse?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.applicationProcess.acceptedMajorAndField" for="field_acceptedMajorAndField">Accepted Major And Field</label>
                    <input type="text" class="form-control" name="acceptedMajorAndField" id="field_acceptedMajorAndField"
                           [(ngModel)]="applicationProcess.acceptedMajorAndField" maxlength="4096"/>
                    <div [hidden]="!(editForm.controls.acceptedMajorAndField?.dirty && editForm.controls.acceptedMajorAndField?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.acceptedMajorAndField?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                            This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>

                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">سابقه استفاده از تسهیلات</div></div>
                <div class="alert alert-info">
                    <img src="/content/images/info.png" style="max-width: 25px; vertical-align: bottom;" />
                    <span>نکته: همکاران محترم اول می بایست اطلاعات و سوابق تحصیلی خود را با مراجعه به پنل شناسنامه آموزشی کارکنان تکمیل نمائید.</span>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.applicationProcess.haveUsedEducationalFacilities" for="field_haveUsedEducationalFacilities">Have Used Educational Facilities</label>
                    <input type="checkbox" class="form-control" name="haveUsedEducationalFacilities" id="field_haveUsedEducationalFacilities"
                           [(ngModel)]="applicationProcess.haveUsedEducationalFacilities" />
                </div><!--
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.applicationProcess.educationalRecord" for="field_educationalRecord">Educational Record</label>
                    <select class="form-control" id="field_educationalRecord" name="educationalRecord" [(ngModel)]="applicationProcess.educationalRecordId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="educationalRecordOption.id" *ngFor="let educationalRecordOption of educationalrecords; trackBy: trackEducationalRecordById">{{educationalRecordOption.qualificationText}}</option>
                    </select>
                </div>-->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.applicationProcess.qualification" for="field_qualification">Qualification</label>
                    <select class="form-control" id="field_qualification" name="qualification" [(ngModel)]="applicationProcess.qualificationId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="qualificationOption.id" *ngFor="let qualificationOption of qualifications; trackBy: trackQualificationById">{{qualificationOption.title}}</option>
                    </select>
                </div>
                <br/>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.applicationProcess.dateOfAcceptanceOfDegree" for="field_dateOfAcceptanceOfDegree">Date Of Acceptance Of Degree</label>
                    <!--<input type="text" class="form-control" name="dateOfAcceptanceOfDegree" id="field_dateOfAcceptanceOfDegree"
                           [(ngModel)]="applicationProcess.dateOfAcceptanceOfDegree" maxlength="50"/>-->
                    <kendo-maskedtextbox
                        [includeLiterals]="true"
                        required="false"
                        [(ngModel)]="applicationProcess.dateOfAcceptanceOfDegree"
                        name="dateOfStart"
                        class="form-control"
                        id="field_dateOfAcceptanceOfDegree"
                        (blur)="checkDateOfAcceptanceOfDegreeValidation($event)"
                        mask="0000/00/00">
                    </kendo-maskedtextbox>
                    <span *ngIf="dateOfAcceptanceOfDegree == 1" class="alert-success">تاریخ معتبر است</span>
                    <span *ngIf="dateOfAcceptanceOfDegree == 2" class="alert-danger">تاریخ نامعتبر است</span>

                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.applicationProcess.typeAndAmountOfFacilities" for="field_typeAndAmountOfFacilities">Type And Amount Of Facilities</label>
                    <input type="text" class="form-control" name="typeAndAmountOfFacilities" id="field_typeAndAmountOfFacilities"
                           [(ngModel)]="applicationProcess.typeAndAmountOfFacilities" maxlength="4096"/>
                    <div [hidden]="!(editForm.controls.typeAndAmountOfFacilities?.dirty && editForm.controls.typeAndAmountOfFacilities?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.typeAndAmountOfFacilities?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                            This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.applicationProcess.academicCommitmentsFulfilled" for="field_academicCommitmentsFulfilled">Academic Commitments Fulfilled</label>
                    <input type="text" class="form-control" name="academicCommitmentsFulfilled" id="field_academicCommitmentsFulfilled"
                           [(ngModel)]="applicationProcess.academicCommitmentsFulfilled" maxlength="4096"/>
                    <div [hidden]="!(editForm.controls.academicCommitmentsFulfilled?.dirty && editForm.controls.academicCommitmentsFulfilled?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.academicCommitmentsFulfilled?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                            This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.applicationProcess.remainingAcademicCommitments" for="field_remainingAcademicCommitments">Remaining Academic Commitments</label>
                    <input type="text" class="form-control" name="remainingAcademicCommitments" id="field_remainingAcademicCommitments"
                           [(ngModel)]="applicationProcess.remainingAcademicCommitments" maxlength="4096"/>
                    <div [hidden]="!(editForm.controls.remainingAcademicCommitments?.dirty && editForm.controls.remainingAcademicCommitments?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.remainingAcademicCommitments?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                            This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.applicationProcess.haveUsedEducationalFacilitiesDescription" for="field_haveUsedEducationalFacilitiesDescription">Have Used Educational Facilities Description</label>
                    <textarea type="text" class="form-control" name="haveUsedEducationalFacilitiesDescription" id="field_haveUsedEducationalFacilitiesDescription"
                              [(ngModel)]="applicationProcess.haveUsedEducationalFacilitiesDescription" maxlength="4096"> </textarea>
                    <div [hidden]="!(editForm.controls.haveUsedEducationalFacilitiesDescription?.dirty && editForm.controls.haveUsedEducationalFacilitiesDescription?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.haveUsedEducationalFacilitiesDescription?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                            This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">تسهیلات درخواستی</div></div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.applicationProcess.requestedFacilitiesText" for="field_requestedFacilitiesText">Requested Facilities Text</label>
                    <input type="text" class="form-control" name="requestedFacilitiesText" id="field_requestedFacilitiesText"
                           [(ngModel)]="applicationProcess.requestedFacilitiesText" maxlength="4096"/>
                    <div [hidden]="!(editForm.controls.requestedFacilitiesText?.dirty && editForm.controls.requestedFacilitiesText?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.requestedFacilitiesText?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                            This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.applicationProcess.requestedFacilitiesDescription" for="field_requestedFacilitiesDescription">Requested Facilities Description</label>
                    <textarea type="text" class="form-control" name="requestedFacilitiesDescription" id="field_requestedFacilitiesDescription"
                              [(ngModel)]="applicationProcess.requestedFacilitiesDescription" maxlength="4096"></textarea>
                    <div [hidden]="!(editForm.controls.requestedFacilitiesDescription?.dirty && editForm.controls.requestedFacilitiesDescription?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.requestedFacilitiesDescription?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                            This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">گام های فرآیند درخواست ادامه تحصیل</div></div>
                <div *ngIf="isAdmin">
                    <a href="#/application-process-step-marine-suffix" [ngClass]="{'enableLink': isAdmin}" class="btn btn-warning">
                        <span class="fa fa-file"></span>
                        <span class="d-none d-md-inline">ثبت مراحل  فرآیند درخواست ادامه تحصیل</span>
                    </a>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a *ngFor="let item of runPhaseTabModel" class="nav-item nav-link" style="color: white" [ngClass]="{'active': item.active}" [ngStyle]="{'background-color': item.colorText}" [id]="'nav-' + item.id" data-toggle="tab" [href]="item.href"  role="tab" >{{item.title}}</a>
                                <!--<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Project Tab 1</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Project Tab 2</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Project Tab 3</a>-->
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div *ngFor="let tab of runPhaseTabModel" class="tab-pane fade" [ngClass]="{'active show': tab.active}"  [id]="tab.id" role="tabpanel">
                                <table class="table" cellspacing="0" border="0">
                                    <thead>
                                    <tr>
                                        <th>ردیف</th>
                                        <th style="width:30%">عنوان</th>
                                        <th style="width:3%">فایل نمونه</th>
                                        <th>انجام شده؟</th>
                                        <th>بارگذاری فایل</th>
                                        <th>توضیحات انجام کار</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of tab.runPhaseItems; let i = index" [ngClass]="{'success': item.checked && item.fileDoc, 'warning': item.checked && !item.fileDoc, 'danger': !item.checked}">
                                        <td>
                                            {{i+1}}
                                        </td>
                                        <td style="font-size: 15px;">
                                            <label>{{item.title}}</label>
                                            <span class="badge badge-danger" *ngIf="item.required"> انجام اجباری</span>
                                            <span class="badge badge-danger" *ngIf="item.fileDocRequired"> بارگذاری فایل اجباری</span>
                                            <button type="button" *ngIf="item.description" class="small btn-success" [title]="item.description">
                                                <fa-icon [icon]="'question'"></fa-icon>
                                            </button>
                                        </td>
                                        <td>
                                            <label>
                                                <a *ngIf="item.sampleFileDoc" title="دریافت فایل نمونه" [href]="item.sampleFileDoc | safe" target="_blank"
                                                   class="btn btn-default btn-sm enableLink">
                                                    <fa-icon [icon]="'download'"></fa-icon>
                                                </a>
                                            </label>
                                        </td>
                                        <td>
                                            <input type="checkbox" [id]="'chk-' + item.id" [name]="'chk-' + item.id" [checked]="item.checked" [alt]="item.description" [title]="item.description" [(ngModel)]="item.checked" />

                                        </td>
                                        <td>
                                            <input *ngIf="!item.fileDoc" type="file" [disabled]="!item.checked" [id]="'file-' + item.id" (change)="validateFile($event, item.id)" jhiTranslate="entity.action.addblob"/>
                                            <button type="button" *ngIf="!item.fileDoc" disabled="disabled" [id]="'uploadBtn-' + item.id" (click)="uploadFile(item.id)" class="btn btn-info btn-sm">
                                                <span>بارگذاری فایل</span>
                                                <fa-icon [icon]="'cloud-upload-alt'"></fa-icon>
                                            </button>
                                            <div *ngIf="!item.fileDoc" style="display: none" [id]="'message-' + item.id"></div>
                                            <a *ngIf="item.fileDoc" title="دریافت فایل" [href]="item.fileDoc | safe" target="_blank"
                                               class="btn btn-default btn-sm enableLink">
                                                <fa-icon [icon]="'download'"></fa-icon>
                                            </a>
                                            <button type="button" *ngIf="item.fileDoc" (click)="deleteFile(item.fileDoc, item.id)" class="btn btn-danger btn-sm">
                                                <fa-icon [icon]="'times'"></fa-icon>
                                            </button>
                                            <input type="hidden" [id]="'fileDoc-' + item.id" [name]="'fileDoc-' + item.id" [(ngModel)]="item.fileDoc">
                                        </td>

                                        <td>
                                            <textarea class="form-control" rows="1" [id]="'txt-' + item.id" [name]="'txt-' + item.id">{{item.descMessage}}</textarea>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">توضیحات تکمیلی</div></div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.applicationProcess.description" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                              [(ngModel)]="applicationProcess.description" ></textarea>
                </div>

                <div class="form-group" *ngIf="applicationProcess.id === undefined">
                    <span *ngIf="targetPeople">درخواست شما برای افراد زیر ارسال می شود.</span>
                    <ul>
                        <li *ngFor="let item of targetPeople">
                            {{item.fullName}}
                        </li>
                    </ul>
                </div>

                <ng-container *ngIf="applicationProcess.id !== undefined">
                    <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">گردش درخواست و نظرات</div></div>
                    <div class="form-group fullcover">
                        <textarea class="form-control" [disabled]="true" [rows]="rows">{{applicationProcess.conversation}}</textarea>
                    </div>
                </ng-container>
                <span class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</span>



            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
                <span class="alert alert-warning" *ngIf="applicationProcess.id === undefined">بعد از ذخیره اطلاعات امکان ویرایش برای شما وجود ندارد، لطفا در زمان ثبت اطلاعات نهایت دقت را بفرمائید.</span>
                <span class="alert alert-danger" *ngIf="message">{{message}}</span>
            </div>
        </form>
    </div>
</div>
