<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.finalNiazsanjiReportPerson.home.level3Title">level1Title</span>
    </h2>
    <mi-alert></mi-alert>
    <br/>
    <div class="card border-success">
        <a data-toggle="collapse" href="#collapseExample" class="card-header center"
           style="background-color: aliceblue;">
            <span class="panel-title">پنل ثبت ماهیت</span>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-ok"></i></span>
        </a>
        <div id="collapseExample">
            <div class="card-body">
                <div class="form-group">
                    <label class="form-control-label" for="field_mahiatCourse">لطفا قبل از شروع سطح سه ماهیت دوره را
                        مشخص نمائید تا اطلاعات ظاهر شوند.</label>
                    <ng-select
                        [items]="mahiatCourses"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [disabled]="mahiatCourseDisable"
                        bindLabel="title"
                        bindValue="id"
                        placeholder="انتخاب نمائید."
                        name="mahiatCourse"
                        id="field_mahiatCourse"
                        [(ngModel)]="finalNiazsanjiReport.mahiatCourseId"></ng-select>
                </div>
                <div class="card-footer text-muted success-color white-text">
                    <button (click)="selectMahiatCourseById(finalNiazsanjiReport.mahiatCourseId)"
                            [disabled]="!finalNiazsanjiReport.mahiatCourseId || mahiatCourseDisable"
                            class="btn btn-primary">ذخیره ماهیت دوره و ادامه فرآیند اثربخشی در سطح عملکرد
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div class="alert alert-info">
        <span style="display: inline-block">
            <img src="/content/images/info.png" style="max-width: 25px; vertical-align: super;"/>
        </span>
        <span style="display: inline-block">
            <p>
                <span style="color: #127ccd">
                    فرمول محاسبه میانگین کل :
                </span>
                <span style="color: blueviolet">
                    مجموع ستون "نتیجه سطح سوم" تقسیم بر تعداد افراد حاضر در اثربخشی
                </span>
            </p>
            <p>
                <span style="color: #127ccd">
                    نحوه محاسبه گرید:
                </span>
                <span style="color: blueviolet">
                    میانگین کوچکتر مساوی 50 گرید D ، از 51 تا 60 گرید C، از 61 تا 75 گرید B، از 76 تا 100 گرید A
                </span>
            </p>
        </span>
    </div>
        <div class="table-responsive" *ngIf="finalNiazsanjiReportPeople">
            <table class="table table-bordered table-sm">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th>ردیف</th>
                    <th jhiSortBy="personFamily"><span
                        jhiTranslate="marineindustryprojApp.finalNiazsanjiReportPerson.person">Person</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th><span
                        jhiTranslate="marineindustryprojApp.finalNiazsanjiReportPerson.levelThreeScore">levelOneScore</span>
                    </th>
                    <th><span jhiTranslate="marineindustryprojApp.finalNiazsanjiReportPerson.grade">grade</span></th>
                    <th><span
                        jhiTranslate="marineindustryprojApp.finalNiazsanjiReportPerson.evaluateDate">evaluateDate</span>
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let finalNiazsanjiReportPerson of finalNiazsanjiReportPeople ;let i = index;"
                    [ngClass]="{'accept': !finalNiazsanjiReportPerson.absented,
                    'absent': finalNiazsanjiReportPerson.absented === true}">
                    <!--<td><a [routerLink]="['/final-niazsanji-report-person-marine-suffix', finalNiazsanjiReportPerson.id, 'view' ]">{{finalNiazsanjiReportPerson.id}}</a></td>-->
                    <td>{{i+1}}</td>
                    <td>
                        <div *ngIf="finalNiazsanjiReportPerson.personId">
                            <a [routerLink]="['../person-marine-suffix', finalNiazsanjiReportPerson.personId , 'view' ]">{{finalNiazsanjiReportPerson.personFullName}}</a>
                        </div>
                    </td>
                    <td>
                        {{finalNiazsanjiReportPerson.levelThreeScore | number: '1.0-1'}}
                    </td>
                    <td>
                        {{finalNiazsanjiReportPerson.levelThreeEffectivenesses &&
                        finalNiazsanjiReportPerson.levelThreeEffectivenesses.length > 0 ?
                        finalNiazsanjiReportPerson.levelThreeEffectivenesses[0].grade : ""}}
                    </td>
                    <td>
                        {{finalNiazsanjiReportPerson.levelThreeEffectivenesses &&
                        finalNiazsanjiReportPerson.levelThreeEffectivenesses.length > 0 ?
                        finalNiazsanjiReportPerson.levelThreeEffectivenesses[0].evaluateDate : ""}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" *ngIf="!finalNiazsanjiReportPerson.absented"
                                    [routerLink]="['/level-three-effectiveness-marine-suffix/new', finalNiazsanjiReportPerson.id ]"
                                    class="btn btn-info btn-sm">
                                <ng-container *ngIf="effectivenessPhase.status < 20">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.evaluate">evaluate</span>
                                </ng-container>
                                <ng-container *ngIf="effectivenessPhase.status >= 20">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">evaluate</span>
                                </ng-container>
                            </button>
                            <ng-container
                                *ngIf="finalNiazsanjiReportPerson.levelThreeEffectivenesses && finalNiazsanjiReportPerson.levelThreeEffectivenesses.length > 0">
                                <a [href]="'#/document-marine-suffix/levelthreeeffectiveness/' + finalNiazsanjiReportPerson.levelThreeEffectivenesses[0].id"
                                   [ngClass]="(finalNiazsanjiReportPerson.levelThreeEffectivenesses[0].documents && finalNiazsanjiReportPerson.levelThreeEffectivenesses[0].documents.length > 0) ? 'btn-success' : 'btn-light'"
                                   class="btn btn-sm">
                                    <span class="fa fa-file"></span>
                                    مدارک
                                </a>
                            </ng-container>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr class="sum-row">
                    <td colspan="2">میانگین کل</td>
                    <td>{{fullAverage | number: '1.0-1'}}</td>
                    <td>{{fullGrade}}</td>
                    <td colspan="2"></td>
                </tr>
                </tfoot>
            </table>
            <div class="row" style="text-align: center;display: block;">
                <button type="button" *ngIf="effectivenessPhase.status < 20"
                        (click)="completeLevel(finalNiazsanjiReportId)" [disabled]="!canComplete"
                        class="btn btn-success">
                    <fa-icon [icon]="'check-double'"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.complete">complete</span>
                </button>
            </div>
            <div class="table-responsive" *ngIf="effectivenessPhasePerCriteriaDatas">
                <table class="table table-striped table-bordered table-sm">
                    <thead>
                    <tr>
                        <th>معیارارزیابی</th>
                        <th *ngFor="let item of effectivenessPhasePerCriteriaDatas">{{item.criteria.title}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>جمع مقادیر</td>
                        <td *ngFor="let item of effectivenessPhasePerCriteriaDatas">{{item.sumValue}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div [chart]="effectivenessPhasePerCriteriaDataChart"></div>
        </div>
    </div>
</div>
