<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="mi-effectiveness-phase-marine-suffix-heading" jhiTranslate="marineindustryprojApp.effectivenessPhase.home.createOrEditLabel">Create or edit a Effectiveness Phase</h2>
            <div>
                <mi-alert-error></mi-alert-error>
                <div class="form-group" [hidden]="!effectivenessPhase.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="effectivenessPhase.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.effectivenessPhase.startPhaseDate" for="field_startPhaseDate">Start Phase Date</label>
                    <div class="d-flex">
                        <input id="field_startPhaseDate" type="datetime-local" class="form-control" name="startPhaseDate" [(ngModel)]="startPhaseDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.effectivenessPhase.finishPhaseDate" for="field_finishPhaseDate">Finish Phase Date</label>
                    <div class="d-flex">
                        <input id="field_finishPhaseDate" type="datetime-local" class="form-control" name="finishPhaseDate" [(ngModel)]="finishPhaseDate"
                        />
                    </div>
                </div>

                <div style="visibility: hidden">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.effectivenessPhase.firstScore" for="field_firstScore">First Score</label>
                    <input type="hidden" class="form-control" name="firstScore" id="field_firstScore"
                        [(ngModel)]="effectivenessPhase.firstScore" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.effectivenessPhase.secondScore" for="field_secondScore">Second Score</label>
                    <input type="hidden" class="form-control" name="secondScore" id="field_secondScore"
                        [(ngModel)]="effectivenessPhase.secondScore" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.effectivenessPhase.finalScore" for="field_finalScore">Final Score</label>
                    <input type="hidden" class="form-control" name="finalScore" id="field_finalScore"
                        [(ngModel)]="effectivenessPhase.finalScore" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.effectivenessPhase.description" for="field_description">Description</label>
                    <input type="hidden" class="form-control" name="description" id="field_description"
                        [(ngModel)]="effectivenessPhase.description" maxlength="4096"/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                        This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.effectivenessPhase.finalNiazsanjiReport" for="field_finalNiazsanjiReport">Final Niazsanji Report</label>
                    <select class="form-control" id="field_finalNiazsanjiReport" name="finalNiazsanjiReport" [(ngModel)]="effectivenessPhase.finalNiazsanjiReportId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="finalNiazsanjiReportOption.id" *ngFor="let finalNiazsanjiReportOption of finalniazsanjireports; trackBy: trackFinalNiazsanjiReportById">{{finalNiazsanjiReportOption.description}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.effectivenessPhase.effectivenessPhaseLevel" for="field_effectivenessPhaseLevel">Effectiveness Phase Level</label>
                    <select class="form-control" id="field_effectivenessPhaseLevel" name="effectivenessPhaseLevel" [(ngModel)]="effectivenessPhase.effectivenessPhaseLevelId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="effectivenessPhaseLevelOption.id" *ngFor="let effectivenessPhaseLevelOption of effectivenessphaselevels; trackBy: trackEffectivenessPhaseLevelById">{{effectivenessPhaseLevelOption.title}}</option>
                    </select>
                </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
