<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.finalNiazsanjiReportPerson.home.level2Title">level1Title</span>
        (<input value="{{'marineindustryprojApp.finalNiazsanjiReportPerson.home.level2Code' | translate}}" disabled  class="form-code-input"/>)
    </h2>
    <mi-alert></mi-alert>
    <div style="display: block" *ngIf="errorMessage">
        <br/>
        <span class="alert alert-danger block">
            {{errorMessage}}
        </span>
        <br/>
    </div>
    <div class="alert alert-info">
        <span style="display: inline-block">
            <img src="/content/images/info.png" style="max-width: 25px; vertical-align: super;"/>
        </span>
        <span style="display: inline-block">
            <p>
                <span style="color: #127ccd">
                    فرمول محاسبه میانگین نمره هر فرد:
                </span>
                <span style="color: blueviolet">
                    اگر نمره بعد از امتحان منهای نمره قبل از امتحان بزرگتر از 35 بود میانگین نمره می شود 100. در غیر اینصورت حاصل تفریق تقسیم بر 35 و ضربدر 100 میشود.
                </span>
            </p>
            <p>
                <span style="color: #127ccd">
                    نحوه محاسبه میانگین کل نمره قبل و بعد از امتحان:
                </span>
                <span style="color: blueviolet">
                    مجموع نمرات افراد حاضر تقسیم بر تعداد افراد حاضر
                </span>
            </p>
            <p>
                <span style="color: #127ccd">
                    نحوه محاسبه میانگین کل :
                </span>
                <span style="color: blueviolet">
                    اگر نمره میانگین کل بعد از امتحان منهای میانگین کل نمره قبل از امتحان بزرگتر از 35 بود میانگین نمره می شود 100. در غیر اینصورت حاصل تفریق تقسیم بر 35 و ضربدر 100 میشود.
                </span>
            </p>
        </span>
    </div>
    <div class="alert alert-warning">
        اخطار: نمرات همگی بر پایه 100 می باشند و نمره بعد از امتحان به هیچ وجه نباید کمتر از نمره قبل از امتحان باشد.
    </div>
    <br/>
    <div class="table-responsive" *ngIf="finalNiazsanjiReportPeople">
        <table class="table table-bordered table-sm">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th>ردیف</th>
                <th jhiSortBy="personFamily"><span
                    jhiTranslate="marineindustryprojApp.finalNiazsanjiReportPerson.person">Person</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th><span
                    jhiTranslate="marineindustryprojApp.finalNiazsanjiReportPerson.scoreBeforeTest">levelOneScore</span>
                </th>
                <th><span
                    jhiTranslate="marineindustryprojApp.finalNiazsanjiReportPerson.scoreAfterTest">scoreAfterTest</span>
                </th>
                <th><span
                    jhiTranslate="marineindustryprojApp.finalNiazsanjiReportPerson.averageScore">averageScore</span>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let finalNiazsanjiReportPerson of finalNiazsanjiReportPeople ;let i = index;"
                [ngClass]="{'accept': !finalNiazsanjiReportPerson.absented,
                'absent': finalNiazsanjiReportPerson.absented === true}">
                <!--<td><a [routerLink]="['/final-niazsanji-report-person-marine-suffix', finalNiazsanjiReportPerson.id, 'view' ]">{{finalNiazsanjiReportPerson.id}}</a></td>-->
                <td>{{i+1}}</td>
                <td>
                    <div *ngIf="finalNiazsanjiReportPerson.personId">
                        <a [routerLink]="['../person-marine-suffix', finalNiazsanjiReportPerson.personId , 'view' ]">{{finalNiazsanjiReportPerson.personFullName}}</a>
                    </div>
                </td>
                <td>
                    <input type="number" *ngIf="!finalNiazsanjiReportPerson.absented" [(ngModel)]="finalNiazsanjiReportPerson.scoreBeforeTest"
                           [name]="finalNiazsanjiReportPerson.scoreBeforeTest"
                           [id]="'scoreBeforeTest_' + finalNiazsanjiReportPerson.id" required/>
                </td>
                <td>
                    <input type="number"  *ngIf="!finalNiazsanjiReportPerson.absented" [(ngModel)]="finalNiazsanjiReportPerson.scoreAfterTest"
                           [name]="finalNiazsanjiReportPerson.scoreAfterTest"
                           [id]="'scoreAfterTest_' + finalNiazsanjiReportPerson.id" required/>
                </td>
                <td>
                    <input type="number" disabled  *ngIf="!finalNiazsanjiReportPerson.absented"
                           [value]="finalNiazsanjiReportPerson.averageScore"
                           required/>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="button" (click)="saveScore(finalNiazsanjiReportPerson)"
                                *ngIf="effectivenessPhase.status < 20 && !finalNiazsanjiReportPerson.absented"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'stamp'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.save">save</span>
                        </button>
                        <a [href]="'#/document-marine-suffix/finalniazsanjireportperson/' + finalNiazsanjiReportPerson.id"
                           class="btn btn-sm"
                           [ngClass]="(finalNiazsanjiReportPerson.documents && finalNiazsanjiReportPerson.documents.length > 0) ? 'btn-success' : 'btn-light'">

                            <span class="fa fa-file"></span>
                            مدارک
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr class="sum-row">
                <td colspan="2">میانگین کل</td>
                <td>{{firstScoreAverage | number: '1.0-1'}}</td>
                <td>{{secondScoreAverage | number: '1.0-1'}}</td>
                <td>{{fullAverage | number: '1.0-1'}}</td>
                <td colspan="2"></td>
            </tr>
            </tfoot>
        </table>

    </div>
    <div class="row" style="text-align: center;display: block;">
        <button type="button" *ngIf="effectivenessPhase.status < 20"
                (click)="completeLevel(finalNiazsanjiReportId)" [disabled]="!canComplete"
                class="btn btn-success">
            <fa-icon [icon]="'check-double'"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="entity.action.complete">complete</span>
        </button>
    </div>
</div>
