<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.finalNiazsanjiReportPerson.home.level1Title">level1Title</span>
    </h2>
    <mi-alert></mi-alert>
    <br/>
    <div class="table-responsive" *ngIf="finalNiazsanjiReportPeople">
        <table class="table table-striped  table-bordered table-sm">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th>ردیف</th>
                <th jhiSortBy="personFamily"><span
                    jhiTranslate="marineindustryprojApp.finalNiazsanjiReportPerson.person">Person</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th><span
                    jhiTranslate="marineindustryprojApp.finalNiazsanjiReportPerson.levelOneScore">levelOneScore</span>
                </th>
                <th><span jhiTranslate="marineindustryprojApp.finalNiazsanjiReportPerson.grade">grade</span></th>
                <th><span
                    jhiTranslate="marineindustryprojApp.finalNiazsanjiReportPerson.evaluateDate">evaluateDate</span>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let finalNiazsanjiReportPerson of finalNiazsanjiReportPeople ;let i = index;">
                <!--<td><a [routerLink]="['/final-niazsanji-report-person-marine-suffix', finalNiazsanjiReportPerson.id, 'view' ]">{{finalNiazsanjiReportPerson.id}}</a></td>-->
                <td>{{i+1}}</td>
                <td>
                    <div *ngIf="finalNiazsanjiReportPerson.personId">
                        <a [routerLink]="['../person-marine-suffix', finalNiazsanjiReportPerson.personId , 'view' ]">{{finalNiazsanjiReportPerson.personFullName}}</a>
                    </div>
                </td>
                <td>
                    {{finalNiazsanjiReportPerson.levelOneScore | number: '1.0-1'}}
                </td>
                <td>
                    {{finalNiazsanjiReportPerson.niazsanjiPersonGrades &&
                    finalNiazsanjiReportPerson.niazsanjiPersonGrades.length > 0 ?
                    finalNiazsanjiReportPerson.niazsanjiPersonGrades[0].grade : ""}}
                </td>
                <td>
                    {{finalNiazsanjiReportPerson.niazsanjiPersonGrades &&
                    finalNiazsanjiReportPerson.niazsanjiPersonGrades.length > 0 ?
                    finalNiazsanjiReportPerson.niazsanjiPersonGrades[0].evaluateDate : ""}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/niazsanji-person-grade-marine-suffix/new', finalNiazsanjiReportPerson.id ]"
                                class="btn btn-info btn-sm">
                            <ng-container *ngIf="effectivenessPhase.status < 20">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.evaluate">evaluate</span>
                            </ng-container>
                            <ng-container *ngIf="effectivenessPhase.status >= 20">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">evaluate</span>
                            </ng-container>
                        </button>
                        <ng-container
                            *ngIf="finalNiazsanjiReportPerson.niazsanjiPersonGrades && finalNiazsanjiReportPerson.niazsanjiPersonGrades.length > 0">
                            <a [href]="'#/document-marine-suffix/niazsanjipersongrade/' + finalNiazsanjiReportPerson.niazsanjiPersonGrades[0].id"
                               [ngClass]="(finalNiazsanjiReportPerson.niazsanjiPersonGrades[0].documents && finalNiazsanjiReportPerson.niazsanjiPersonGrades[0].documents.length > 0) ? 'btn-success' : 'btn-light'"
                               class="btn btn-sm">
                                <span class="fa fa-file"></span>
                                مدارک
                            </a>
                        </ng-container>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr class="sum-row">
                <td colspan="2">میانگین کل</td>
                <td>{{fullAverage | number: '1.0-1'}}</td>
                <td>{{fullGrade}}</td>
                <td colspan="2"></td>
            </tr>
            </tfoot>
        </table>
        <div class="row" style="text-align: center;display: block;">
            <button type="button" *ngIf="effectivenessPhase.status < 20"
                    (click)="completeLevel(finalNiazsanjiReportId)" [disabled]="!canComplete"
                    class="btn btn-success">
                <fa-icon [icon]="'check-double'"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.complete">complete</span>
            </button>
        </div>
        <div class="table-responsive" *ngIf="effectivenessPhasePerCriteriaDatas">
            <table class="table table-striped table-bordered table-sm">
                <thead>
                <tr>
                    <th>معیارارزیابی</th>
                    <th *ngFor="let item of effectivenessPhasePerCriteriaDatas">{{item.criteria.title}}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>جمع مقادیر</td>
                    <td *ngFor="let item of effectivenessPhasePerCriteriaDatas">{{item.sumValue}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div [chart]="effectivenessPhasePerCriteriaDataChart"></div>
    </div>
</div>
</div>
