<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="mi-jam-help-marine-suffix-heading" jhiTranslate="marineindustryprojApp.jamHelp.home.createOrEditLabel">Create or edit a Jam Help</h2>
            <div>
                <mi-alert-error></mi-alert-error>
                <div class="form-group" [hidden]="!jamHelp.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="jamHelp.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.jamHelp.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                        [(ngModel)]="jamHelp.title" required maxlength="100"/>
                    <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.title?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.jamHelp.description" for="field_description">Description</label>
                    <textarea type="text" class="form-control" name="description" id="field_description"
                              [(ngModel)]="jamHelp.description" maxlength="1024"></textarea>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1024 }">
                        This field cannot be longer than 1024 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.jamHelp.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="jamHelp.code" maxlength="100"/>
                    <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
               <!-- <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.jamHelp.fileDoc" for="field_fileDoc">File Doc</label>
                    <textarea class="form-control" name="fileDoc" id="field_fileDoc"
                        [(ngModel)]="jamHelp.fileDoc" required></textarea>
                    <div [hidden]="!(editForm.controls.fileDoc?.dirty && editForm.controls.fileDoc?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.fileDoc?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>-->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.jamHelp.pageUrl" for="field_pageUrl">Page Url</label>
                    <input type="text" class="form-control" name="pageUrl" id="field_pageUrl"
                        [(ngModel)]="jamHelp.pageUrl" maxlength="4096"/>
                    <div [hidden]="!(editForm.controls.pageUrl?.dirty && editForm.controls.pageUrl?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.pageUrl?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                        This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <a href="#/admin/authority" jhiTranslate="userManagement.profiles">Profiles</a>
                    <!--<select class="form-control" multiple name="authority" [(ngModel)]="user.authorities">
                        <option *ngFor="let authority of authorities" [value]="authority.name">{{authority.name}}</option>
                    </select>-->
                    <ng-select
                        name="authorities"
                        [items]="authorities"
                        [multiple]="true"
                        [required]="true"
                        [closeOnSelect]="true"
                        bindLabel="name"
                        bindValue="name"
                        placeholder="نقش ها را مشخص کنید."
                        [(ngModel)]="selectedAuthorities">
                    </ng-select>
                    <span>{{selectedAuthorities[0].name}}</span>
                </div>
                <ng-container *ngIf="jamHelp.id === undefined">
                    <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">آپلود راهنما</div></div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalHistory.fileDoc" for="file_fileDoc">File Doc</label>
                        <div>
                            <input type="file" id="file_fileDoc" required (change)="setFileData($event, jamHelp, 'fileDoc', false)" jhiTranslate="entity.action.addblob"/>
                        </div>
                        <!--<input type="hidden" class="form-control" name="fileDoc" id="field_fileDoc"
                               [(ngModel)]="educationalHistory.fileDoc" required/>-->

                        <div [hidden]="!(editForm.controls.fileDoc?.dirty && editForm.controls.fileDoc?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.fileDoc?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div *ngIf="fileMessage" class="alert" style="display: inline" [ngClass]="{'alert-danger': fileHasError,'alert-success': !fileHasError}">{{fileMessage}}</div>
                    <div class="alert alert-info">
                        لطفا قبل از آپلود به موارد زیر دقت فرمائید.
                        <ol>
                            <li>
                                نام فایل انتخابی شما نباید شامل تعداد زیادی نقطه(.) یا کاما (,) و امثالهم باشد.
                            </li>
                            <li>
                                حجم فایل شما نباید بیش از 400 مگابایت باشد.
                            </li>
                        </ol>
                    </div>
                </ng-container>
                <!--<div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.jamHelp.createUserLogin" for="field_createUserLogin">Create User Login</label>
                    <input type="text" class="form-control" name="createUserLogin" id="field_createUserLogin"
                        [(ngModel)]="jamHelp.createUserLogin" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.createUserLogin?.dirty && editForm.controls.createUserLogin?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.createUserLogin?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.jamHelp.createDate" for="field_createDate">Create Date</label>
                    <div class="d-flex">
                        <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" [(ngModel)]="createDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.jamHelp.modifyUserLogin" for="field_modifyUserLogin">Modify User Login</label>
                    <input type="text" class="form-control" name="modifyUserLogin" id="field_modifyUserLogin"
                        [(ngModel)]="jamHelp.modifyUserLogin" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.modifyUserLogin?.dirty && editForm.controls.modifyUserLogin?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.modifyUserLogin?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.jamHelp.modifyDate" for="field_modifyDate">Modify Date</label>
                    <div class="d-flex">
                        <input id="field_modifyDate" type="datetime-local" class="form-control" name="modifyDate" [(ngModel)]="modifyDate"
                        />
                    </div>
                </div>-->

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
