<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="requestOrganizationNiazsanji" class="detail-page">
            <h2><span jhiTranslate="marineindustryprojApp.requestOrganizationNiazsanji.detail.title">Request Organization Niazsanji</span> <!--{{requestOrganizationNiazsanji.id}}--></h2>
            <mi-alert-error></mi-alert-error>
            <dl class="row-md jh-entity-details">
                <!--<dt><span jhiTranslate="marineindustryprojApp.requestOrganizationNiazsanji.code">Code</span></dt>
                <dd>
                    <span>{{requestOrganizationNiazsanji.code}}</span>
                </dd>-->
                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">اطلاعات اولیه نیازسنجی</div></div>
                <dt><span jhiTranslate="marineindustryprojApp.requestOrganizationNiazsanji.recommendedByOrgchart">Recommended By Orgchart</span></dt>
                <dd>
                    <span>{{requestOrganizationNiazsanji.recommendedByOrgchart}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.requestOrganizationNiazsanji.educationalModule">Educational Module</span></dt>
                <dd>
                    <div *ngIf="requestOrganizationNiazsanji.educationalModuleId">
                        <a [routerLink]="['/educational-module-marine-suffix', requestOrganizationNiazsanji.educationalModuleCode, 'view']">{{requestOrganizationNiazsanji.educationalModuleTitle}}</a>
                    </div>
                </dd>
                <dt><span >ساعت پودمان</span></dt>
                <dd>
                    <span>{{requestOrganizationNiazsanji.totalLearningTime | number}}</span>
                </dd>
                <dt><span >سطح پودمان</span></dt>
                <dd>
                    <span>{{requestOrganizationNiazsanji.skillLevelOfSkillTitle}}</span>
                </dd>
                <dt>وضعیت درخواست</dt>
                <dd>
                    <strong>{{requestOrganizationNiazsanji.statusMeaning}}</strong>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.requestOrganizationNiazsanji.neededSoftwares">Needed Softwares</span></dt>
                <dd>
                    <span>{{requestOrganizationNiazsanji.neededSoftwares}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.requestOrganizationNiazsanji.neededHardware">Needed Hardware</span></dt>
                <dd>
                    <span>{{requestOrganizationNiazsanji.neededHardware}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.requestOrganizationNiazsanji.trainingGoals">Training Goals</span></dt>
                <dd>
                    <span>{{requestOrganizationNiazsanji.trainingGoals}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.requestOrganizationNiazsanji.courseType">Course Type</span></dt>
                <dd>
                    <div *ngIf="requestOrganizationNiazsanji.courseTypeId">
                        <a [routerLink]="['/course-type-marine-suffix', requestOrganizationNiazsanji.courseTypeId, 'view']">{{requestOrganizationNiazsanji.courseTypeTitle}}</a>
                    </div>
                </dd>

                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">اطلاعات افراد شرکت کننده</div></div>
                <div class="table-responsive">
                    <table class="table table-striped  table-bordered table-hover table-sm">
                        <thead>
                        <tr >
                            <th>ردیف</th>
                            <th>کد ملی </th>
                            <th>نام و نام خانوادگی</th>
                            <th>شغل سازمانی</th>
                            <th>شغل عملی</th>
                            <th>نوع استخدام</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let person of requestOrganizationNiazsanji.people; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{person.nationalId}}</td>
                            <td>{{person.name}} {{person.family}}</td>
                            <td>{{person.jobTitle}}</td>
                            <td>{{person.practicaljobTitle}}</td>
                            <td>{{person.employmentTypeTitle}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">اطلاعات مدرس</div></div>
                <dt><span jhiTranslate="marineindustryprojApp.requestOrganizationNiazsanji.teacherName">Teacher Name</span></dt>
                <dd *ngIf="requestOrganizationNiazsanji.teacherId">
                    {{requestOrganizationNiazsanji.teacherFamily}}
                </dd>
                <dd *ngIf="!requestOrganizationNiazsanji.teacherId">
                    معلم در لیست مدرسان یافت نشده است.
                </dd>
                <ng-container *ngIf="!requestOrganizationNiazsanji.teacherId">
                    <dt><span jhiTranslate="marineindustryprojApp.requestOrganizationNiazsanji.teacherName">Teacher Name</span> و <span jhiTranslate="marineindustryprojApp.requestOrganizationNiazsanji.teacherMobile">Teacher Mobile</span></dt>
                    <dd>
                        <span>{{requestOrganizationNiazsanji.teacherName}} - {{requestOrganizationNiazsanji.teacherMobile}}</span>
                    </dd>
                </ng-container>
                <!--<dt><span jhiTranslate="marineindustryprojApp.requestOrganizationNiazsanji.requestStatus">Request Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'marineindustryprojApp.RequestStatus.' + requestOrganizationNiazsanji.requestStatus}}">{{requestOrganizationNiazsanji.requestStatus}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.requestOrganizationNiazsanji.changeStatusUserLogin">Change Status User Login</span></dt>
                <dd>
                    <span>{{requestOrganizationNiazsanji.changeStatusUserLogin}}</span>
                </dd>-->
                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">اطلاعات طراحی دوره</div></div>
                <dt><span jhiTranslate="marineindustryprojApp.requestOrganizationNiazsanji.restriction">Restriction</span></dt>
                <dd>
                    <span *ngFor="let item of requestOrganizationNiazsanji.restrictions" class="badge badge-info">
                        {{item.title}}
                    </span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.requestOrganizationNiazsanji.restrictionDescription">Restriction Description</span></dt>
                <dd>
                    <span>{{requestOrganizationNiazsanji.restrictionDescription}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.requestOrganizationNiazsanji.teachingApproach">Teaching Approach</span></dt>
                <dd>
                    <span>{{requestOrganizationNiazsanji.teachingApproachTitle}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.requestOrganizationNiazsanji.goalsText">Goals Text</span></dt>
                <dd>
                    <span>{{requestOrganizationNiazsanji.goalsText}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.requestOrganizationNiazsanji.prerequisite">Prerequisite</span></dt>
                <dd>
                    <span>{{requestOrganizationNiazsanji.prerequisite}}</span>
                </dd>
                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">اطلاعات تکمیلی نیازسنجی</div></div>
                <dt><span jhiTranslate="marineindustryprojApp.requestOrganizationNiazsanji.studentsType">Students Type</span></dt>
                <dd>
                    <span>{{requestOrganizationNiazsanji.studentsType}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.requestOrganizationNiazsanji.priceCost">Price Cost</span></dt>
                <dd>
                    <span>{{requestOrganizationNiazsanji.priceCost | number}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.requestOrganizationNiazsanji.description">Description</span></dt>
                <dd>
                    <span>{{requestOrganizationNiazsanji.description}}</span>
                </dd>


            </dl>
            <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">گردش درخواست و نظرات</div></div>
            <textarea [disabled]="true" [rows]="rows" class="form-control">{{requestOrganizationNiazsanji.conversation}}</textarea>
<div>
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
        </div>
        </div>
    </div>
</div>
