<nav *ngIf="isAuthenticated()">
    <div class="typingClass bgWhite lightShadow topMenu">
        <button (click)="changeSpeech(false)" class="btn circle btn-info btn-sm">&#60;</button>
        <button (click)="changeSpeech(true)" class="btn circle btn-info btn-sm">&#62;</button>
        <div id="typingDiv" style="display: inline-block;"  [@simpleFadeAnimation] *ngIf="show">
            <span> {{currentSpeech}} </span>
        </div>
    </div>
    <div class="col-xs-12 bgWhite lightShadow topMenu">
        <ul class="nav justify-content-end" style="padding-inline-start: 0px; font-size: larger">

            <li class="nav-item seperate-left seperate-right bgCyan" *ngIf="isAdmin" title="تعداد انتقادات و پیشنهادات کاربران به مدیریت سیستم">
                <a class="nav-link excepted-menu" href="#/users-request-marine-suffix">
                    <span class="bell-contain" style="padding: 6px">
                    <fa-icon [icon]="'envelope'"></fa-icon>
                    <span *ngIf="usersRequestCounter != undefined" class="badge badge-success ">{{usersRequestCounter}}</span>
                    </span>
                </a>
            </li>
            <li class="nav-item seperate-left seperate-right bgCyan" title="تعداد انتقادات و پیشنهادات کاربران ارجاء شده به شما">
                <a class="nav-link excepted-menu" href="#/users-request-marine-suffix">
                    <span class="bell-contain" style="padding: 6px">
                    <fa-icon [icon]="'location-arrow'"></fa-icon>
                    <span *ngIf="referUsersRequestCounter != undefined" class="badge badge-success ">{{referUsersRequestCounter}}</span>
                    </span>
                </a>
            </li>
            <li class="nav-item seperate-left seperate-right bgGreen" *ngIf="isSuperUsers" title="تعداد بررسی های تایید نهایی های اجرا">
                <a class="nav-link excepted-menu" href="#/run-phase-marine-suffix">
                    <span class="bell-contain" style="padding: 6px">
                    <fa-icon [icon]="'glasses'"></fa-icon>
                    <span *ngIf="runPhaseRequestCounter != undefined" class="badge badge-info">{{runPhaseRequestCounter}}</span>
                    </span>
                </a>
            </li>
            <li class="nav-item seperate-left seperate-right bgGreen" *ngIf="isTopUsers" title="تعداد موارد جهت اصلاح در اجرا">
                <a class="nav-link excepted-menu" href="#/run-phase-marine-suffix">
                    <span class="bell-contain" style="padding: 6px">
                    <fa-icon [icon]="'glasses'"></fa-icon>
                    <span *ngIf="forEditRunPhaseRequestCounter != undefined" class="badge badge-danger">{{forEditRunPhaseRequestCounter}}</span>
                    </span>
                </a>
            </li>
            <li class="nav-item seperate-left seperate-right bgBrown" title="پرونده و سوابق آموزشی جدید">
                <a class="nav-link excepted-menu" href="#/educational-history-marine-suffix">
                    <span class="bell-contain" style="padding: 6px">
                    <fa-icon [icon]="'id-card'"></fa-icon>
                    <span *ngIf="educationalHistoryCounter != undefined" class="badge badge-info">{{educationalHistoryCounter}}</span>
                    </span>
                </a>
            </li>
            <li class="nav-item seperate-left seperate-right bgBlue" *ngIf="isTopUsers" title="طراحی پودمان جدید">
                <a class="nav-link excepted-menu" href="#/request-educational-module-marine-suffix">
                    <span class="bell-contain" style="padding: 6px">
                    <fa-icon [icon]="'book'"></fa-icon>
                    <span *ngIf="educationalModuleRequestCounter != undefined" class="badge badge-info">{{educationalModuleRequestCounter}}</span>
                    </span>
                </a>
            </li>
            <ng-container *ngIf="isSuperUsers" >
                <!--<li class="nav-item seperate-left seperate-right" title="تعداد درخواست های نیازسنجی پودمان فردی اجرا نشده">
                    <a class="nav-link excepted-menu" href="#/niazsanji-fardi-marine-suffix">
                        <span class="bell-contain" style="padding: 6px">
                        <fa-icon [icon]="'flag'"></fa-icon>
                        <span *ngIf="niazSanjiFardiCounter != undefined" class="badge badge-info">{{niazSanjiFardiCounter}}</span>
                        </span>
                    </a>
                </li>-->
                <li class="nav-item seperate-left seperate-right bgRed" title="تعداد درخواست های نیازسنجی پودمان سازمانی منتظر تصویب شوراء">
                    <a class="nav-link excepted-menu" href="#/final-organization-niazsanji-marine-suffix">
                        <span class="bell-contain" style="padding: 6px">
                        <fa-icon [icon]="'bell'"></fa-icon>
                        <span *ngIf="finalOrganizationNiazsanjiConter != undefined" class="badge badge-warning">{{finalOrganizationNiazsanjiConter}}</span>
                        </span>
                    </a>
                </li>

            </ng-container>

            <ng-container *ngIf="isSuperUsers" >
                <li class="nav-item seperate-left seperate-right bgRed" title="تعداد درخواست های منتظر تصویب شوراء">
                    <a class="nav-link excepted-menu" href="#/niazsanji-integration-marine-suffix">
                        <span class="bell-contain" style="padding: 6px">
                        <fa-icon [icon]="'bell'"></fa-icon>
                        <span *ngIf="niazsanjiIntegrationCounter != undefined" class="badge badge-warning">{{niazsanjiIntegrationCounter}}</span>
                        </span>
                    </a>
                </li>

            </ng-container>
            <li class="nav-item seperate-left seperate-right bgRed" *ngIf="isTopUsers" title="تعداد درخواست های منتظر اولویت بندی">
                <a class="nav-link excepted-menu" href="#/prioritize-request-niazsanji-marine-suffix">
                    <span class="bell-contain" style="padding: 6px">
                    <fa-icon [icon]="'tasks'"></fa-icon>
                    <span *ngIf="prioritizeRequestsCounter != undefined" class="badge badge-warning ">{{prioritizeRequestsCounter}}</span>
                    </span>
                </a>
            </li>
            <li class="nav-item seperate-left seperate-right bgRed" title="درخواست های جدید نیازسنجی سایر">
                <a class="nav-link excepted-menu" href="#/request-other-niazsanji-marine-suffix">
                    <span class="bell-contain" style="padding: 6px">
                    <fa-icon [icon]="'question'"></fa-icon>
                    <span *ngIf="niazsanjiOtherCounter != undefined" class="badge badge-info">{{niazsanjiOtherCounter}}</span>
                    </span>
                </a>
            </li>
            <li class="nav-item seperate-left seperate-right bgRed" title="درخواست های جدید نیازسنجی پودمان فردی">
                <a class="nav-link excepted-menu" href="#/request-niazsanji-fardi-marine-suffix">
                    <span class="bell-contain" style="padding: 6px">
                    <fa-icon [icon]="'flag'"></fa-icon>
                    <span *ngIf="niazSanjiFardiRequestCounter != undefined" class="badge badge-info">{{niazSanjiFardiRequestCounter}}</span>
                    </span>
                </a>
            </li>
            <li class="nav-item seperate-left seperate-right bgRed" *ngIf="isTopUsers" title="تعداد درخواست های نیازسنجی سازمانی">
                <a class="nav-link excepted-menu" href="#/request-organization-niazsanji-marine-suffix">
                    <span class="bell-contain" style="padding: 6px">
                    <fa-icon [icon]="'bell'"></fa-icon>
                    <span *ngIf="requestOrganizationNiazsanjiCounter != undefined" class="badge badge-warning ">{{requestOrganizationNiazsanjiCounter}}</span>
                    </span>
                </a>
            </li>
            <li class="nav-item seperate-left seperate-right bgRed" title="درخواست های جدید نیازسنجی پودمان شغلی">
                <a class="nav-link excepted-menu" href="#/pre-job-niazsanji-marine-suffix">
                    <span class="bell-contain" style="padding: 6px">
                    <fa-icon [icon]="'toolbox'"></fa-icon>
                    <span *ngIf="niazsanjiJobCounter != undefined" class="badge badge-info">{{niazsanjiJobCounter}}</span>
                    </span>
                </a>
            </li>

            <!--<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{currentUserFullName}}</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">پنل کاربری</a>
                    <a class="dropdown-item" href="#">ویرایش اطلاعات</a>
                    <a class="dropdown-item" href="#">درخواست دسترسی</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item red" href="#" (click)="logout();">
                        <fa-icon [icon]="'sign-out-alt'"></fa-icon>
                        <span>خروج از حساب</span>
                    </a>
                </div>
            </li>-->
            <span class="alert alert-danger text-center" *ngIf="badError">
                {{badError}}
            </span>
            <li class="nav-item seperate-left seperate-right dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img [src]="imgUrl | safe" class="user-image" alt="User Image">
                    <span class="hidden-xs" style="color: red;" id="currenUserFullNameTopBar">{{currentUserFullName}}</span>
                </a>
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header">
                        <img [src]="imgUrl | safe" class="img-circle" alt="User Image">

                        <p>
                            {{currentUserFullName}}
                            <!--<small>Member since Nov. 2012</small>-->
                        </p>
                        <p> {{jobTitle}}</p>
                    </li>
                    <!-- Menu Body -->
                    <!-- <li class="user-body">
                         <div class="row">
                             <div class="col-xs-4 text-center">
                                 <a href="#">Followers</a>
                             </div>
                             <div class="col-xs-4 text-center">
                                 <a href="#">Sales</a>
                             </div>
                             <div class="col-xs-4 text-center">
                                 <a href="#">Friends</a>
                             </div>
                         </div>
                         &lt;!&ndash; /.row &ndash;&gt;
                     </li>-->
                    <!-- Menu Footer-->
                    <li class="user-footer" style="background-color: gold">
                        <div class="pull-left">
                            <a href="#/settings" class="btn btn-default btn-flat">پروفایل</a>
                        </div>
                        <div class="pull-right">
                            <a href="#" (click)="logout()" class="btn btn-default btn-flat">
                                <fa-icon [icon]="'sign-out-alt'"></fa-icon>
                                <span>خروج از سامانه</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="nav-item seperate-right">
                <a class="nav-link" href="#" style="font-size: 30px;padding: 0 1rem;color: red;">
                    <i class="fa fa-home"></i>
                </a>
            </li>

        </ul>

        <!--<ul class="nav" style="float: right;display: inline-block">
            <li>


            &lt;!&ndash;<li *ngFor="let speech of speeches" class="typing">
                {{speech}}
            </li>&ndash;&gt;
        </ul>-->
    </div>
</nav>
<nav *ngIf="!isAuthenticated()" class="back-cover">
</nav>
