<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="mi-evaluate-criteria-training-marine-suffix-heading">
                <span jhiTranslate="marineindustryprojApp.evaluateCriteriaTraining.home.createOrEditLabel"></span>
                (<input value="{{'marineindustryprojApp.evaluateCriteriaTraining.home.code' | translate}}" disabled  class="form-code-input" />)
            </h2>
            <div>
                <mi-alert-error></mi-alert-error>
                <div class="form-group" [hidden]="!evaluateCriteriaTraining.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="evaluateCriteriaTraining.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.evaluateCriteriaTraining.qualityGoal" for="field_qualityGoal">qualityGoal</label>
                    <textarea type="text" class="form-control" name="qualityGoal" id="field_qualityGoal"
                              [(ngModel)]="evaluateCriteriaTraining.qualityGoal" maxlength="4096" ></textarea>
                    <div [hidden]="!(editForm.controls.qualityGoal?.dirty && editForm.controls.qualityGoal?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.qualityGoal?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                            This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group bighalf">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.evaluateCriteriaTraining.organizationChart" for="field_organizationChart">Organization Chart</label>
                    <!--<select class="form-control" id="field_organizationChart" name="organizationChart" [(ngModel)]="evaluateCriteriaTraining.organizationChartId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="organizationChartOption.id" *ngFor="let organizationChartOption of organizationcharts; trackBy: trackOrganizationChartById">{{organizationChartOption.title}}</option>
                    </select>-->
                    <ng-select
                        [items]="groups"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [required]="true"
                        bindLabel="title"
                        bindValue="id"
                        placeholder="انتخاب نمائید."
                        name="organizationChart"
                        id="field_organizationChart"
                        [(ngModel)]="evaluateCriteriaTraining.organizationChartId">
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.evaluateCriteriaTraining.processTitle" for="field_processTitle">Process Title</label>
                    <input type="text" class="form-control" name="processTitle" id="field_processTitle"
                        [(ngModel)]="evaluateCriteriaTraining.processTitle" maxlength="4096"/>
                    <div [hidden]="!(editForm.controls.processTitle?.dirty && editForm.controls.processTitle?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.processTitle?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                        This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.evaluateCriteriaTraining.processWeight" for="field_processWeight">Process Weight</label>
                    <input type="number" class="form-control" name="processWeight" id="field_processWeight"
                        [(ngModel)]="evaluateCriteriaTraining.processWeight" required/>
                    <div [hidden]="!(editForm.controls.processWeight?.dirty && editForm.controls.processWeight?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.processWeight?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.processWeight?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.evaluateCriteriaTraining.activityDescription" for="field_activityDescription">Activity Description</label>
                    <textarea type="text" class="form-control" name="activityDescription" id="field_activityDescription"
                              [(ngModel)]="evaluateCriteriaTraining.activityDescription" maxlength="4096" ></textarea>
                    <div [hidden]="!(editForm.controls.activityDescription?.dirty && editForm.controls.activityDescription?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.activityDescription?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                        This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.evaluateCriteriaTraining.criteriaWeight" for="field_criteriaWeight">Criteria Weight</label>
                    <input type="number" class="form-control" name="criteriaWeight" id="field_criteriaWeight"
                        [(ngModel)]="evaluateCriteriaTraining.criteriaWeight" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.evaluateCriteriaTraining.measureDescription" for="field_measureDescription">Measure Description</label>
                    <textarea type="text" class="form-control" name="measureDescription" id="field_measureDescription"
                              [(ngModel)]="evaluateCriteriaTraining.measureDescription" maxlength="4096"></textarea>
                    <div [hidden]="!(editForm.controls.measureDescription?.dirty && editForm.controls.measureDescription?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.measureDescription?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                        This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">محاسبات</div></div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.evaluateCriteriaTraining.firstNumber" for="field_firstNumber">First Number</label>
                    <input type="number" class="form-control" name="firstNumber" id="field_firstNumber"
                        [(ngModel)]="evaluateCriteriaTraining.firstNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.evaluateCriteriaTraining.secondNumber" for="field_secondNumber">Second Number</label>
                    <input type="number" class="form-control" name="secondNumber" id="field_secondNumber"
                        [(ngModel)]="evaluateCriteriaTraining.secondNumber" (change)="calculateMeasure()" />
                </div>
                <!--<div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.evaluateCriteriaTraining.thirdNumber" for="field_thirdNumber">Third Number</label>
                    <input type="number" class="form-control" name="thirdNumber" id="field_thirdNumber"
                        [(ngModel)]="evaluateCriteriaTraining.thirdNumber" />
                </div>-->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.evaluateCriteriaTraining.measureCalc" for="field_measureCalc">Measure Calc</label>
                    <input type="number" class="form-control" name="measureCalc" id="field_measureCalc"
                        [(ngModel)]="evaluateCriteriaTraining.measureCalc" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.evaluateCriteriaTraining.measureCalcPercent" for="field_measureCalcPercent">Measure Calc Percent</label>
                    <input type="number" class="form-control" name="measureCalcPercent" id="field_measureCalcPercent"
                        [(ngModel)]="evaluateCriteriaTraining.measureCalcPercent" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.evaluateCriteriaTraining.result" for="field_result">Result</label>
                    <input type="number" class="form-control" name="result" id="field_result"
                        [(ngModel)]="evaluateCriteriaTraining.result" />
                </div>
               <!-- <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.evaluateCriteriaTraining.resultPercent" for="field_resultPercent">Result Percent</label>
                    <input type="number" class="form-control" name="resultPercent" id="field_resultPercent"
                        [(ngModel)]="evaluateCriteriaTraining.resultPercent" />
                </div>-->
                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">اطلاعات تکمیلی</div></div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.evaluateCriteriaTraining.year" for="field_year">Year</label>
                    <!--<input type="number" class="form-control" name="year" id="field_year"
                        [(ngModel)]="evaluateCriteriaTraining.year" required/>-->
                    <select class="form-control" id="field_year" name="year" [required]="true" [(ngModel)]="evaluateCriteriaTraining.year" >
                        <option [ngValue]="year" *ngFor="let year of years">{{year}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.year?.dirty && editForm.controls.year?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.year?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.year?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.evaluateCriteriaTraining.month" for="field_month">Month</label>
                    <!--<input type="number" class="form-control" name="month" id="field_month"
                        [(ngModel)]="evaluateCriteriaTraining.month" required/>-->
                    <select class="form-control" id="field_month" name="month" [required]="true" [(ngModel)]="evaluateCriteriaTraining.month" >
                        <option [ngValue]="runMonth.id" *ngFor="let runMonth of runMonths">{{runMonth.persianMonth}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.month?.dirty && editForm.controls.month?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.month?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.month?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <!--<div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.evaluateCriteriaTraining.reportTime" for="field_reportTime">Report Time</label>
                    <input type="number" class="form-control" name="reportTime" id="field_reportTime"
                        [(ngModel)]="evaluateCriteriaTraining.reportTime" required/>
                    <div [hidden]="!(editForm.controls.reportTime?.dirty && editForm.controls.reportTime?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.reportTime?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.reportTime?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>-->

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.evaluateCriteriaTraining.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="evaluateCriteriaTraining.description" maxlength="4096"/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                        This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
