<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="instruction">
            <h2><span jhiTranslate="marineindustryprojApp.instruction.detail.title">Instruction</span> {{instruction.id}}</h2>
            <hr>
            <mi-alert-error></mi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="marineindustryprojApp.instruction.title">Title</span></dt>
                <dd>
                    <span>{{instruction.title}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.instruction.description">Description</span></dt>
                <dd>
                    <span>{{instruction.description}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.instruction.code">Code</span></dt>
                <dd>
                    <span>{{instruction.code}}</span>
                </dd>
                <!--<dt><span jhiTranslate="marineindustryprojApp.instruction.createUserLogin">Create User Login</span></dt>
                <dd>
                    <span>{{instruction.createUserLogin}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.instruction.createDate">Create Date</span></dt>
                <dd>
                    <span>{{instruction.createDate}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.instruction.modifyUserLogin">Modify User Login</span></dt>
                <dd>
                    <span>{{instruction.modifyUserLogin}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.instruction.modifyDate">Modify Date</span></dt>
                <dd>
                    <span>{{instruction.modifyDate}}</span>
                </dd>-->
                <dt><span jhiTranslate="marineindustryprojApp.instruction.document">Document</span></dt>
                <dd>
                    <span *ngFor="let document of instruction.documents; let last = last">
                        <a [routerLink]="['/document-marine-suffix', document?.id, 'view' ]">{{document.title}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/instruction-marine-suffix', instruction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
