<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.restriction.home.title">Restrictions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-restriction-marine-suffix" [routerLink]="['/restriction-marine-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="marineindustryprojApp.restriction.home.createLabel">
            Create new Restriction
            </span>
        </button>
    </h2>
    <mi-alert></mi-alert>
    <br/>
    <div class="table-responsive" *ngIf="restrictions">
        <table class="table table-striped table-bordered table-hover table-sm">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="marineindustryprojApp.restriction.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="marineindustryprojApp.restriction.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="createUserLogin"><span jhiTranslate="marineindustryprojApp.restriction.createUserLogin">Create User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span jhiTranslate="marineindustryprojApp.restriction.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyUserLogin"><span jhiTranslate="marineindustryprojApp.restriction.modifyUserLogin">Modify User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyDate"><span jhiTranslate="marineindustryprojApp.restriction.modifyDate">Modify Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="guid"><span jhiTranslate="marineindustryprojApp.restriction.guid">Guid</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let restriction of restrictions ;trackBy: trackId">
                <td><a [routerLink]="['/restriction-marine-suffix', restriction.id, 'view' ]">{{restriction.id}}</a></td>
                <td>{{restriction.title}}</td>
                <td>{{restriction.description}}</td>
                <!--<td>{{restriction.createUserLogin}}</td>
                <td>{{restriction.createDate | date:'medium'}}</td>
                <td>{{restriction.modifyUserLogin}}</td>
                <td>{{restriction.modifyDate | date:'medium'}}</td>
                <td>{{restriction.guid}}</td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/restriction-marine-suffix', restriction.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/restriction-marine-suffix', restriction.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'restriction-marine-suffix/'+ restriction.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6">
                    <select [(ngModel)] = "itemsPerPage" (change)="loadAll()">
                        <option value="10">۱۰</option>
                        <option selected="selected" value="20">۲۰</option>
                        <option value="50">۵۰</option>
                        <option value="100">۱۰۰</option>
                        <option value="500">۵۰۰</option>
                    </select>
                    <div class="row justify-content-center">
                        <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                    </div>
                </td>


            </tr>

            </tfoot>
        </table>
    </div>

    <div *ngIf="restrictions && restrictions.length">
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
