<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.monitorLearningProcessGrade.home.title">Monitor Learning Process Grades</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-monitor-learning-process-grade-marine-suffix" [routerLink]="['/monitor-learning-process-grade-marine-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="marineindustryprojApp.monitorLearningProcessGrade.home.createLabel">
            Create new Monitor Learning Process Grade
            </span>
        </button>
    </h2>
    <mi-alert></mi-alert>
    <br/>
    <div class="table-responsive" *ngIf="monitorLearningProcessGrades">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="firstNumber"><span jhiTranslate="marineindustryprojApp.monitorLearningProcessGrade.firstNumber">First Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="secondNumber"><span jhiTranslate="marineindustryprojApp.monitorLearningProcessGrade.secondNumber">Second Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="thirdNumber"><span jhiTranslate="marineindustryprojApp.monitorLearningProcessGrade.thirdNumber">Third Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="result"><span jhiTranslate="marineindustryprojApp.monitorLearningProcessGrade.result">Result</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="goal"><span jhiTranslate="marineindustryprojApp.monitorLearningProcessGrade.goal">Goal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createUserLogin"><span jhiTranslate="marineindustryprojApp.monitorLearningProcessGrade.createUserLogin">Create User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span jhiTranslate="marineindustryprojApp.monitorLearningProcessGrade.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyUserLogin"><span jhiTranslate="marineindustryprojApp.monitorLearningProcessGrade.modifyUserLogin">Modify User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyDate"><span jhiTranslate="marineindustryprojApp.monitorLearningProcessGrade.modifyDate">Modify Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="guid"><span jhiTranslate="marineindustryprojApp.monitorLearningProcessGrade.guid">Guid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="monitorLearningProcessLevelTitle"><span jhiTranslate="marineindustryprojApp.monitorLearningProcessGrade.monitorLearningProcessLevel">Monitor Learning Process Level</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="monitorLearningProcessTitle"><span jhiTranslate="marineindustryprojApp.monitorLearningProcessGrade.monitorLearningProcess">Monitor Learning Process</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="monitorProcessDurationTitle"><span jhiTranslate="marineindustryprojApp.monitorLearningProcessGrade.monitorProcessDuration">Monitor Process Duration</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let monitorLearningProcessGrade of monitorLearningProcessGrades ;trackBy: trackId">
                <td><a [routerLink]="['/monitor-learning-process-grade-marine-suffix', monitorLearningProcessGrade.id, 'view' ]">{{monitorLearningProcessGrade.id}}</a></td>
                <td>{{monitorLearningProcessGrade.firstNumber}}</td>
                <td>{{monitorLearningProcessGrade.secondNumber}}</td>
                <td>{{monitorLearningProcessGrade.thirdNumber}}</td>
                <td>{{monitorLearningProcessGrade.result}}</td>
                <td>{{monitorLearningProcessGrade.goal}}</td>
                <td>{{monitorLearningProcessGrade.createUserLogin}}</td>
                <td>{{monitorLearningProcessGrade.createDate | date:'medium'}}</td>
                <td>{{monitorLearningProcessGrade.modifyUserLogin}}</td>
                <td>{{monitorLearningProcessGrade.modifyDate | date:'medium'}}</td>
                <td>{{monitorLearningProcessGrade.guid}}</td>
                <td>
                    <div *ngIf="monitorLearningProcessGrade.monitorLearningProcessLevelId">
                        <a [routerLink]="['../monitor-learning-process-level-marine-suffix', monitorLearningProcessGrade.monitorLearningProcessLevelId , 'view' ]" >{{monitorLearningProcessGrade.monitorLearningProcessLevelTitle}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="monitorLearningProcessGrade.monitorLearningProcessId">
                        <a [routerLink]="['../monitor-learning-process-marine-suffix', monitorLearningProcessGrade.monitorLearningProcessId , 'view' ]" >{{monitorLearningProcessGrade.monitorLearningProcessTitle}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="monitorLearningProcessGrade.monitorProcessDurationId">
                        <a [routerLink]="['../monitor-process-duration-marine-suffix', monitorLearningProcessGrade.monitorProcessDurationId , 'view' ]" >{{monitorLearningProcessGrade.monitorProcessDurationTitle}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/monitor-learning-process-grade-marine-suffix', monitorLearningProcessGrade.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/monitor-learning-process-grade-marine-suffix', monitorLearningProcessGrade.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'monitor-learning-process-grade-marine-suffix/'+ monitorLearningProcessGrade.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="monitorLearningProcessGrades && monitorLearningProcessGrades.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
