<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.jobRecord.home.title">Job Records</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-job-record-marine-suffix" [routerLink]="['/job-record-marine-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="marineindustryprojApp.jobRecord.home.createLabel">
            Create new Job Record
            </span>
        </button>
    </h2>
    <mi-alert></mi-alert>
    <br/>
    <div class="table-responsive" *ngIf="jobRecords">
        <table class="table table-striped table-bordered table-hover table-sm">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!--<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                <th>ردیف</th>
            <th jhiSortBy="workOrganization"><span jhiTranslate="marineindustryprojApp.jobRecord.workOrganization">Work Organization</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="workSection"><span jhiTranslate="marineindustryprojApp.jobRecord.workSection">Work Section</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="jobResponsibility"><span jhiTranslate="marineindustryprojApp.jobRecord.jobResponsibility">Job Responsibility</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="jobPosition"><span jhiTranslate="marineindustryprojApp.jobRecord.jobPosition">Job Position</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startDate"><span jhiTranslate="marineindustryprojApp.jobRecord.startDate">Start Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endDate"><span jhiTranslate="marineindustryprojApp.jobRecord.endDate">End Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="leaveReason"><span jhiTranslate="marineindustryprojApp.jobRecord.leaveReason">Leave Reason</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="description"><span jhiTranslate="marineindustryprojApp.jobRecord.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let jobRecord of jobRecords ;let i = index">
                <!--<td><a [routerLink]="['/job-record-marine-suffix', jobRecord.id, 'view' ]">{{jobRecord.id}}</a></td>-->
                <td>{{i+1}}</td>
                <td>{{jobRecord.workOrganization}}</td>
                <td>{{jobRecord.workSection}}</td>
                <td>{{jobRecord.jobResponsibility}}</td>
                <td>{{jobRecord.jobPosition}}</td>
                <!--<td>{{jobRecord.totalHour}}</td>-->
                <td>{{jobRecord.startDate}}</td>
                <td>{{jobRecord.endDate}}</td>
                <td>{{jobRecord.leaveReason}}</td>
                <!--<td>{{jobRecord.description}}</td>-->
                <!--<td>{{jobRecord.createUserLogin}}</td>
                <td>{{jobRecord.createDate | date:'medium'}}</td>
                <td>{{jobRecord.modifyUserLogin}}</td>
                <td>{{jobRecord.modifyDate | date:'medium'}}</td>
                <td>{{jobRecord.guid}}</td>
                <td>
                    <div *ngIf="jobRecord.personId">
                        <a [routerLink]="['../person-marine-suffix', jobRecord.personId , 'view' ]" >{{jobRecord.personFamily}}</a>
                    </div>
                </td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/job-record-marine-suffix', jobRecord.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/job-record-marine-suffix', jobRecord.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN']"
                                [routerLink]="['/', { outlets: { popup: 'job-record-marine-suffix/'+ jobRecord.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="8">
                    <select [(ngModel)] = "itemsPerPage" (change)="loadAll()">
                        <option value="10">۱۰</option>
                        <option selected="selected" value="20">۲۰</option>
                        <option value="50">۵۰</option>
                        <option value="100">۱۰۰</option>
                        <option value="500">۵۰۰</option>
                    </select>
                    <div class="row justify-content-center">
                        <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                    </div>
                </td>

                <td colspan="5">

                </td>
            </tr>

            </tfoot>
        </table>
    </div>
    <div *ngIf="jobRecords && jobRecords.length">
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
