<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.levelThreeCriteria.home.title">Level Three Criteria</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-level-three-criteria-marine-suffix" [routerLink]="['/level-three-criteria-marine-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="marineindustryprojApp.levelThreeCriteria.home.createLabel">
            Create new Level Three Criteria
            </span>
        </button>
        <!--<button class="btn btn-primary float-left jh-create-entity create-level-three-criteria-marine-suffix" [routerLink]="['/level-three-criteria-group-marine-suffix']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>
                اضافه کردن موضوع ارزشیابی
            </span>
        </button>-->
    </h2>
    <mi-alert></mi-alert>
    <br/>
    <div class="table-responsive" *ngIf="levelThreeCriteria">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="levelThreeCriteriaGroupTitle"><span jhiTranslate="marineindustryprojApp.levelThreeCriteria.levelThreeCriteriaGroup">Level Three Criteria Group</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="marineindustryprojApp.levelThreeCriteria.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="description"><span jhiTranslate="marineindustryprojApp.levelThreeCriteria.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="displayOrder"><span jhiTranslate="marineindustryprojApp.levelThreeCriteria.displayOrder">Display Order</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="weight"><span jhiTranslate="marineindustryprojApp.levelThreeCriteria.weight">Weight</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="mahiatCourseTitle"><span jhiTranslate="marineindustryprojApp.levelThreeCriteria.mahiatCourse">Mahiat Course</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="backgroundColor"><span jhiTranslate="marineindustryprojApp.levelThreeCriteria.backgroundColor">Background Color</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="colorText"><span jhiTranslate="marineindustryprojApp.levelThreeCriteria.colorText">Color Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>

            <!--<th jhiSortBy="secondWeight"><span jhiTranslate="marineindustryprojApp.levelThreeCriteria.secondWeight">Second Weight</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->

            <!--<th jhiSortBy="createUserLogin"><span jhiTranslate="marineindustryprojApp.levelThreeCriteria.createUserLogin">Create User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span jhiTranslate="marineindustryprojApp.levelThreeCriteria.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyUserLogin"><span jhiTranslate="marineindustryprojApp.levelThreeCriteria.modifyUserLogin">Modify User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyDate"><span jhiTranslate="marineindustryprojApp.levelThreeCriteria.modifyDate">Modify Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->

            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let levelThreeCriteria of levelThreeCriteria ;trackBy: trackId">
                <td><a [routerLink]="['/level-three-criteria-marine-suffix', levelThreeCriteria.id, 'view' ]">{{levelThreeCriteria.id}}</a></td>
                <td>
                    <div *ngIf="levelThreeCriteria.levelThreeCriteriaGroupId">
                        <a [routerLink]="['../level-three-criteria-group-marine-suffix', levelThreeCriteria.levelThreeCriteriaGroupId , 'view' ]" >{{levelThreeCriteria.levelThreeCriteriaGroupTitle}}</a>
                    </div>
                </td>
                <td>{{levelThreeCriteria.title}}</td>
                <td>{{levelThreeCriteria.description}}</td>
                <td>{{levelThreeCriteria.displayOrder}}</td>
                <td>{{levelThreeCriteria.weight}}</td>
                <td>
                    <div *ngIf="levelThreeCriteria.mahiatCourseId">
                        <a [routerLink]="['../mahiat-course-marine-suffix', levelThreeCriteria.mahiatCourseId , 'view' ]" >{{levelThreeCriteria.mahiatCourseTitle}}</a>
                    </div>
                </td>
                 <td>{{levelThreeCriteria.backgroundColor}}</td>
                <td>{{levelThreeCriteria.colorText}}</td>
                <!--<td>{{levelThreeCriteria.secondWeight}}</td>-->

                <!--<td>{{levelThreeCriteria.createUserLogin}}</td>
                <td>{{levelThreeCriteria.createDate | date:'medium'}}</td>
                <td>{{levelThreeCriteria.modifyUserLogin}}</td>
                <td>{{levelThreeCriteria.modifyDate | date:'medium'}}</td>-->


                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/level-three-criteria-marine-suffix', levelThreeCriteria.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/level-three-criteria-marine-suffix', levelThreeCriteria.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"  *jhiHasAnyAuthority="['ROLE_ADMIN']"
                                [routerLink]="['/', { outlets: { popup: 'level-three-criteria-marine-suffix/'+ levelThreeCriteria.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="levelThreeCriteria && levelThreeCriteria.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
