<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.monitorLearningProcess.home.title">Monitor Learning Processes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-monitor-learning-process-marine-suffix" [routerLink]="['/monitor-learning-process-marine-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="marineindustryprojApp.monitorLearningProcess.home.createLabel">
            Create new Monitor Learning Process
            </span>
        </button>
    </h2>
    <mi-alert></mi-alert>
    <br/>
    <div class="table-responsive" *ngIf="monitorLearningProcesses">
        <table class="table  table-striped table-bordered table-hover table-sm">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!--<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                <th>ردیف</th>
            <!--<th jhiSortBy="title"><span jhiTranslate="marineindustryprojApp.monitorLearningProcess.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="code"><span jhiTranslate="marineindustryprojApp.monitorLearningProcess.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="processDate"><span jhiTranslate="marineindustryprojApp.monitorLearningProcess.processDate">Process Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="monitorProcessDurationTitle"><span jhiTranslate="marineindustryprojApp.monitorLearningProcess.monitorProcessDuration">Monitor Process Duration</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="classification"><span jhiTranslate="marineindustryprojApp.monitorLearningProcess.classification">Classification</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="marineindustryprojApp.monitorLearningProcess.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="createUserLogin"><span jhiTranslate="marineindustryprojApp.monitorLearningProcess.createUserLogin">Create User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span jhiTranslate="marineindustryprojApp.monitorLearningProcess.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <!--<th jhiSortBy="modifyUserLogin"><span jhiTranslate="marineindustryprojApp.monitorLearningProcess.modifyUserLogin">Modify User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyDate"><span jhiTranslate="marineindustryprojApp.monitorLearningProcess.modifyDate">Modify Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="guid"><span jhiTranslate="marineindustryprojApp.monitorLearningProcess.guid">Guid</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->

            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let monitorLearningProcess of monitorLearningProcesses ;let i = index">
                <td>{{i+1}}</td>
                <!--<td><a [routerLink]="['/monitor-learning-process-marine-suffix', monitorLearningProcess.id, 'view' ]">{{monitorLearningProcess.id}}</a></td>-->
                <!--<td>{{monitorLearningProcess.title}}</td>
                <td>{{monitorLearningProcess.code}}</td>-->
                <td>{{monitorLearningProcess.processDate}}</td>
                <td>
                    <div *ngIf="monitorLearningProcess.monitorProcessDurationId">
                        <a [routerLink]="['../monitor-process-duration-marine-suffix', monitorLearningProcess.monitorProcessDurationId , 'view' ]" >{{monitorLearningProcess.monitorProcessDurationTitle}}</a>
                    </div>
                </td>
                <td>{{monitorLearningProcess.classification}}</td>
                <td>{{monitorLearningProcess.description}}</td>
                <!--<td>{{monitorLearningProcess.createUserLogin}}</td>
                <td>{{monitorLearningProcess.createDate}}</td>-->
                <!--<td>{{monitorLearningProcess.modifyUserLogin}}</td>
                <td>{{monitorLearningProcess.modifyDate | date:'medium'}}</td>
                <td>{{monitorLearningProcess.guid}}</td>-->

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/monitor-learning-process-marine-suffix', monitorLearningProcess.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/monitor-learning-process-marine-suffix', monitorLearningProcess.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"  *jhiHasAnyAuthority="['ROLE_ADMIN']"
                                [routerLink]="['/', { outlets: { popup: 'monitor-learning-process-marine-suffix/'+ monitorLearningProcess.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4">
                    <select [(ngModel)] = "itemsPerPage">
                        <option value="10">۱۰</option>
                        <option value="20">۲۰</option>
                        <option value="50">۵۰</option>
                        <option value="100">۱۰۰</option>
                        <option value="500">۵۰۰</option>
                    </select>
                    <div class="row justify-content-center">
                        <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                    </div>
                </td>

                <td colspan="7">

                </td>
            </tr>

            </tfoot>
        </table>
    </div>
    <div *ngIf="monitorLearningProcesses && monitorLearningProcesses.length">
       <!-- <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>-->
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
