<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.runPhase.home.title">Run Phases</span>
        <!--<button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-run-phase-marine-suffix" [routerLink]="['/run-phase-marine-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="marineindustryprojApp.runPhase.home.createLabel">
            Create new Run Phase
            </span>
        </button>-->
    </h2>
    <mi-alert></mi-alert>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="card border-success ">
            <a data-toggle="collapse" href="#collapseExample" class="card-header center" style="background-color: aliceblue;">
                <span class="panel-title">پنل جستجو</span>
                <span class="pull-right clickable"><i class="glyphicon glyphicon-ok"></i></span>
            </a>
            <div id="collapseExample">
                <div class="card-body">
                    <div class="form-group half">
                        <label class="form-control-label">منبع نیازسنجی</label>
                        <div class="form-control">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="niazSanjiSource" [value]="true" [(ngModel)]="niazSanjiSource">نیازسنجی پودمان شناسنامه مشاغل و پودمان فردی
                            </label>
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="niazSanjiSource" [value]="false" [(ngModel)]="niazSanjiSource">نیازسنجی پودمان سازمانی (متمرکز و گروهی)
                            </label>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_niazsanjiYear">سال نیازسنجی</label>
                        <ng-select
                            [items]="dates"
                            [multiple]="false"
                            [closeOnSelect]="true"
                            [searchable]="true"
                            [required]="true"
                            bindLabel="title"
                            bindValue="id"
                            placeholder="انتخاب نمائید."
                            name="niazsanjiYear"
                            id="field_niazsanjiYear"
                            [(ngModel)]="runPhase.niazsanjiYear">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_runMonth">ماه اجرا</label>
                        <ng-select
                            [items]="months"
                            [multiple]="false"
                            [closeOnSelect]="true"
                            [searchable]="true"
                            [required]="false"
                            bindLabel="persianMonth"
                            bindValue="id"
                            placeholder="انتخاب نمائید."
                            name="runMonth"
                            id="field_runMonth"
                            [(ngModel)]="runPhase.runMonth">
                    </div>
                    <!--<div class="form-group">
                    </div>-->
                    <div class="form-group" *ngIf="isSuperUsers">
                        <label class="form-control-label" for="field_organizationChart">گروه</label>
                        <ng-select
                            [items]="orgsRoot"
                            [multiple]="false"
                            [closeOnSelect]="true"
                            [searchable]="true"
                            bindLabel="fullTitle"
                            bindValue="id"
                            placeholder="انتخاب نمائید."
                            name="organizationChartId"
                            id="field_organizationChartsRoot"
                            [(ngModel)]="runPhase.organizationChartId">
                    </div>
                    <div class="form-group half">
                        <label class="form-control-label" for="field_organizationChart">گروه/صنعت/واحد</label>
                        <ng-select
                            [items]="recommenedOrgCharts"
                            [multiple]="false"
                            [closeOnSelect]="true"
                            [searchable]="true"
                            bindLabel="fullTitle"
                            bindValue="id"
                            placeholder="انتخاب نمائید."
                            name="organizationChartId"
                            id="field_organizationChart"
                            [(ngModel)]="runPhase.organizationChartId">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_status">وضعیت</label>
                        <select class="form-control" name="status" id="field_status" [(ngModel)]="runPhase.status">
                            <option value="">انتخاب نمائید</option>
                            <option value="0">اجرا نشده</option>
                            <option value="10">اجرا شده</option>
                        </select>
                    </div>
                    <div class="form-group half">
                        <label class="form-control-label" for="field_educationalModule">افراد</label>
                        <ng-select
                            [items]="recommendedPeople"
                            [multiple]="false"
                            [closeOnSelect]="true"
                            [searchable]="true"
                            bindLabel="fullName"
                            bindValue="id"
                            placeholder="انتخاب نمائید."
                            name="personId"
                            id="field_personId"
                            [(ngModel)]="personId">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_educationalModuleId">کد پودمان آموزشی</label>
                        <input type="text" name="educationalModuleId" id="field_educationalModuleId" class="form-control"
                               [(ngModel)]="runPhase.educationalModuleId">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_educationalModule">پودمان آموزشی</label>
                        <input type="text" name="educationalModuleTitle" id="field_educationalModule" class="form-control"
                               [(ngModel)]="runPhase.educationalModuleTitle">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_finalNiazsanjiReportId">شناسه یکتا</label>
                        <input type="text" name="finalNiazsanjiReportId" id="field_finalNiazsanjiReportId" class="form-control"
                               [(ngModel)]="runPhase.finalNiazsanjiReportId">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_courseType">نوع دوره</label>
                        <ng-select
                            [items]="coursetypes"
                            [multiple]="false"
                            [closeOnSelect]="true"
                            [searchable]="true"
                            bindLabel="title"
                            bindValue="id"
                            placeholder="انتخاب نمائید."
                            name="courseTypeId"
                            id="field_courseType"
                            [(ngModel)]="runPhase.courseTypeId">
                    </div>
                    <!--<div class="form-group half">
                        <label class="form-control-label" for="field_educationalModule">پودمان آموزشی</label>
                        <ng-select
                            [items]="educationalModules"
                            [multiple]="false"
                            [closeOnSelect]="true"
                            [searchable]="true"
                            bindLabel="fullTitle"
                            bindValue="id"
                            placeholder="انتخاب نمائید."
                            name="educationalModuleId"
                            id="field_educationalModule"
                            [(ngModel)]="runPhase.educationalModuleId">
                    </div>-->

                    <!--<div class="form-group">
                        <label class="form-control-label" for="field_status">وضعیت نیازسنجی</label>
                        <ng-select
                            [items]="statusMeaning"
                            [multiple]="false"
                            [closeOnSelect]="true"
                            [searchable]="true"
                            [required]="false"
                            bindLabel="mean"
                            bindValue="id"
                            placeholder="انتخاب نمائید."
                            name="status"
                            id="field_status"
                            [(ngModel)]="runPhase.status">
                    </div>-->
                </div>
                <div class="card-footer text-muted success-color white-text">
                    <input type="submit" class="btn btn-primary btn-lg" id="searchButton" value="جستجو">
                    <div style="display: inline" class="alert alert-info">برای دیدن کلیه نیازسنجی های فردی و نیازسنجی های متمرکز پس از انتخاب سال نیازسنجی دکمه جستجو را کلیک کنید.</div>
                    <div style="display: inline" class="alert alert-danger" *ngIf="message">{{message}}</div>
                </div>
            </div>
        </div>
    </form>
    <br/>
    <!--<div class="table-responsive" *ngIf="planningAndRunMonthReports">
        <table class="table table-striped  table-bordered table-hover table-sm">
            <thead>
            <tr>
                <th></th>
                <th *ngFor="let planningAndRunMonthReport of planningAndRunMonthReports">
                    {{planningAndRunMonthReport.persianMonth}}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>نفر ساعت</td>
                <td *ngFor="let planningAndRunMonthReport of planningAndRunMonthReports">
                    {{((planningAndRunMonthReport.personHour / planningAndRunMonthReport.totalHour) * 100) | number:'1.0-0'}} %
                </td>
            </tr>
            <tr>
                <td>سرمایه گذاری</td>
                <td *ngFor="let planningAndRunMonthReport of planningAndRunMonthReports">
                    {{((planningAndRunMonthReport.personCost / planningAndRunMonthReport.totalPriceCost) * 100) | number:'1.0-0'}} %
                </td>
            </tr>
            </tbody>
        </table>
    </div>-->
    <div class="table-responsive" *ngIf="runPhaseFardis.length > 0">
        <kendo-grid
            [groupable]="true"
            [data]="gridView"
            [height]="700"
            [group]="groups"
            [groupable]="{ showFooter: true }"
            [rowClass]="rowCallback"
            (groupChange)="groupChangeFardis($event)">
            <ng-template kendoGridToolbarTemplate>
                <button type="button" kendoGridExcelCommand icon="file-excel" style="float: left" class="info">خروجی اکسل</button>
            </ng-template>
            <!--<kendo-grid-column field="id" title="شناسه" [width]="100"></kendo-grid-column>-->
            <!--<kendo-grid-column field="jobTitle" title="عنوان شغل" [width]="300"></kendo-grid-column>-->
            <kendo-grid-column field="id" title=" " [width]="200">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <!--<kendo-buttongroup type="button" class="btn btn-warning btn-sm"
                    >
                        <fa-icon [icon]="'sticky-note'"></fa-icon>
                        <span class="d-none d-md-inline">برنامه ریزی</span>
                    </kendo-buttongroup>-->
                    <kendo-buttongroup>
                        <button kendoButton type="submit" class="btn btn-success btn-sm"
                                [routerLink]="['/run-phase-marine-suffix', dataItem.id, 'edit']"
                        >
                            <span class="fa fa-file"></span>
                            <span class="d-none d-md-inline">اجرا</span>
                        </button>
                    </kendo-buttongroup>
                    <!--<kendo-buttongroup type="submit" *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                       [routerLink]="['/', { outlets: { popup: 'final-niazsanji-report-marine-suffix/'+ dataItem.id + '/delete'} }]"
                                       replaceUrl="true"
                                       queryParamsHandling="merge" style="background-color: #aa0000;color: white"
                                       class="btn btn-danger btn-sm"
                    >
                        <fa-icon [icon]="'times'"></fa-icon>
                        <span class="d-none d-md-inline">حذف</span>
                    </kendo-buttongroup>-->
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="educationalModuleTitle" title="عنوان پودمان" [width]="300"></kendo-grid-column>
            <kendo-grid-column field="educationalModuleId" title="شناسه پودمان" [width]="100"></kendo-grid-column>
            <kendo-grid-column field="educationalModuleLevel" title="سطح" [width]="90"></kendo-grid-column>
            <kendo-grid-column field="educationalModuleTotalLearningTime" title="مدت پودمان" [width]="100">
                <ng-template
                    kendoGridFooterTemplate
                    let-column="column">جمع کل (نفر ساعت): {{total | number}}</ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="courseTypeTitle" title="نوع دوره" [width]="100"></kendo-grid-column>
            <kendo-grid-column field="personFullName" title="نام و نام خانوادگی متقاضی" [width]="250"></kendo-grid-column>
            <kendo-grid-column field="personJobTitle" title="عنوان شغل متقاضی" [width]="200"></kendo-grid-column>
            <kendo-grid-column field="finalizeCost" format="{0:n0}" title="سرمایه گذاری صرف شده" [width]="150">
                <ng-template
                    kendoGridFooterTemplate
                    let-column="column">جمع کل: {{totalFinalizeCost | number}}</ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="niazsanjiYear" title="سال نیازسنجی" [width]="100"></kendo-grid-column>
            <kendo-grid-column field="runMonthPersian" title="ماه اجرا" [width]="100"></kendo-grid-column>
            <kendo-grid-column field="finishDate" title="تاریخ دقیق برگزاری دوره" [width]="200"></kendo-grid-column>
            <kendo-grid-column field="finalNiazsanjiReportId" title="شناسه یکتا" [width]="150"></kendo-grid-column>
            <kendo-grid-column field="organizationChartTitle" title="گروه/صنعت/واحد" [width]="500"></kendo-grid-column>
            <kendo-grid-excel fileName="final-niazsanji-report.xlsx">
                <kendo-excelexport-column field="organizationChartTitle" title="گروه/صنعت/واحد" [width]="300"></kendo-excelexport-column>
                <kendo-excelexport-column field="educationalModuleTitle" title="عنوان پودمان" [width]="300"></kendo-excelexport-column>
                <kendo-excelexport-column field="educationalModuleId" title="شناسه پودمان" [width]="100"></kendo-excelexport-column>
                <kendo-excelexport-column field="educationalModuleLevel" title="سطح" [width]="200"></kendo-excelexport-column>
                <kendo-excelexport-column field="educationalModuleTotalLearningTime" title="مدت پودمان" [width]="100"></kendo-excelexport-column>
                <kendo-excelexport-column field="courseTypeTitle" title="نوع دوره" [width]="200"></kendo-excelexport-column>
                <kendo-excelexport-column field="finalizeCost" title="سرمایه گذاری پایانی" [width]="200"></kendo-excelexport-column>
                <kendo-excelexport-column field="personFullName" title="نام و نام خانوادگی متقاضی" [width]="200"></kendo-excelexport-column>
                <kendo-excelexport-column field="personJobTitle" title="عنوان شغل متقاضی" [width]="200"></kendo-excelexport-column>
                <!--<kendo-excelexport-column field="priceCost" title="سرمایه گذاری" [width]="100"></kendo-excelexport-column>-->
                <kendo-excelexport-column field="niazsanjiYear" title="سال نیازسنجی" [width]="100"></kendo-excelexport-column>
                <kendo-excelexport-column field="runMonthPersian" title="ماه اجرا" [width]="100"></kendo-excelexport-column>
                <kendo-excelexport-column field="finishDate" title="تاریخ دقیق برگزاری دوره" [width]="200"></kendo-excelexport-column>
                <kendo-excelexport-column field="finalNiazsanjiReportId" title="شناسه یکتا" [width]="150"></kendo-excelexport-column>
            </kendo-grid-excel>
        </kendo-grid>
    </div>
    <div class="table-responsive" *ngIf="runPhaseOrganizations.length > 0">
        <kendo-grid
            [groupable]="true"
            [data]="gridViewOrg"
            [height]="700"
            [group]="groupsOrg"
            [groupable]="{ showFooter: true }"
            [navigable]="true"
            (groupChange)="groupChangeOrgs($event)"
            [rowClass]="rowCallback"
            (excelExport)="onExcelExport($event)">
            <ng-template kendoGridToolbarTemplate>
                <button type="button" kendoGridExcelCommand icon="file-excel" style="float: left" class="info">خروجی اکسل</button>
            </ng-template>
            <!--<kendo-grid-column field="id" title="شناسه" [width]="100"></kendo-grid-column>-->
            <!--<kendo-grid-column field="jobTitle" title="عنوان شغل" [width]="300"></kendo-grid-column>-->
            <kendo-grid-column field="id" title=" " [width]="200">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <!--<kendo-buttongroup type="button" class="btn btn-warning btn-sm"
                    >
                        <fa-icon [icon]="'sticky-note'"></fa-icon>
                        <span class="d-none d-md-inline">برنامه ریزی</span>
                    </kendo-buttongroup>-->
                    <kendo-buttongroup>
                        <button kendoButton type="submit" class="btn btn-success btn-sm"
                                [routerLink]="['/run-phase-marine-suffix', dataItem.id, 'edit']"
                        >
                            <span class="fa fa-file"></span>
                            <span class="d-none d-md-inline">اجرا</span>
                        </button>
                    </kendo-buttongroup>
                    <!--<kendo-buttongroup type="submit" *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                       [routerLink]="['/', { outlets: { popup: 'final-niazsanji-report-marine-suffix/'+ dataItem.id + '/delete'} }]"
                                       replaceUrl="true"
                                       queryParamsHandling="merge" style="background-color: #aa0000;color: white"
                                       class="btn btn-danger btn-sm"
                    >
                        <fa-icon [icon]="'times'"></fa-icon>
                        <span class="d-none d-md-inline">حذف</span>
                    </kendo-buttongroup>-->
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="educationalModuleTitle" title="عنوان پودمان" [width]="200"></kendo-grid-column>
            <kendo-grid-column field="educationalModuleId" title="شناسه پودمان" [width]="100"></kendo-grid-column>
            <kendo-grid-column field="educationalModuleLevel" title="سطح" [width]="100"></kendo-grid-column>
            <kendo-grid-column field="educationalModuleTotalLearningTime" title="مدت پودمان" [width]="100">

                <ng-template
                    kendoGridFooterTemplate
                    let-column="column">جمع کل (نفر ساعت): {{total | number}}</ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="courseTypeTitle" title="نوع دوره" [width]="100"></kendo-grid-column>
            <kendo-grid-column field="finalizeCost" format="{0:n0}" title="سرمایه گذاری صرف شده" [width]="150">
                <ng-template
                    kendoGridFooterTemplate
                    let-column="column">جمع کل: {{totalFinalizeCost | number}}</ng-template>
            </kendo-grid-column>

            <!--<kendo-grid-column field="personFullName" title="نام و نام خانوادگی متقاضی" [width]="300"></kendo-grid-column>
            <kendo-grid-column field="personJobTitle" title="عنوان شغل متقاضی" [width]="300"></kendo-grid-column>-->
            <!--<kendo-grid-column field="priceCost" title="سرمایه گذاری اولیه" [width]="100">-->
                <ng-template
                    kendoGridFooterTemplate
                    let-column="column">جمع کل: {{totalCost | number}}</ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="niazsanjiYear" title="سال نیازسنجی" [width]="100"></kendo-grid-column>
            <kendo-grid-column field="runMonthPersian" title="ماه اجرا" [width]="100"></kendo-grid-column>
            <kendo-grid-column field="finishDate" title="تاریخ دقیق برگزاری دوره" [width]="200"></kendo-grid-column>
            <div *kendoGridDetailTemplate="let dataItem">
                <mi-run-phase-marine-suffix-detail-people [people]="dataItem.people"></mi-run-phase-marine-suffix-detail-people>
            </div>
            <kendo-grid-column field="finalNiazsanjiReportId" title="شناسه یکتا" [width]="150"></kendo-grid-column>
            <kendo-grid-column field="organizationChartTitle" title="گروه/صنعت/واحد" [width]="500"></kendo-grid-column>
            <kendo-grid-excel fileName="final-niazsanji-report.xlsx">
                <kendo-excelexport-column field="organizationChartTitle" title="گروه/صنعت/واحد" [width]="300"></kendo-excelexport-column>
                <kendo-excelexport-column field="educationalModuleTitle" title="عنوان پودمان" [width]="300"></kendo-excelexport-column>
                <kendo-excelexport-column field="educationalModuleId" title="شناسه پودمان" [width]="100"></kendo-excelexport-column>
                <kendo-excelexport-column field="educationalModuleLevel" title="سطح" [width]="200"></kendo-excelexport-column>
                <kendo-excelexport-column field="educationalModuleTotalLearningTime" title="مدت پودمان" [width]="100"></kendo-excelexport-column>
                <kendo-excelexport-column field="courseTypeTitle" title="نوع دوره" [width]="100"></kendo-excelexport-column>
                <kendo-excelexport-column field="finalizeCost" title="سرمایه گذاری پایانی" [width]="100"></kendo-excelexport-column>

                <!--<kendo-excelexport-column field="priceCost" title="سرمایه گذاری" [width]="100"></kendo-excelexport-column>-->
                <kendo-excelexport-column field="niazsanjiYear" title="سال نیازسنجی" [width]="100"></kendo-excelexport-column>
                <kendo-excelexport-column field="runMonthPersian" title="ماه اجرا" [width]="100"></kendo-excelexport-column>
                <kendo-excelexport-column field="finishDate" title="تاریخ دقیق برگزاری دوره" [width]="200"></kendo-excelexport-column>
                <kendo-excelexport-column field="finalNiazsanjiReportId" title="شناسه یکتا" [width]="150"></kendo-excelexport-column>
                <!-- <div *kendoGridDetailTemplate="let dataItem">
                     <mi-final-niazsanji-report-marine-suffix-detail-people [people]="dataItem.people"></mi-final-niazsanji-report-marine-suffix-detail-people>
                 </div>-->
            </kendo-grid-excel>
        </kendo-grid>
    </div>
</div>
