<mi-page-ribbon id="mi-page-ribbon"></mi-page-ribbon>
<div class="container-fluid pad-right-0">
    <mi-topbar name="topbar" id="mi-topbar"></mi-topbar>
    <div id="col-navbar" class="col-lg-2 pad-right-0">
    <router-outlet name="navbar" id="navbar"></router-outlet>
    </div>
    <div class="card jh-card col-lg-10" style="max-height: calc(100vh - 70px);overflow-y: auto;min-height: calc(100vh - 100px)">
        <router-outlet></router-outlet>
        <router-outlet id="popup" name="popup"></router-outlet>

    </div>
    <app-count-down></app-count-down>
    <mi-footer id="mi-footer"></mi-footer>

</div>
