tr.success { background-color: #dff0d8; color: #3c763d; }
tr.danger { background-color: #f2dede; color: #a94442; }
tr.info { background-color: #d9edf7; color: #31708f; }
tr.warning { background-color: #fcf8e3; color: #8a6d3b; }
tr.light{ color:#818182;background-color:#fefefe;}

.ng-select > div {
    z-index: 2;
}
