tr.accept td {
    color: #ffffff;
    background-color: green;
}
tr.ignore td {
  color: #ffffff;
  background-color: red;
}
tr.new td {
    color: #ffffff;
    background-color: blue;
}
tr.read td {
    color: #ffffff;
    background-color: #fbff58;
}
tr.returned td {
    color: #ffffff;
    background-color: purple;
}
