<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.requestOtherNiazsanji.home.title">Request Other Niazsanjis</span>
        (<input value="{{'marineindustryprojApp.requestOtherNiazsanji.home.code' | translate}}" disabled  class="form-code-input" />)
        <button id="jh-create-entity"
                class="btn btn-primary float-right jh-create-entity create-request-other-niazsanji-marine-suffix"
                [routerLink]="['/request-other-niazsanji-marine-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="marineindustryprojApp.requestOtherNiazsanji.home.createLabel">
            Create new Request Other Niazsanji
            </span>
        </button>
        <button  class="btn btn-info float-left" jhiTranslate="entity.action.getexcel" (click)="export()">
            <span class="fa fa-file-excel-o"></span>
            excel
        </button>
    </h2>
    <mi-alert></mi-alert>
    <search-panel [(page)]="page" [(size)]="itemsPerPage" [predicate]="predicate" [reverse]="reverse" [searchPanelModel]="searchbarModel"></search-panel>

    <br/>
    <div class="table-responsive" *ngIf="requestOtherNiazsanjis">
        <table class="table table-striped  table-bordered table-hover table-sm">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th>ردیف</th>
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="organizationChartTitle"><span
                    jhiTranslate="marineindustryprojApp.requestOtherNiazsanji.organizationChart">Organization Chart</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="educationalModuleTitle"><span
                    jhiTranslate="marineindustryprojApp.requestOtherNiazsanji.educationalModuleTitle">Educational Module</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="educationalModuleId"><span
                    jhiTranslate="marineindustryprojApp.requestOtherNiazsanji.educationalModuleId">Educational Module</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th><span jhiTranslate="marineindustryprojApp.requestOtherNiazsanji.skillLevelOfSkillTitle">Educational Module</span>
                </th>
                <th><span jhiTranslate="marineindustryprojApp.requestOtherNiazsanji.totalLearningTime">Educational Module</span>
                </th>
                <th jhiSortBy="personFamily"><span jhiTranslate="marineindustryprojApp.requestOtherNiazsanji.person">Person</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th><span jhiTranslate="marineindustryprojApp.requestOtherNiazsanji.personJobTitle">Person</span>
                </th>
                <th jhiSortBy="costEducationalModule"><span
                    jhiTranslate="marineindustryprojApp.requestOtherNiazsanji.costEducationalModule">Cost Educational Module</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="niazsanjiInputTitle"><span
                    jhiTranslate="marineindustryprojApp.requestOtherNiazsanji.niazsanjiInput">Niazsanji Input</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="courseTypeTitle"><span
                    jhiTranslate="marineindustryprojApp.requestOtherNiazsanji.courseType">Course Type</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="createDate"><span jhiTranslate="marineindustryprojApp.requestOtherNiazsanji.createDate">Create Date</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="status"><span
                    jhiTranslate="marineindustryprojApp.requestOtherNiazsanji.status">Status</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>

                <th width="300"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let requestOtherNiazsanji of requestOtherNiazsanjis ;let i = index"
                [ngClass]="{'new': requestOtherNiazsanji.requestStatus == 'NEW','read': requestOtherNiazsanji.requestStatus == 'READ','accept': requestOtherNiazsanji.requestStatus === 'ACCEPT','ignore': requestOtherNiazsanji.requestStatus === 'IGNORE'}">
                <td>{{i+1}}</td>
                <td>{{requestOtherNiazsanji.id}}</td>
                <td>
                    <div *ngIf="requestOtherNiazsanji.organizationChartId">
                        <a [routerLink]="['../organization-chart-marine-suffix', requestOtherNiazsanji.organizationChartId , 'view' ]">{{requestOtherNiazsanji.organizationChartTitle}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="requestOtherNiazsanji.educationalModuleId">
                        <a [routerLink]="['../educational-module-marine-suffix', requestOtherNiazsanji.educationalModuleId , 'view' ]">{{requestOtherNiazsanji.educationalModuleTitle}}</a>
                    </div>
                </td>
                <td>{{requestOtherNiazsanji.educationalModuleCode}}</td>
                <td>{{requestOtherNiazsanji.skillLevelOfSkillTitle}}</td>
                <td>{{requestOtherNiazsanji.totalLearningTime | number}}</td>

                <td>
                    <div *ngIf="requestOtherNiazsanji.personId">
                        <a [routerLink]="['../person-marine-suffix', requestOtherNiazsanji.personId , 'view' ]">{{requestOtherNiazsanji.personFullName}}</a>
                    </div>
                </td>
                <td>
                    {{requestOtherNiazsanji.personJobTitle}}
                </td>
                <td>{{requestOtherNiazsanji.costEducationalModule | number}}</td>
                <td>
                    <div *ngIf="requestOtherNiazsanji.niazsanjiInputId">
                        <a [routerLink]="['../niazsanji-input-marine-suffix', requestOtherNiazsanji.niazsanjiInputId , 'view' ]">{{requestOtherNiazsanji.niazsanjiInputTitle}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="requestOtherNiazsanji.courseTypeId">
                        <a [routerLink]="['../course-type-marine-suffix', requestOtherNiazsanji.courseTypeId , 'view' ]">{{requestOtherNiazsanji.courseTypeTitle}}</a>
                    </div>
                </td>
                <td>{{requestOtherNiazsanji.createDate}}</td>
                <td>{{requestOtherNiazsanji.statusMeaning}}</td>

                <!--<td>{{requestOtherNiazsanji.code}}</td>

                <td>{{requestOtherNiazsanji.description}}</td>
                <td>{{requestOtherNiazsanji.restrictionDescription}}</td>
                <td>{{requestOtherNiazsanji.goalsText}}</td>
                <td>{{requestOtherNiazsanji.prerequisite}}</td>
                <td>{{requestOtherNiazsanji.createUserLogin}}</td>

                <td>{{requestOtherNiazsanji.modifyUserLogin}}</td>
                <td>{{requestOtherNiazsanji.modifyDate | date:'medium'}}</td>
                <td>{{requestOtherNiazsanji.archived}}</td>
                <td>{{requestOtherNiazsanji.archivedUserLogin}}</td>
                <td>{{requestOtherNiazsanji.archivedDate | date:'medium'}}</td>

                <td>{{requestOtherNiazsanji.conversation}}</td>
                <td jhiTranslate="{{'marineindustryprojApp.RequestStatus.' + requestOtherNiazsanji.requestStatus}}">{{requestOtherNiazsanji.requestStatus}}</td>
                <td>{{requestOtherNiazsanji.changeStatusUserLogin}}</td>
                <td>{{requestOtherNiazsanji.guid}}</td>
                <td>{{requestOtherNiazsanji.hasImportantMessage}}</td>
                <td>
                    <div *ngIf="requestOtherNiazsanji.teachingApproachId">
                        <a [routerLink]="['../teaching-approach-marine-suffix', requestOtherNiazsanji.teachingApproachId , 'view' ]" >{{requestOtherNiazsanji.teachingApproachTitle}}</a>
                    </div>
                </td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" title="مدارک"
                                [routerLink]="['../document-marine-suffix', 'requestotherniazsanji',requestOtherNiazsanji.id]"
                                [ngClass]="(requestOtherNiazsanji.documents && requestOtherNiazsanji.documents.length > 0) ? 'btn-success' : 'btn-light'"
                                class="btn btn-sm">
                            <span class="fa fa-file"></span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/request-other-niazsanji-marine-suffix', requestOtherNiazsanji.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <img src="../../../content/images/bulb-icon.png" title="پیام مهمی در جزئیات وجود دارد"
                             alt="پیام مهمی در جزئیات وجود دارد"
                             *ngIf="requestOtherNiazsanji.hasImportantMessage == true"
                             class="lightBulb"
                             (click)="toggleImportantMessage(requestOtherNiazsanji.id, false)"/>
                        <img src="../../../content/images/light-off-icon.png"
                             *ngIf="requestOtherNiazsanji.hasImportantMessage == false"
                             class="lightBulb"
                             (click)="toggleImportantMessage(requestOtherNiazsanji.id, true)"/>

                        <ng-container
                            *ngIf="!(requestOtherNiazsanji.requestStatus == 'ACCEPT'  || requestOtherNiazsanji.requestStatus == 'IGNORE')">
                            <ng-container *ngIf="requestOtherNiazsanji.status == currentPerson.organizationChartId">
                                <button type="submit"
                                        [routerLink]="['/request-other-niazsanji-marine-suffix', requestOtherNiazsanji.id, 'edit']"
                                        class="btn btn-primary btn-sm">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                </button>
                                <button type="submit" title="ثبت نظر"
                                        [routerLink]="['/', { outlets: { popup: 'request-other-niazsanji-marine-suffix/'+ requestOtherNiazsanji.id + '/' + 'COMMENT' + '/comment'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'comments'"></fa-icon>
                                    <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.comment.comment">comment</span>-->
                                </button>
                                <button type="submit" title="تایید کردن"
                                        [routerLink]="['/', { outlets: { popup: 'request-other-niazsanji-marine-suffix/'+ requestOtherNiazsanji.id + '/' + 'ACCEPT' + '/comment'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-success btn-sm">
                                    <fa-icon [icon]="'check-double'"></fa-icon>
                                    <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.comment.accept">comment</span>-->
                                </button>
                                <button type="submit" title="رد کردن"
                                        [routerLink]="['/', { outlets: { popup: 'request-other-niazsanji-marine-suffix/'+ requestOtherNiazsanji.id + '/' + 'REJECT' + '/comment'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-danger btn-sm">
                                    <fa-icon [icon]="'ban'"></fa-icon>
                                    <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.comment.reject">comment</span>-->
                                </button>
                            </ng-container>
                        </ng-container>
                        <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_DELETE']" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'request-other-niazsanji-marine-suffix/'+ requestOtherNiazsanji.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            <tr class="sum-row">
                <td colspan="6">مجموع</td>
                <td>{{totalHour | number}}</td>
                <td colspan="2"></td>
                <td>{{totalPriceCost | number}}</td>
                <td colspan="5"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="8">
                    <select [(ngModel)] = "itemsPerPage">
                        <option value="10">۱۰</option>
                        <option value="20">۲۰</option>
                        <option value="50">۵۰</option>
                        <option value="100">۱۰۰</option>
                        <option value="500">۵۰۰</option>
                    </select>
                    <div class="row justify-content-center">
                        <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                    </div>
                </td>

                <td colspan="5">

                </td>
            </tr>

            </tfoot>
        </table>
    </div>
    <div *ngIf="requestOtherNiazsanjis && requestOtherNiazsanjis.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
