<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="mi-request-other-niazsanji-marine-suffix-heading" jhiTranslate="marineindustryprojApp.requestOtherNiazsanji.home.createOrEditLabel">Create or edit a Request Other Niazsanji</h2>
            <div>
                <mi-alert-error></mi-alert-error>
                <div class="form-group" [hidden]="!requestOtherNiazsanji.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="requestOtherNiazsanji.id" readonly />
                </div>
                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">مشخصات متقاضی</div></div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.requestOtherNiazsanji.person" for="field_person">Person</label>
                    <!--<select class="form-control" id="field_person" name="person" [(ngModel)]="requestOtherNiazsanji.personId"  required>
                        <option *ngIf="!editForm.value.person" [ngValue]="null" selected></option>
                        <option [ngValue]="personOption.id" *ngFor="let personOption of people; trackBy: trackPersonById">{{personOption.family}}</option>
                    </select>-->
                    <ng-select
                        [items]="allPeople"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [required]="true"
                        [disabled]="orgChartDisabled"
                        (change)="onPersonChange($event)"
                        bindLabel="fullName"
                        bindValue="id"
                        placeholder="انتخاب نمائید."
                        name="person"
                        id="field_person"
                        [(ngModel)]="requestOtherNiazsanji.personId" >
                </div>
                <div [hidden]="!(editForm.controls.person?.dirty && editForm.controls.person?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.person?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group bighalf">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.requestOtherNiazsanji.organizationChart" for="field_organizationChart">Organization Chart</label>
                    <!--<select class="form-control" id="field_organizationChart" name="organizationChart" [(ngModel)]="requestOtherNiazsanji.organizationChartId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="organizationChartOption.id" *ngFor="let organizationChartOption of organizationcharts; trackBy: trackOrganizationChartById">{{organizationChartOption.title}}</option>
                    </select>-->
                    <ng-select
                        [items]="organizationcharts"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [required]="true"
                        [disabled]="true"
                        bindLabel="fullTitle"
                        bindValue="id"
                        placeholder="انتخاب نمائید."
                        name="organizationChart"
                        id="field_organizationChart"
                        [(ngModel)]="requestOtherNiazsanji.organizationChartId">
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.person.employmentType"></label>
                    <label class="form-control">{{selectedPerson.employmentTypeTitle}}</label>
                </div>
                <education-history-panel [personId]="requestOtherNiazsanji.personId" [type]="2"></education-history-panel>
                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">ورودی نیازسنجی</div></div>
                <div class="form-group bighalf">
                    <a (click)="change('niazsanji-input-marine-suffix')" class="form-control-label" jhiTranslate="marineindustryprojApp.requestOtherNiazsanji.niazsanjiInput" for="field_niazsanjiInput">Niazsanji Input</a>
                    <ng-select
                        [items]="niazsanjiinputs"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [required]="true"
                        bindLabel="title"
                        bindValue="id"
                        placeholder="انتخاب نمائید."
                        name="niazsanjiInput"
                        id="field_niazsanjiInput"
                        [(ngModel)]="requestOtherNiazsanji.niazsanjiInputId">
                </div>
               <!-- <div class="form-group">

                    <select class="form-control" id="field_niazsanjiInput" name="niazsanjiInput" [(ngModel)]="requestOtherNiazsanji.niazsanjiInputId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="niazsanjiInputOption.id" *ngFor="let niazsanjiInputOption of niazsanjiinputs; trackBy: trackNiazsanjiInputById">{{niazsanjiInputOption.title}}</option>
                    </select>
                </div>-->
                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">اطلاعات پودمان های درخواستی</div></div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.requestOtherNiazsanji.educationalModule" for="field_educationalModule">Educational Module</label>
                    <!--<select class="form-control" id="field_educationalModule" name="educationalModule" [(ngModel)]="requestOtherNiazsanji.educationalModuleId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="educationalModuleOption.id" *ngFor="let educationalModuleOption of educationalmodules; trackBy: trackEducationalModuleById">{{educationalModuleOption.title}}</option>
                    </select>-->
                    <ng-select
                        [items]="educationalmodules"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [required]="true"
                        (change)="onEducationalModuleChange($event)"
                        bindLabel="fullTitle"
                        bindValue="id"
                        placeholder="انتخاب نمائید."
                        name="educationalModule"
                        id="field_educationalModule"
                        [(ngModel)]="requestOtherNiazsanji.educationalModuleId" >
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.requestOtherNiazsanji.skillLevelOfSkillTitle">Cost Educational Module</label>
                    <label class="form-control">
                        {{requestOtherNiazsanji.skillLevelOfSkillTitle}}
                    </label>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.requestOtherNiazsanji.totalLearningTime" >Cost Educational Module</label>
                    <label class="form-control">
                        {{requestOtherNiazsanji.totalLearningTime | number}}
                    </label>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.requestOtherNiazsanji.courseType" for="field_courseType">Course Type</label>
                   <!-- <select class="form-control" id="field_courseType" name="courseType" [(ngModel)]="requestOtherNiazsanji.courseTypeId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="courseTypeOption.id" *ngFor="let courseTypeOption of coursetypes; trackBy: trackCourseTypeById">{{courseTypeOption.title}}</option>
                    </select>-->
                    <ng-select
                        [items]="coursetypes"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [required]="true"
                        bindLabel="title"
                        bindValue="id"
                        placeholder="انتخاب نمائید."
                        name="courseType"
                        id="field_courseType"
                        [(ngModel)]="requestOtherNiazsanji.courseTypeId" >
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.requestOtherNiazsanji.costEducationalModule" for="field_costEducationalModule">Cost Educational Module</label>
                    <input type="number" class="form-control" name="costEducationalModule" id="field_costEducationalModule"
                        [(ngModel)]="requestOtherNiazsanji.costEducationalModule" />
                </div>
                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">اطلاعات طراحی دوره</div></div>
                <div class="form-group">
                    <label jhiTranslate="marineindustryprojApp.requestOtherNiazsanji.restriction" for="field_restriction">Restriction</label>
                    <ng-select
                        [items]="restrictions"
                        [multiple]="true"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [required]="false"
                        bindLabel="title"
                        placeholder="محدودیت ها"
                        name="restriction"
                        id="field_restriction"
                        [(ngModel)]="requestOtherNiazsanji.restrictions" >
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.requestOtherNiazsanji.restrictionDescription" for="field_restrictionDescription">Restriction Description</label>
                    <textarea type="text" class="form-control" name="restrictionDescription" id="field_restrictionDescription"
                              [(ngModel)]="requestOtherNiazsanji.restrictionDescription" maxlength="4096"></textarea>
                    <div [hidden]="!(editForm.controls.restrictionDescription?.dirty && editForm.controls.restrictionDescription?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.restrictionDescription?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                            This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.requestOtherNiazsanji.teachingApproach" for="field_teachingApproach">Teaching Approach</label>
                    <ng-select
                        [items]="teachingapproaches"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [required]="true"
                        bindLabel="title"
                        bindValue="id"
                        placeholder="روش آموزش"
                        name="teachingApproach"
                        id="field_teachingApproach"
                        [(ngModel)]="requestOtherNiazsanji.teachingApproachId">
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.requestOtherNiazsanji.goalsText" for="field_goalsText">Goals Text</label>
                    <textarea type="text" class="form-control" name="goalsText" id="field_goalsText"
                              [(ngModel)]="requestOtherNiazsanji.goalsText" maxlength="4096"></textarea>
                    <div [hidden]="!(editForm.controls.goalsText?.dirty && editForm.controls.goalsText?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.goalsText?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                            This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.requestOtherNiazsanji.prerequisite" for="field_prerequisite">Prerequisite</label>
                    <textarea type="text" class="form-control" name="prerequisite" id="field_prerequisite"
                              [(ngModel)]="requestOtherNiazsanji.prerequisite" maxlength="4096"></textarea>
                    <div [hidden]="!(editForm.controls.prerequisite?.dirty && editForm.controls.prerequisite?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.prerequisite?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                            This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
            </div>
            <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">توضیحات تکمیلی</div></div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="marineindustryprojApp.requestOtherNiazsanji.description" for="field_description">Description</label>
                <textarea class="form-control" name="description" id="field_description"
                          [(ngModel)]="requestOtherNiazsanji.description" ></textarea>
            </div>
            <div class="form-group" *ngIf="requestOtherNiazsanji.id === undefined">
                <span *ngIf="targetPeople">درخواست شما برای افراد زیر ارسال می شود.</span>
                <ul>
                    <li *ngFor="let item of targetPeople">
                        {{item.fullName}}
                    </li>
                </ul>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
                <span class="alert alert-warning" *ngIf="requestOtherNiazsanji.id === undefined">بعد از ذخیره اطلاعات امکان ویرایش برای شما وجود ندارد، لطفا در زمان ثبت اطلاعات نهایت دقت را بفرمائید.</span>
                <span class="alert alert-danger" *ngIf="message">{{message}}</span>
            </div>
        </form>
    </div>
</div>
