<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="mi-matching-run-running-step-marine-suffix-heading" jhiTranslate="marineindustryprojApp.matchingRunRunningStep.home.createOrEditLabel">Create or edit a Matching Run Running Step</h2>
            <div>
                <mi-alert-error></mi-alert-error>
                <div class="form-group" [hidden]="!matchingRunRunningStep.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="matchingRunRunningStep.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.matchingRunRunningStep.fileDoc" for="field_fileDoc">File Doc</label>
                    <textarea class="form-control" name="fileDoc" id="field_fileDoc"
                        [(ngModel)]="matchingRunRunningStep.fileDoc" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.matchingRunRunningStep.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="matchingRunRunningStep.description" maxlength="4096"/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                        This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.matchingRunRunningStep.done" for="field_done">Done</label>
                    <input type="checkbox" class="form-control" name="done" id="field_done"
                        [(ngModel)]="matchingRunRunningStep.done" />
                    <div [hidden]="!(editForm.controls.done?.dirty && editForm.controls.done?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.done?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.matchingRunRunningStep.doneUserLogin" for="field_doneUserLogin">Done User Login</label>
                    <input type="text" class="form-control" name="doneUserLogin" id="field_doneUserLogin"
                        [(ngModel)]="matchingRunRunningStep.doneUserLogin" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.doneUserLogin?.dirty && editForm.controls.doneUserLogin?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.doneUserLogin?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.matchingRunRunningStep.doneDate" for="field_doneDate">Done Date</label>
                    <div class="d-flex">
                        <input id="field_doneDate" type="datetime-local" class="form-control" name="doneDate" [(ngModel)]="doneDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.matchingRunRunningStep.createUserLogin" for="field_createUserLogin">Create User Login</label>
                    <input type="text" class="form-control" name="createUserLogin" id="field_createUserLogin"
                        [(ngModel)]="matchingRunRunningStep.createUserLogin" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.createUserLogin?.dirty && editForm.controls.createUserLogin?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.createUserLogin?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.matchingRunRunningStep.createDate" for="field_createDate">Create Date</label>
                    <div class="d-flex">
                        <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" [(ngModel)]="createDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.matchingRunRunningStep.modifyUserLogin" for="field_modifyUserLogin">Modify User Login</label>
                    <input type="text" class="form-control" name="modifyUserLogin" id="field_modifyUserLogin"
                        [(ngModel)]="matchingRunRunningStep.modifyUserLogin" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.modifyUserLogin?.dirty && editForm.controls.modifyUserLogin?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.modifyUserLogin?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.matchingRunRunningStep.modifyDate" for="field_modifyDate">Modify Date</label>
                    <div class="d-flex">
                        <input id="field_modifyDate" type="datetime-local" class="form-control" name="modifyDate" [(ngModel)]="modifyDate"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.matchingRunRunningStep.matchingEducationalRecord" for="field_matchingEducationalRecord">Matching Educational Record</label>
                    <select class="form-control" id="field_matchingEducationalRecord" name="matchingEducationalRecord" [(ngModel)]="matchingRunRunningStep.matchingEducationalRecordId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="matchingEducationalRecordOption.id" *ngFor="let matchingEducationalRecordOption of matchingeducationalrecords; trackBy: trackMatchingEducationalRecordById">{{matchingEducationalRecordOption.code}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.matchingRunRunningStep.matchingRunningStep" for="field_matchingRunningStep">Matching Running Step</label>
                    <select class="form-control" id="field_matchingRunningStep" name="matchingRunningStep" [(ngModel)]="matchingRunRunningStep.matchingRunningStepId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="matchingRunningStepOption.id" *ngFor="let matchingRunningStepOption of matchingrunningsteps; trackBy: trackMatchingRunningStepById">{{matchingRunningStepOption.title}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
