<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.applicationProcessStep.home.title">Application Process Steps</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-application-process-step-marine-suffix" [routerLink]="['/application-process-step-marine-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="marineindustryprojApp.applicationProcessStep.home.createLabel">
            Create new Application Process Step
            </span>
        </button>
    </h2>
    <mi-alert></mi-alert>
    <br/>
    <div class="table-responsive" *ngIf="applicationProcessSteps">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="marineindustryprojApp.applicationProcessStep.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="marineindustryprojApp.applicationProcessStep.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stepNumber"><span jhiTranslate="marineindustryprojApp.applicationProcessStep.stepNumber">Step Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stepRequired"><span jhiTranslate="marineindustryprojApp.applicationProcessStep.stepRequired">Step Required</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fileDocRequired"><span jhiTranslate="marineindustryprojApp.applicationProcessStep.fileDocRequired">File Doc Required</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="colorText"><span jhiTranslate="marineindustryprojApp.applicationProcessStep.colorText">Color Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isHeader"><span jhiTranslate="marineindustryprojApp.applicationProcessStep.isHeader">Is Header</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="createUserLogin"><span jhiTranslate="marineindustryprojApp.applicationProcessStep.createUserLogin">Create User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span jhiTranslate="marineindustryprojApp.applicationProcessStep.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyUserLogin"><span jhiTranslate="marineindustryprojApp.applicationProcessStep.modifyUserLogin">Modify User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyDate"><span jhiTranslate="marineindustryprojApp.applicationProcessStep.modifyDate">Modify Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="archived"><span jhiTranslate="marineindustryprojApp.applicationProcessStep.archived">Archived</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="archivedUserLogin"><span jhiTranslate="marineindustryprojApp.applicationProcessStep.archivedUserLogin">Archived User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="archivedDate"><span jhiTranslate="marineindustryprojApp.applicationProcessStep.archivedDate">Archived Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="marineindustryprojApp.applicationProcessStep.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fileDoc"><span jhiTranslate="marineindustryprojApp.applicationProcessStep.fileDoc">File Doc</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let applicationProcessStep of applicationProcessSteps ;trackBy: trackId">
                <td><a [routerLink]="['/application-process-step-marine-suffix', applicationProcessStep.id, 'view' ]">{{applicationProcessStep.id}}</a></td>
                <td>{{applicationProcessStep.title}}</td>
                <td>{{applicationProcessStep.description}}</td>
                <td>{{applicationProcessStep.stepNumber}}</td>
                <td>{{applicationProcessStep.stepRequired}}</td>
                <td>{{applicationProcessStep.fileDocRequired}}</td>
                <td>{{applicationProcessStep.colorText}}</td>
                <td>{{applicationProcessStep.isHeader}}</td>
                <!--<td>{{applicationProcessStep.createUserLogin}}</td>
                <td>{{applicationProcessStep.createDate | date:'medium'}}</td>
                <td>{{applicationProcessStep.modifyUserLogin}}</td>
                <td>{{applicationProcessStep.modifyDate | date:'medium'}}</td>
                <td>{{applicationProcessStep.archived}}</td>
                <td>{{applicationProcessStep.archivedUserLogin}}</td>
                <td>{{applicationProcessStep.archivedDate | date:'medium'}}</td>
                <td>{{applicationProcessStep.status}}</td>
                <td>{{applicationProcessStep.fileDoc}}</td>-->
                <td class="text-right">
                    <a *ngIf="applicationProcessStep.fileDoc" title="دریافت فایل نمونه" [href]="applicationProcessStep.fileDoc | safe" target="_blank"
                       class="btn btn-default btn-sm enableLink">
                        <fa-icon [icon]="'download'"></fa-icon>
                    </a>
                    <div class="btn-group flex-btn-group-container">
                        <!--<button type="submit"
                                [routerLink]="['/application-process-step-marine-suffix', applicationProcessStep.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>-->
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDIT']"
                                [routerLink]="['/application-process-step-marine-suffix', applicationProcessStep.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_DELETE']"
                                [routerLink]="['/', { outlets: { popup: 'application-process-step-marine-suffix/'+ applicationProcessStep.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="applicationProcessSteps && applicationProcessSteps.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
