<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="mi-design-and-planning-marine-suffix-heading" jhiTranslate="marineindustryprojApp.designAndPlanning.home.createOrEditLabel">Create or edit a Design And Planning</h2>
            <div>
                <mi-alert-error></mi-alert-error>
                <div class="form-group" [hidden]="true">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="hidden" class="form-control" id="id" name="id"
                        [(ngModel)]="designAndPlanning.id" readonly />
                </div>
                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">اطلاعات دوره</div></div>
                <div class="form-group">
                    <label class="form-control-label">عنوان دوره</label>
                    <label class="form-control">{{educationalModule.title}}</label>
                </div>
                <div class="form-group">
                    <label class="form-control-label">کد دوره</label>
                    <label class="form-control">{{educationalModule.code}}</label>
                </div>
                <!--<div class="form-group">
                    <label class="form-control-label">پیش نیاز دوره</label>
                    <label class="form-control">{{educationalModule.prerequisite}}</label>
                </div>-->
                <div class="table-responsive" *ngIf="finalniazsanjireportPeople">
                    <table class="table table-striped  table-bordered table-hover table-sm">
                        <thead>
                        <tr>
                            <th>ردیف</th>
                            <th>فرد</th>
                            <th>منبع نیازسنجی</th>
                            <th>هزینه</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let finalNiazsanjiReportPerson of finalniazsanjireportPeople ;let i = index">
                            <td>{{i+1}}</td>
                            <td>
                                <div *ngIf="finalNiazsanjiReportPerson.personId">
                                    <a [routerLink]="['../person-marine-suffix', finalNiazsanjiReportPerson.personId , 'view' ]" >{{finalNiazsanjiReportPerson.personFullName}}</a>
                                </div>
                            </td>
                            <td jhiTranslate="{{'marineindustryprojApp.NiazSanjiSource.' + finalNiazsanjiReportPerson.niazSanjiSource}}">{{finalNiazsanjiReportPerson.niazSanjiSource}}</td>
                            <td>{{finalNiazsanjiReportPerson.priceCost | number}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">برنامه ریزی دوره</div></div>
                <div class="form-group">
                    <a (click)="change('mahiat-course-marine-suffix')" [ngClass]="{'enableLink': isAdmin}" class="form-control-label" jhiTranslate="marineindustryprojApp.designAndPlanning.mahiatCourse" for="field_mahiatCourse">Mahiat Course</a>
                    <select class="form-control" id="field_mahiatCourse" name="mahiatCourse" [(ngModel)]="designAndPlanning.mahiatCourseId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="mahiatCourseOption.id" *ngFor="let mahiatCourseOption of mahiatcourses; trackBy: trackMahiatCourseById">{{mahiatCourseOption.title}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <a (click)="change('course-type-marine-suffix')" [ngClass]="{'enableLink': isAdmin}" class="form-control-label" jhiTranslate="marineindustryprojApp.designAndPlanning.courseType" for="field_courseType">Course Type</a>
                    <select class="form-control" id="field_courseType" name="courseType" [required]="true" [(ngModel)]="designAndPlanning.courseTypeId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="courseTypeOption.id" *ngFor="let courseTypeOption of coursetypes; trackBy: trackCourseTypeById">{{courseTypeOption.title}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <a (click)="change('teach-type-marine-suffix')" [ngClass]="{'enableLink': isAdmin}" class="form-control-label" jhiTranslate="marineindustryprojApp.designAndPlanning.teachType" for="field_teachType">Teach Type</a>
                    <select class="form-control" id="field_teachType" name="teachType" [(ngModel)]="designAndPlanning.teachTypeId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="teachTypeOption.id" *ngFor="let teachTypeOption of teachtypes; trackBy: trackTeachTypeById">{{teachTypeOption.title}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <a (click)="change('course-location-marine-suffix')" [ngClass]="{'enableLink': isAdmin}" class="form-control-label" jhiTranslate="marineindustryprojApp.designAndPlanning.courseLocation" for="field_courseLocation">Course Location</a>
                    <select class="form-control" id="field_courseLocation" name="courseLocation" [required]="true" [(ngModel)]="designAndPlanning.courseLocationId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="courseLocationOption.id" *ngFor="let courseLocationOption of courselocations; trackBy: trackCourseLocationById">{{courseLocationOption.title}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <a (click)="change('teaching-approach-marine-suffix')" [ngClass]="{'enableLink': isAdmin}" class="form-control-label" jhiTranslate="marineindustryprojApp.designAndPlanning.teachingApproach" for="field_teachingApproach">Teaching Approach</a>
                    <select class="form-control" id="field_teachingApproach" name="teachingApproach" [required]="true" [(ngModel)]="designAndPlanning.teachingApproachId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="teachingApproachOption.id" *ngFor="let teachingApproachOption of teachingapproaches; trackBy: trackTeachingApproachById">{{teachingApproachOption.title}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <a (click)="change('teach-technique-marine-suffix')" [ngClass]="{'enableLink': isAdmin}" class="form-control-label" jhiTranslate="marineindustryprojApp.designAndPlanning.teachTechnique" for="field_teachTechnique">Teach Technique</a>
                    <select class="form-control" id="field_teachTechnique" name="teachTechnique" [(ngModel)]="designAndPlanning.teachTechniqueId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="teachTechniqueOption.id" *ngFor="let teachTechniqueOption of teachtechniques; trackBy: trackTeachTechniqueById">{{teachTechniqueOption.title}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <a (click)="change('tools-and-facility-marine-suffix')" [ngClass]="{'enableLink': isAdmin}" class="form-control-label" jhiTranslate="marineindustryprojApp.designAndPlanning.toolsAndFacility" for="field_toolsAndFacility">Tools And Facility</a>
                    <select class="form-control" id="field_toolsAndFacility" name="toolsAndFacility" [(ngModel)]="designAndPlanning.toolsAndFacilityId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="toolsAndFacilityOption.id" *ngFor="let toolsAndFacilityOption of toolsandfacilities; trackBy: trackToolsAndFacilityById">{{toolsAndFacilityOption.title}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <a (click)="change('effectiveness-level-marine-suffix')" [ngClass]="{'enableLink': isAdmin}" class="form-control-label" jhiTranslate="marineindustryprojApp.designAndPlanning.effectivenessLevel" for="field_effectivenessLevel">Effectiveness Level</a>
                    <select class="form-control" id="field_effectivenessLevel" name="effectivenessLevel" [required]="true" [(ngModel)]="designAndPlanning.effectivenessLevelId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="effectivenessLevelOption.id" *ngFor="let effectivenessLevelOption of effectivenesslevels; trackBy: trackEffectivenessLevelById">{{effectivenessLevelOption.title}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <a (click)="change('effectiveness-index-marine-suffix')" [ngClass]="{'enableLink': isAdmin}" class="form-control-label" jhiTranslate="marineindustryprojApp.designAndPlanning.effectivenessIndex" for="field_effectivenessIndex">Effectiveness Index</a>
                    <select class="form-control" id="field_effectivenessIndex" name="effectivenessIndex" [(ngModel)]="designAndPlanning.effectivenessIndexId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="effectivenessIndexOption.id" *ngFor="let effectivenessIndexOption of effectivenessindices; trackBy: trackEffectivenessIndexById">{{effectivenessIndexOption.title}}</option>
                    </select>
                </div>
                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">تعیین هزینه های آموزش</div></div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.designAndPlanning.directCost" for="field_directCost">Direct Cost</label>
                    <input type="number" class="form-control" name="directCost" id="field_directCost"
                        [(ngModel)]="designAndPlanning.directCost" [max]="2147483647" [min]="0" required/>
                    <div [hidden]="!(editForm.controls.directCost?.dirty && editForm.controls.directCost?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.directCost?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.directCost?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group bighalf">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.designAndPlanning.directCostDescription" for="field_directCostDescription">Direct Cost Description</label>
                    <textarea type="text" class="form-control" name="directCostDescription" id="field_directCostDescription"
                              [(ngModel)]="designAndPlanning.directCostDescription" maxlength="4096"></textarea>
                    <div [hidden]="!(editForm.controls.directCostDescription?.dirty && editForm.controls.directCostDescription?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.directCostDescription?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                        This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.designAndPlanning.undirectCost" for="field_undirectCost">Undirect Cost</label>
                    <input type="number" class="form-control" name="undirectCost" id="field_undirectCost"
                        [(ngModel)]="designAndPlanning.undirectCost" [max]="2147483647" [min]="0" />
                    <div [hidden]="!(editForm.controls.undirectCost?.dirty && editForm.controls.undirectCost?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.undirectCost?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.undirectCost?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group bighalf">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.designAndPlanning.undirectCostDescription" for="field_undirectCostDescription">Undirect Cost Description</label>
                    <textarea type="text" class="form-control" name="undirectCostDescription" id="field_undirectCostDescription"
                              [(ngModel)]="designAndPlanning.undirectCostDescription" maxlength="4096"></textarea>
                    <div [hidden]="!(editForm.controls.undirectCostDescription?.dirty && editForm.controls.undirectCostDescription?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.undirectCostDescription?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                        This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.designAndPlanning.runMonth" for="field_runMonth">run month</label>
                    <select class="form-control" id="field_runMonth" name="runMonth" [required]="true" [(ngModel)]="designAndPlanning.runMonth" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="runMonth.id" *ngFor="let runMonth of runMonths; trackBy: trackEffectivenessLevelById">{{runMonth.persianMonth}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.designAndPlanning.description" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                              [(ngModel)]="designAndPlanning.description" maxlength="4096"></textarea>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                        This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>

                <input type="hidden" [value]="designAndPlanning.finished">
                <input type="hidden" [value]="designAndPlanning.step">

               <!-- <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.designAndPlanning.conditionsOfParticipant" for="field_conditionsOfParticipant">Conditions Of Participant</label>
                    <select class="form-control" id="field_conditionsOfParticipant" name="conditionsOfParticipant" [(ngModel)]="designAndPlanning.conditionsOfParticipantId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="conditionsOfParticipantOption.id" *ngFor="let conditionsOfParticipantOption of conditionsofparticipants; trackBy: trackConditionsOfParticipantById">{{conditionsOfParticipantOption.title}}</option>
                    </select>
                </div>-->





            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
                <button type="button" (click)="finalize()" id="finalize-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-success">
                    <span><fa-icon [icon]="'save'"></fa-icon>تایید نهایی</span>
                </button>

                <button type="button" (click)=change(documentUrl) [disabled]="documentUrl == undefined" class="btn btn-warning pull-left">
                    <span class="fa fa-file"></span>
                    <span class="d-none d-md-inline">ثبت مدارک</span>
                </button>
                <span class="alert alert-info pull-left">برای ثبت مدارک لطفا ابتدا اطلاعات اولیه طراحی را ذخیره نمائید سپس دکمه ثبت مدارک فعال خواهد شد.</span>
            </div>
        </form>
        <mi-alert></mi-alert>
    </div>
</div>
