<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.instructionAuthority.home.title">Instruction Authorities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-instruction-authority-marine-suffix" [routerLink]="['/instruction-authority-marine-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="marineindustryprojApp.instructionAuthority.home.createLabel">
            Create new Instruction Authority
            </span>
        </button>
    </h2>
    <mi-alert></mi-alert>
    <br/>
    <div class="table-responsive" *ngIf="instructionAuthorities">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="authorityName"><span jhiTranslate="marineindustryprojApp.instructionAuthority.authorityName">Authority Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="hasEditPermission"><span jhiTranslate="marineindustryprojApp.instructionAuthority.hasEditPermission">Has Edit Permission</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createUserLogin"><span jhiTranslate="marineindustryprojApp.instructionAuthority.createUserLogin">Create User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span jhiTranslate="marineindustryprojApp.instructionAuthority.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyUserLogin"><span jhiTranslate="marineindustryprojApp.instructionAuthority.modifyUserLogin">Modify User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyDate"><span jhiTranslate="marineindustryprojApp.instructionAuthority.modifyDate">Modify Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="instructionTitle"><span jhiTranslate="marineindustryprojApp.instructionAuthority.instruction">Instruction</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let instructionAuthority of instructionAuthorities ;trackBy: trackId">
                <td><a [routerLink]="['/instruction-authority-marine-suffix', instructionAuthority.id, 'view' ]">{{instructionAuthority.id}}</a></td>
                <td>{{instructionAuthority.authorityName}}</td>
                <td>{{instructionAuthority.hasEditPermission}}</td>
                <td>{{instructionAuthority.createUserLogin}}</td>
                <td>{{instructionAuthority.createDate | date:'medium'}}</td>
                <td>{{instructionAuthority.modifyUserLogin}}</td>
                <td>{{instructionAuthority.modifyDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="instructionAuthority.instructionId">
                        <a [routerLink]="['../instruction-marine-suffix', instructionAuthority.instructionId , 'view' ]" >{{instructionAuthority.instructionTitle}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/instruction-authority-marine-suffix', instructionAuthority.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/instruction-authority-marine-suffix', instructionAuthority.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'instruction-authority-marine-suffix/'+ instructionAuthority.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="instructionAuthorities && instructionAuthorities.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
