<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.competency.home.title">Competencies</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-competency-marine-suffix" [routerLink]="['/competency-marine-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="marineindustryprojApp.competency.home.createLabel">
            Create new Competency
            </span>
        </button>
    </h2>
    <mi-alert></mi-alert>
    <br/>
    <div class="table-responsive" *ngIf="competencies">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="marineindustryprojApp.competency.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="marineindustryprojApp.competency.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="displayOrder"><span jhiTranslate="marineindustryprojApp.competency.displayOrder">Display Order</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="competencyType"><span jhiTranslate="marineindustryprojApp.competency.competencyType">Competency Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <!--<th jhiSortBy="createUserLogin"><span jhiTranslate="marineindustryprojApp.competency.createUserLogin">Create User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span jhiTranslate="marineindustryprojApp.competency.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyUserLogin"><span jhiTranslate="marineindustryprojApp.competency.modifyUserLogin">Modify User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyDate"><span jhiTranslate="marineindustryprojApp.competency.modifyDate">Modify Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let competency of competencies ;trackBy: trackId">
                <td><a [routerLink]="['/competency-marine-suffix', competency.id, 'view' ]">{{competency.id}}</a></td>
                <td>{{competency.title}}</td>
                <td>{{competency.description}}</td>
                <td>{{competency.displayOrder}}</td>
                <!--<td>{{competency.competencyType}}</td>
                <td>{{competency.createUserLogin}}</td>
                <td>{{competency.createDate | date:'medium'}}</td>
                <td>{{competency.modifyUserLogin}}</td>
                <td>{{competency.modifyDate | date:'medium'}}</td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/competency-marine-suffix', competency.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/competency-marine-suffix', competency.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'competency-marine-suffix/'+ competency.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="competencies && competencies.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
