<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.matchingRunningStep.home.title">Matching Running Steps</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-matching-running-step-marine-suffix" [routerLink]="['/matching-running-step-marine-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="marineindustryprojApp.matchingRunningStep.home.createLabel">
            Create new Matching Running Step
            </span>
        </button>
    </h2>
    <mi-alert></mi-alert>
    <br/>
    <div class="table-responsive" *ngIf="matchingRunningSteps">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="marineindustryprojApp.matchingRunningStep.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="marineindustryprojApp.matchingRunningStep.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stepNumber"><span jhiTranslate="marineindustryprojApp.matchingRunningStep.stepNumber">Step Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stepRequired"><span jhiTranslate="marineindustryprojApp.matchingRunningStep.stepRequired">Step Required</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fileDocRequired"><span jhiTranslate="marineindustryprojApp.matchingRunningStep.fileDocRequired">File Doc Required</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="colorText"><span jhiTranslate="marineindustryprojApp.matchingRunningStep.colorText">Color Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isHeader"><span jhiTranslate="marineindustryprojApp.matchingRunningStep.isHeader">Is Header</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="createUserLogin"><span jhiTranslate="marineindustryprojApp.matchingRunningStep.createUserLogin">Create User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span jhiTranslate="marineindustryprojApp.matchingRunningStep.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyUserLogin"><span jhiTranslate="marineindustryprojApp.matchingRunningStep.modifyUserLogin">Modify User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyDate"><span jhiTranslate="marineindustryprojApp.matchingRunningStep.modifyDate">Modify Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="archived"><span jhiTranslate="marineindustryprojApp.matchingRunningStep.archived">Archived</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="archivedUserLogin"><span jhiTranslate="marineindustryprojApp.matchingRunningStep.archivedUserLogin">Archived User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="archivedDate"><span jhiTranslate="marineindustryprojApp.matchingRunningStep.archivedDate">Archived Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="marineindustryprojApp.matchingRunningStep.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <!--<th jhiSortBy="fileDoc"><span jhiTranslate="marineindustryprojApp.matchingRunningStep.fileDoc">File Doc</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let matchingRunningStep of matchingRunningSteps ;trackBy: trackId">
                <td><a [routerLink]="['/matching-running-step-marine-suffix', matchingRunningStep.id, 'view' ]">{{matchingRunningStep.id}}</a></td>
                <td>{{matchingRunningStep.title}}</td>
                <td>{{matchingRunningStep.description}}</td>
                <td>{{matchingRunningStep.stepNumber}}</td>
                <td>{{matchingRunningStep.stepRequired}}</td>
                <td>{{matchingRunningStep.fileDocRequired}}</td>
                <td>{{matchingRunningStep.colorText}}</td>
                <td>{{matchingRunningStep.isHeader}}</td>
                <!--<td>{{matchingRunningStep.createUserLogin}}</td>
                <td>{{matchingRunningStep.createDate | date:'medium'}}</td>
                <td>{{matchingRunningStep.modifyUserLogin}}</td>
                <td>{{matchingRunningStep.modifyDate | date:'medium'}}</td>
                <td>{{matchingRunningStep.archived}}</td>
                <td>{{matchingRunningStep.archivedUserLogin}}</td>
                <td>{{matchingRunningStep.archivedDate | date:'medium'}}</td>
                <td>{{matchingRunningStep.status}}</td>-->
                <!--<td>{{matchingRunningStep.fileDoc}}</td>-->
                <td class="text-right">
                    <a *ngIf="matchingRunningStep.fileDoc" title="دریافت فایل نمونه" [href]="matchingRunningStep.fileDoc | safe" target="_blank"
                       class="btn btn-default btn-sm enableLink">
                        <fa-icon [icon]="'download'"></fa-icon>
                    </a>
                    <div class="btn-group flex-btn-group-container">
                        <!--<button type="submit"
                                [routerLink]="['/matching-running-step-marine-suffix', matchingRunningStep.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>-->
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDIT']"
                                [routerLink]="['/matching-running-step-marine-suffix', matchingRunningStep.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_DELETE']"
                                [routerLink]="['/', { outlets: { popup: 'matching-running-step-marine-suffix/'+ matchingRunningStep.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="matchingRunningSteps && matchingRunningSteps.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
