<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.requestEducationalModule.home.title">Request Educational Modules</span>
        <button id="jh-create-entity" class="btn btn-success float-right jh-create-entity create-request-educational-module-marine-suffix" [routerLink]="['/request-educational-module-marine-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="marineindustryprojApp.requestEducationalModule.home.createLabel">
            Create new Request Educational Module
            </span>
        </button>
        <button  class="btn btn-info float-left" jhiTranslate="entity.action.getexcel" (click)="export()">
            <span class="fa fa-file-excel-o"></span>
            excel
        </button>
    </h2>
    <mi-alert></mi-alert>
    <search-panel [(page)]="page" [(size)]="itemsPerPage" [predicate]="predicate" [reverse]="reverse" [searchPanelModel]="searchbarModel"></search-panel>
    <br/>
    <div class="table-responsive" *ngIf="requestEducationalModules">
        <table class="table table-striped table-bordered table-hover table-sm">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th>ردیف</th>
            <!--<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="code"><span jhiTranslate="marineindustryprojApp.requestEducationalModule.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="marineindustryprojApp.requestEducationalModule.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="organizationTitle"><span jhiTranslate="marineindustryprojApp.requestEducationalModule.organization">Organization</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                <th jhiSortBy="learningTimeTheorical"><span>مدت کل پودمان</span><fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="skillableLevelOfSkillTitle"><span jhiTranslate="marineindustryprojApp.requestEducationalModule.skillableLevelOfSkill">Skillable Level Of Skill</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th><span jhiTranslate="marineindustryprojApp.educationalModule.scientificWorkGroup">scientificWorkGroups</span></th>
                <th jhiSortBy="createUserLogin"><span jhiTranslate="marineindustryprojApp.requestEducationalModule.createUserLogin">Create User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="createDate"><span jhiTranslate="marineindustryprojApp.requestEducationalModule.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="status"><span jhiTranslate="marineindustryprojApp.requestEducationalModule.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th  width="300"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let requestEducationalModule of requestEducationalModules ;let i = index;" [ngClass]="{'new': requestEducationalModule.requestStatus == 'NEW','accept': requestEducationalModule.requestStatus === 'ACCEPT','ignore': requestEducationalModule.requestStatus === 'IGNORE'}">
                <td>{{i+1}}</td>
                <!--<td><a [routerLink]="['/request-educational-module-marine-suffix', requestEducationalModule.id, 'view' ]">{{requestEducationalModule.id}}</a></td>-->
                <td>{{requestEducationalModule.code}}</td>
                <td>{{requestEducationalModule.title}}</td>
                <!--<td>
                    <div *ngIf="requestEducationalModule.organizationId">
                        <a [routerLink]="['../organization-marine-suffix', requestEducationalModule.organizationId , 'view' ]" >{{requestEducationalModule.organizationTitle}}</a>
                    </div>
                </td>-->
                <td>{{requestEducationalModule.totalLearningTime | number}}</td>
                <td>
                    <div *ngIf="requestEducationalModule.skillableLevelOfSkillId">
                        <a [routerLink]="['../skillable-level-of-skill-marine-suffix', requestEducationalModule.skillableLevelOfSkillId , 'view' ]" >{{requestEducationalModule.skillableLevelOfSkillTitle}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="requestEducationalModule.scientificWorkGroups">
                        <div *ngFor="let scientificWorkGroup of requestEducationalModule.scientificWorkGroups">
                            <a class="badge badge-info" [routerLink]="['../scientific-work-group-marine-suffix', scientificWorkGroup , 'view' ]" >{{scientificWorkGroup.title}}</a>
                        </div>
                    </div>
                </td>
                <td>{{requestEducationalModule.createUserLoginName}}</td>
                <td>{{requestEducationalModule.createDate}}</td>
                <td>{{requestEducationalModule.statusMeaning}}</td>
                <td class="text-right">
                    <button type="submit" title="مدارک"
                            [routerLink]="['../document-marine-suffix', 'requesteducationalmodule',requestEducationalModule.id]"
                            class="btn btn-light btn-sm">
                        <span class="fa fa-file"></span>
                    </button>
                    <button type="submit"
                            [routerLink]="['/request-educational-module-marine-suffix', requestEducationalModule.id, 'view' ]"
                            class="btn btn-info btn-sm">
                        <fa-icon [icon]="'eye'"></fa-icon>
                        <span class="d-none d-md-inline" alt="مشاهده" jhiTranslate="entity.action.view">View</span>
                    </button>
                    <img src="../../../content/images/bulb-icon.png" title="پیام مهمی در جزئیات وجود دارد" alt="پیام مهمی در جزئیات وجود دارد"
                         *ngIf="requestEducationalModule.hasImportantMessage == true" class="lightBulb"
                         (click)="toggleImportantMessage(requestEducationalModule.id, false)"/>
                    <img src="../../../content/images/light-off-icon.png"
                         *ngIf="requestEducationalModule.hasImportantMessage == false" class="lightBulb"
                         (click)="toggleImportantMessage(requestEducationalModule.id, true)"/>
                    <ng-container *ngIf="!(requestEducationalModule.requestStatus == 'ACCEPT'  || requestEducationalModule.requestStatus == 'IGNORE')">
                        <ng-container *ngIf="requestEducationalModule.status == currentPerson.organizationChartId">
                            <button type="submit" title="ویرایش"
                                    [routerLink]="['/request-educational-module-marine-suffix', requestEducationalModule.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit" title="ثبت نظر"
                                    [routerLink]="['/', { outlets: { popup: 'request-educational-module-marine-suffix/'+ requestEducationalModule.id + '/' + 'COMMENT' + '/comment'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-info btn-sm">
                                <fa-icon [icon]="'comments'"></fa-icon>
                                <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.comment.comment">comment</span>-->
                            </button>
                            <button type="submit" title="تایید کردن"
                                    [routerLink]="['/', { outlets: { popup: 'request-educational-module-marine-suffix/'+ requestEducationalModule.id + '/' + 'ACCEPT' + '/comment'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-success btn-sm">
                                <fa-icon [icon]="'check-double'"></fa-icon>
                                <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.comment.accept">comment</span>-->
                            </button>
                            <button type="submit" title="رد کردن"
                                    [routerLink]="['/', { outlets: { popup: 'request-educational-module-marine-suffix/'+ requestEducationalModule.id + '/' + 'REJECT' + '/comment'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'ban'"></fa-icon>
                                <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.comment.reject">comment</span>-->
                            </button>
                        </ng-container>
                        <ng-container *ngIf="requestEducationalModule.status == 0 && isSuperUsers">
                            <button type="submit" title="ویرایش"
                                    [routerLink]="['/request-educational-module-marine-suffix', requestEducationalModule.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit" title="ثبت نظر"
                                    [routerLink]="['/', { outlets: { popup: 'request-educational-module-marine-suffix/'+ requestEducationalModule.id + '/' + 'COMMENT' + '/comment'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-info btn-sm">
                                <fa-icon [icon]="'comments'"></fa-icon>
                                <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.comment.comment">comment</span>-->
                            </button>
                            <button type="submit" title="تایید کردن"
                                    [routerLink]="['/', { outlets: { popup: 'request-educational-module-marine-suffix/'+ requestEducationalModule.id + '/' + 'ACCEPT' + '/comment'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-success btn-sm">
                                <fa-icon [icon]="'check-double'"></fa-icon>
                                <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.comment.accept">comment</span>-->
                            </button>
                            <button type="submit" title="رد کردن"
                                    [routerLink]="['/', { outlets: { popup: 'request-educational-module-marine-suffix/'+ requestEducationalModule.id + '/' + 'REJECT' + '/comment'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'ban'"></fa-icon>
                                <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.comment.reject">comment</span>-->
                            </button>
                        </ng-container>
                    </ng-container>
                    <button type="submit" title="ویرایش" *ngIf="requestEducationalModule.requestStatus != 'IGNORE' && requestEducationalModule.requestStatus != 'ACCEPT' && isSuperUsers"
                            [routerLink]="['/request-educational-module-marine-suffix', requestEducationalModule.id, 'edit']"
                            class="btn btn-primary btn-sm">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                    </button>
                    <button type="submit" *jhiHasAnyAuthority="'ROLE_ADMIN'"
                            [routerLink]="['/', { outlets: { popup: 'request-educational-module-marine-suffix/'+ requestEducationalModule.id + '/delete'} }]"
                            replaceUrl="true"
                            queryParamsHandling="merge"
                            class="btn btn-danger btn-sm">
                        <fa-icon [icon]="'times'"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4">
                    <select [(ngModel)] = "itemsPerPage">
                        <option value="10">۱۰</option>
                        <option value="20">۲۰</option>
                        <option value="50">۵۰</option>
                        <option value="100">۱۰۰</option>
                        <option value="500">۵۰۰</option>
                    </select>
                    <div class="row justify-content-center">
                        <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                    </div>
                </td>

                <td colspan="8">

                </td>
            </tr>

            </tfoot>
        </table>
    </div>
    <div *ngIf="requestEducationalModules && requestEducationalModules.length">

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
