/*.form-control {
    display: inline-block !important;
    width: auto !important;
}*/
th {
    background-color: #b4bdd0 !important;
    text-align: center !important;
    vertical-align: middle !important;
}
.ng-select > div {
    z-index: 2 !important;
}
