<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <!--<h2 id="mi-request-educational-module-marine-suffix-heading" jhiTranslate="marineindustryprojApp.requestEducationalModule.home.createOrEditLabel">Create or edit a Request Educational Module</h2>-->
            <h2 class="mi-educational-module-marine-suffix-heading">اطلاعات پودمان {{requestEducationalModule.title}}</h2>
            <div>
                <mi-alert-error></mi-alert-error>
                <div class="form-group" [hidden]="!requestEducationalModule.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="requestEducationalModule.id" readonly />
                </div>
                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">اطلاعات اولیه و ضروری پودمان {{requestEducationalModule.title}}</div></div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.requestEducationalModule.code" for="field_code">Code</label>
                    <input type="number" class="form-control" name="code" id="field_code"
                           [(ngModel)]="requestEducationalModule.code" maxlength="18" jhiMax="9999999999999999" [required]="isSuperUsers"/>
                    <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.phoneNumber?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 18 }">
                            This field cannot be longer than 18 characters.
                        </small>
                        <!--<small class="form-text text-danger"
                               [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>-->
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.code?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.code?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 9999999999999999 }">
                            This field cannot be more than 9999999999999999.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.code?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 99 }">
                            This field cannot be less than 100000.
                        </small>
                    </div>
                </div>
                <div class="form-group half">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.requestEducationalModule.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           [(ngModel)]="requestEducationalModule.title" [required]="isSuperUsers" maxlength="1000"/>
                    <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.title?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1000 }">
                            This field cannot be longer than 1000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.requestEducationalModule.learningTimeTheorical" for="field_learningTimeTheorical">Learning Time Theorical</label>
                    <input type="number" class="form-control" name="learningTimeTheorical" id="field_learningTimeTheorical"
                           [(ngModel)]="requestEducationalModule.learningTimeTheorical" [required]="isSuperUsers"/>
                    <div [hidden]="!(editForm.controls.learningTimeTheorical?.dirty && editForm.controls.learningTimeTheorical?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.learningTimeTheorical?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.learningTimeTheorical?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.requestEducationalModule.learningTimePractical" for="field_learningTimePractical">Learning Time Practical</label>
                    <input type="number" class="form-control" name="learningTimePractical" id="field_learningTimePractical"
                           [(ngModel)]="requestEducationalModule.learningTimePractical" [required]="isSuperUsers"/>
                    <div [hidden]="!(editForm.controls.learningTimePractical?.dirty && editForm.controls.learningTimePractical?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.learningTimePractical?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.learningTimePractical?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label">مجموع</label>
                    <input type="number" class="form-control" [disabled]="true" [value]="(requestEducationalModule.learningTimePractical ? requestEducationalModule.learningTimePractical : 0) + (requestEducationalModule.learningTimeTheorical ? requestEducationalModule.learningTimeTheorical : 0)"/>
                </div>
                <!--<div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.requestEducationalModule.recommendedBy" for="field_recommendedBy">Recommended By</label>
                    <input type="text" class="form-control" name="recommendedBy" id="field_recommendedBy"
                           [(ngModel)]="requestEducationalModule.recommendedBy" maxlength="100"/>
                    <div [hidden]="!(editForm.controls.recommendedBy?.dirty && editForm.controls.recommendedBy?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.recommendedBy?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                            This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>-->
                <div class="form-group">
                    <a (click)="change('skillable-level-of-skill-marine-suffix')" class="form-control-label" jhiTranslate="marineindustryprojApp.requestEducationalModule.skillableLevelOfSkill" for="field_skillableLevelOfSkill">Skillable Level Of Skill</a>
                    <!--<select class="form-control" id="field_skillableLevelOfSkill" name="skillableLevelOfSkill" [(ngModel)]="requestEducationalModule.skillableLevelOfSkillId" required >
                        <option [ngValue]="skillableLevelOfSkillOption.id" *ngFor="let skillableLevelOfSkillOption of skillablelevelofskills; trackBy: trackSkillableLevelOfSkillById">{{skillableLevelOfSkillOption.title}}</option>
                    </select>-->
                    <ng-select
                        [items]="skillablelevelofskills"
                        [multiple]="false"
                        [closeOnSelect]="false"
                        [searchable]="true"
                        [required]="isSuperUsers"
                        bindValue="id"
                        bindLabel="title"
                        placeholder="انتخاب تمائید."
                        name="skillableLevelOfSkill"
                        id="field_skillableLevelOfSkill"
                        [(ngModel)]="requestEducationalModule.skillableLevelOfSkillId">
                </div>
                <div class="form-group">
                    <a (click)="change('scientific-work-group-marine-suffix')" jhiTranslate="marineindustryprojApp.requestEducationalModule.scientificWorkGroup" for="field_scientificWorkGroup">Scientific Work Group</a>
                    <!--<select class="form-control" id="field_scientificWorkGroup" multiple name="scientificWorkGroup" [(ngModel)]="requestEducationalModule.scientificWorkGroups">
                        <option [ngValue]="getSelected(requestEducationalModule.scientificWorkGroups, scientificWorkGroupOption)" *ngFor="let scientificWorkGroupOption of scientificworkgroups; trackBy: trackScientificWorkGroupById">{{scientificWorkGroupOption.title}}</option>
                    </select>-->
                    <ng-select
                        [items]="scientificworkgroups"
                        [multiple]="true"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [required]="isSuperUsers"
                        bindLabel="title"
                        placeholder="'گروه های علمی شغلی"
                        name="scientificWorkGroup"
                        id="field_scientificworkgroup"
                        [(ngModel)]="requestEducationalModule.scientificWorkGroups">
                </div>

                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">اطلاعات تکمیلی پودمان {{requestEducationalModule.title}}</div></div>
                <!--<div class="form-group half">
                    <a (click)="change('goal-marine-suffix')" jhiTranslate="marineindustryprojApp.requestEducationalModule.goal" for="field_goal">Goal</a>
                   &lt;!&ndash; <select class="form-control" id="field_goal" multiple name="goal" [(ngModel)]="requestEducationalModule.goals">
                        <option [ngValue]="getSelected(requestEducationalModule.goals, goalOption)" *ngFor="let goalOption of goals; trackBy: trackGoalById">{{goalOption.title}}</option>
                    </select>&ndash;&gt;
                    <ng-select
                        [items]="goals"
                        [multiple]="true"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [required]="false"
                        bindLabel="title"
                        placeholder="اهداف"
                        name="goal"
                        id="field_goal"
                        [(ngModel)]="requestEducationalModule.goals">
                </div>-->
                <div class="form-group half">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.requestEducationalModule.goalsText" for="field_goalsText">Goals Text</label>
                    <textarea type="text" class="form-control" name="goalsText" id="field_goalsText"
                              [(ngModel)]="requestEducationalModule.goalsText" maxlength="4096"></textarea>
                    <div [hidden]="!(editForm.controls.goalsText?.dirty && editForm.controls.goalsText?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.goalsText?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                            This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group half">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.requestEducationalModule.educationalModuleHeadlines" for="field_requestEducationalModuleHeadlines">Educational Module Headlines</label>
                    <textarea type="text" class="form-control" name="requestEducationalModuleHeadlines" id="field_requestEducationalModuleHeadlines"
                              [(ngModel)]="requestEducationalModule.requestEducationalModuleHeadlines" maxlength="4096"></textarea>
                    <div [hidden]="!(editForm.controls.requestEducationalModuleHeadlines?.dirty && editForm.controls.requestEducationalModuleHeadlines?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.requestEducationalModuleHeadlines?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                            This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group half">
                    <a (click)="change('educational-center-marine-suffix')" jhiTranslate="marineindustryprojApp.requestEducationalModule.educationalCenter" for="field_educationalCenter">Educational Center</a>
                    <!--<select class="form-control" id="field_educationalCenter" multiple name="educationalCenter" [(ngModel)]="requestEducationalModule.educationalCenters">
                        <option [ngValue]="getSelected(requestEducationalModule.educationalCenters, educationalCenterOption)" *ngFor="let educationalCenterOption of educationalcenters; trackBy: trackEducationalCenterById">{{educationalCenterOption.name}}</option>
                    </select>-->
                    <ng-select
                        [items]="educationalcenters"
                        [multiple]="true"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [required]="false"
                        bindLabel="name"
                        placeholder="مراکز آموزشی"
                        name="educationalcenter"
                        id="field_educationalCenter"
                        [(ngModel)]="requestEducationalModule.educationalCenters">
                </div>
                <div class="form-group half">
                    <a (click)="change('resource-marine-suffix')" jhiTranslate="marineindustryprojApp.requestEducationalModule.resource" for="field_resource">Resource</a>
                    <!--<select class="form-control" id="field_resource" multiple name="resource" [(ngModel)]="requestEducationalModule.resources">
                        <option [ngValue]="getSelected(requestEducationalModule.resources, resourceOption)" *ngFor="let resourceOption of resources; trackBy: trackResourceById">{{resourceOption.title}}</option>
                    </select>-->

                    <ng-select
                        [items]="resources"
                        [multiple]="true"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [required]="false"
                        bindLabel="title"
                        planpm startceholder="منابع آموزشی"
                        name="resource"
                        id="field_resource"
                        [(ngModel)]="requestEducationalModule.resources">
                </div>
                <div class="form-group half">
                    <a (click)="change('teacher-marine-suffix')" jhiTranslate="marineindustryprojApp.requestEducationalModule.teacher" for="field_teacher">Teacher</a>
                    <!--<select class="form-control" id="field_teacher" multiple name="teacher" [(ngModel)]="requestEducationalModule.teachers">
                        <option [ngValue]="getSelected(requestEducationalModule.teachers, teacherOption)" *ngFor="let teacherOption of teachers; trackBy: trackTeacherById">{{teacherOption.name}} {{teacherOption.family}}</option>
                    </select>-->
                    <ng-select
                        [items]="teachers"
                        [multiple]="true"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [required]="false"
                        bindLabel="fullName"
                        placeholder="مدرسین"
                        name="teacher"
                        id="field_teacher"
                        [(ngModel)]="requestEducationalModule.teachers">
                </div>
                <div class="form-group half">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.requestEducationalModule.teachersText" for="field_teachersText">Teachers Text</label>
                    <textarea class="form-control" name="teachersText" id="field_teachersText"
                              [(ngModel)]="requestEducationalModule.teachersText" maxlength="4096"></textarea>
                    <div [hidden]="!(editForm.controls.teachersText?.dirty && editForm.controls.teachersText?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.teachersText?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                            This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>


                <div class="form-group half">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.requestEducationalModule.prerequisite" for="field_prerequisite">Prerequisite</label>
                    <textarea type="text" class="form-control" name="prerequisite" id="field_prerequisite"
                              [(ngModel)]="requestEducationalModule.prerequisite" maxlength="4096" ></textarea>
                    <div [hidden]="!(editForm.controls.prerequisite?.dirty && editForm.controls.prerequisite?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.prerequisite?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                            This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <a (click)="change('security-level-marine-suffix')" class="form-control-label" jhiTranslate="marineindustryprojApp.requestEducationalModule.securityLevel" for="field_securityLevel">Security Level</a>
                    <select class="form-control" id="field_securityLevel" name="securityLevel" [(ngModel)]="requestEducationalModule.securityLevelId" >
                        <option [ngValue]="securityLevelOption.id" *ngFor="let securityLevelOption of securitylevels; trackBy: trackSecurityLevelById">{{securityLevelOption.title}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <a (click)="change('evaluation-method-marine-suffix')" class="form-control-label" jhiTranslate="marineindustryprojApp.requestEducationalModule.evaluationMethod" for="field_evaluationMethod">Evaluation Method</a>
                    <select class="form-control" id="field_evaluationMethod" name="evaluationMethod" [(ngModel)]="requestEducationalModule.evaluationMethodId" >
                        <option [ngValue]="evaluationMethodOption.id" *ngFor="let evaluationMethodOption of evaluationmethods; trackBy: trackEvaluationMethodById">{{evaluationMethodOption.title}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.requestEducationalModule.drafters" for="field_drafters">Drafters</label>
                    <input type="text" class="form-control" name="drafters" id="field_drafters"
                           [(ngModel)]="requestEducationalModule.drafters" maxlength="100"/>
                    <div [hidden]="!(editForm.controls.drafters?.dirty && editForm.controls.drafters?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.drafters?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                            This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <a (click)="change('organization-marine-suffix')" class="form-control-label" jhiTranslate="marineindustryprojApp.requestEducationalModule.organization" for="field_organization">Organization</a>
                    <!--<select class="form-control" id="field_organization" name="organization" [(ngModel)]="requestEducationalModule.organizationId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="organizationOption.id" *ngFor="let organizationOption of organizations; trackBy: trackOrganizationById">{{organizationOption.title}}</option>
                    </select>-->
                    <ng-select
                        [items]="organizations"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [required]="false"
                        bindLabel="title"
                        bindValue="id"
                        placeholder="انتخاب نمائید"
                        name="organization"
                        id="field_organization"
                        [(ngModel)]="requestEducationalModule.organizationId">
                </div>
                <div class="form-group bighalf">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.requestEducationalModule.centralizedCode" for="field_centralizedCode">Centralized Code</label>
                    <input type="text" class="form-control" name="centralizedCode" id="field_centralizedCode"
                           [(ngModel)]="requestEducationalModule.centralizedCode" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.centralizedCode?.dirty && editForm.controls.centralizedCode?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.centralizedCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.requestEducationalModule.version" for="field_version">Version</label>
                    <input type="text" class="form-control" name="version" id="field_version"
                           [(ngModel)]="requestEducationalModule.version" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.version?.dirty && editForm.controls.version?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.version?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group bighalf">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.requestEducationalModule.innerCode" for="field_innerCode">Inner Code</label>
                    <input type="text" class="form-control" name="innerCode" id="field_innerCode"
                           [(ngModel)]="requestEducationalModule.innerCode" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.innerCode?.dirty && editForm.controls.innerCode?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.innerCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.requestEducationalModule.moreDescription" for="field_moreDescription">More Description</label>
                    <textarea class="form-control" name="moreDescription" id="field_moreDescription"
                              [(ngModel)]="requestEducationalModule.moreDescription" maxlength="4096"></textarea>
                    <div [hidden]="!(editForm.controls.moreDescription?.dirty && editForm.controls.moreDescription?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.moreDescription?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                            This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group" *ngIf="requestEducationalModule.id === undefined">
                    <span *ngIf="targetPeople">درخواست شما برای افراد زیر ارسال می شود.</span>
                    <ul>
                        <li *ngFor="let item of targetPeople">
                            {{item.fullName}}
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
                <mi-alert-error></mi-alert-error>
            </div>
        </form>
    </div>
</div>
