<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.teacherCriteria.home.title">Teacher Criteria</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-teacher-criteria-marine-suffix" [routerLink]="['/teacher-criteria-marine-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="marineindustryprojApp.teacherCriteria.home.createLabel">
            Create new Teacher Criteria
            </span>
        </button>
    </h2>
    <mi-alert></mi-alert>
    <br/>
    <div class="table-responsive" *ngIf="teacherCriteria">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="group"><span jhiTranslate="marineindustryprojApp.teacherCriteria.group">Group</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="title"><span jhiTranslate="marineindustryprojApp.teacherCriteria.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="displayOrder"><span jhiTranslate="marineindustryprojApp.teacherCriteria.displayOrder">Display Order</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="weight"><span jhiTranslate="marineindustryprojApp.teacherCriteria.weight">Weight</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="description"><span jhiTranslate="marineindustryprojApp.teacherCriteria.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="secondWeight"><span jhiTranslate="marineindustryprojApp.teacherCriteria.secondWeight">Second Weight</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="peopleCount"><span jhiTranslate="marineindustryprojApp.teacherCriteria.peopleCount">People Count</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="code"><span jhiTranslate="marineindustryprojApp.teacherCriteria.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createUserLogin"><span jhiTranslate="marineindustryprojApp.teacherCriteria.createUserLogin">Create User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span jhiTranslate="marineindustryprojApp.teacherCriteria.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyUserLogin"><span jhiTranslate="marineindustryprojApp.teacherCriteria.modifyUserLogin">Modify User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyDate"><span jhiTranslate="marineindustryprojApp.teacherCriteria.modifyDate">Modify Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let teacherCriteria of teacherCriteria ;trackBy: trackId">
                <td><a [routerLink]="['/teacher-criteria-marine-suffix', teacherCriteria.id, 'view' ]">{{teacherCriteria.id}}</a></td>
                <!--<td>{{teacherCriteria.group}}</td>-->
                <td>{{teacherCriteria.title}}</td>
                <td>{{teacherCriteria.displayOrder}}</td>
                <td>{{teacherCriteria.weight}}</td>
                <!--<td>{{teacherCriteria.secondWeight}}</td>-->
                <td>{{teacherCriteria.description}}</td>
                <!--<td>{{teacherCriteria.peopleCount}}</td>
                <td>{{teacherCriteria.code}}</td>
                <td>{{teacherCriteria.createUserLogin}}</td>
                <td>{{teacherCriteria.createDate | date:'medium'}}</td>
                <td>{{teacherCriteria.modifyUserLogin}}</td>
                <td>{{teacherCriteria.modifyDate | date:'medium'}}</td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/teacher-criteria-marine-suffix', teacherCriteria.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/teacher-criteria-marine-suffix', teacherCriteria.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN']"
                                [routerLink]="['/', { outlets: { popup: 'teacher-criteria-marine-suffix/'+ teacherCriteria.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="teacherCriteria && teacherCriteria.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
