<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="mi-teacher-criteria-marine-suffix-heading" jhiTranslate="marineindustryprojApp.teacherCriteria.home.createOrEditLabel">Create or edit a Teacher Criteria</h2>
            <div>
                <mi-alert-error></mi-alert-error>
                <div class="form-group" [hidden]="!teacherCriteria.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="teacherCriteria.id" readonly />
                </div>
                <!--<div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.teacherCriteria.group" for="field_group">Group</label>
                    <input type="text" class="form-control" name="group" id="field_group"
                        [(ngModel)]="teacherCriteria.group" maxlength="1024"/>
                    <div [hidden]="!(editForm.controls.group?.dirty && editForm.controls.group?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.group?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1024 }">
                        This field cannot be longer than 1024 characters.
                        </small>
                    </div>
                </div>-->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.teacherCriteria.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                        [(ngModel)]="teacherCriteria.title" required maxlength="1024"/>
                    <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.title?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1024 }">
                        This field cannot be longer than 1024 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.teacherCriteria.displayOrder" for="field_displayOrder">Display Order</label>
                    <input type="number" class="form-control" name="displayOrder" id="field_displayOrder"
                        [(ngModel)]="teacherCriteria.displayOrder" required/>
                    <div [hidden]="!(editForm.controls.displayOrder?.dirty && editForm.controls.displayOrder?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.displayOrder?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.displayOrder?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.teacherCriteria.weight" for="field_weight">Weight</label>
                    <input type="number" class="form-control" name="weight" id="field_weight"
                        [(ngModel)]="teacherCriteria.weight"  required/>
                </div>
               <!-- <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.teacherCriteria.secondWeight" for="field_secondWeight">Second Weight</label>
                    <input type="number" class="form-control" name="secondWeight" id="field_secondWeight"
                        [(ngModel)]="teacherCriteria.secondWeight" />
                </div>-->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.teacherCriteria.description" for="field_description">Description</label>
                    <textarea type="text" class="form-control" name="description" id="field_description"
                              [(ngModel)]="teacherCriteria.description" maxlength="1024"></textarea>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1024 }">
                        This field cannot be longer than 1024 characters.
                        </small>
                    </div>
                </div>
                <!--<div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.teacherCriteria.peopleCount" for="field_peopleCount">People Count</label>
                    <input type="number" class="form-control" name="peopleCount" id="field_peopleCount"
                        [(ngModel)]="teacherCriteria.peopleCount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.teacherCriteria.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="teacherCriteria.code" maxlength="100"/>
                    <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.teacherCriteria.createUserLogin" for="field_createUserLogin">Create User Login</label>
                    <input type="text" class="form-control" name="createUserLogin" id="field_createUserLogin"
                        [(ngModel)]="teacherCriteria.createUserLogin" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.createUserLogin?.dirty && editForm.controls.createUserLogin?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.createUserLogin?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.teacherCriteria.createDate" for="field_createDate">Create Date</label>
                    <div class="d-flex">
                        <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" [(ngModel)]="createDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.teacherCriteria.modifyUserLogin" for="field_modifyUserLogin">Modify User Login</label>
                    <input type="text" class="form-control" name="modifyUserLogin" id="field_modifyUserLogin"
                        [(ngModel)]="teacherCriteria.modifyUserLogin" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.modifyUserLogin?.dirty && editForm.controls.modifyUserLogin?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.modifyUserLogin?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.teacherCriteria.modifyDate" for="field_modifyDate">Modify Date</label>
                    <div class="d-flex">
                        <input id="field_modifyDate" type="datetime-local" class="form-control" name="modifyDate" [(ngModel)]="modifyDate"
                        />
                    </div>
                </div>-->

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
