<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.peopleUnderTraining.home.title">People Under Trainings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-people-under-training-marine-suffix" [routerLink]="['/people-under-training-marine-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="marineindustryprojApp.peopleUnderTraining.home.createLabel">
            Create new People Under Training
            </span>
        </button>
    </h2>
    <mi-alert></mi-alert>
    <br/>
    <div class="table-responsive" *ngIf="peopleUnderTrainings">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="marineindustryprojApp.peopleUnderTraining.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="marineindustryprojApp.peopleUnderTraining.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="peopleCount"><span jhiTranslate="marineindustryprojApp.peopleUnderTraining.peopleCount">People Count</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="code"><span jhiTranslate="marineindustryprojApp.peopleUnderTraining.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="createUserLogin"><span jhiTranslate="marineindustryprojApp.peopleUnderTraining.createUserLogin">Create User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span jhiTranslate="marineindustryprojApp.peopleUnderTraining.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyUserLogin"><span jhiTranslate="marineindustryprojApp.peopleUnderTraining.modifyUserLogin">Modify User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyDate"><span jhiTranslate="marineindustryprojApp.peopleUnderTraining.modifyDate">Modify Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let peopleUnderTraining of peopleUnderTrainings ;trackBy: trackId">
                <td><a [routerLink]="['/people-under-training-marine-suffix', peopleUnderTraining.id, 'view' ]">{{peopleUnderTraining.id}}</a></td>
                <td>{{peopleUnderTraining.title}}</td>
                <td>{{peopleUnderTraining.description}}</td>
                <td>{{peopleUnderTraining.peopleCount}}</td>
                <td>{{peopleUnderTraining.code}}</td>
            <!--    <td>{{peopleUnderTraining.createUserLogin}}</td>
                <td>{{peopleUnderTraining.createDate | date:'medium'}}</td>
                <td>{{peopleUnderTraining.modifyUserLogin}}</td>
                <td>{{peopleUnderTraining.modifyDate | date:'medium'}}</td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/people-under-training-marine-suffix', peopleUnderTraining.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/people-under-training-marine-suffix', peopleUnderTraining.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'people-under-training-marine-suffix/'+ peopleUnderTraining.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="peopleUnderTrainings && peopleUnderTrainings.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
