<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="mi-niazsanji-person-grade-score-marine-suffix-heading" jhiTranslate="marineindustryprojApp.niazsanjiPersonGradeScore.home.createOrEditLabel">Create or edit a Niazsanji Person Grade Score</h2>
            <div>
                <mi-alert-error></mi-alert-error>
                <div class="form-group" [hidden]="!niazsanjiPersonGradeScore.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="niazsanjiPersonGradeScore.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.niazsanjiPersonGradeScore.score" for="field_score">Score</label>
                    <input type="number" class="form-control" name="score" id="field_score"
                        [(ngModel)]="niazsanjiPersonGradeScore.score" required/>
                    <div [hidden]="!(editForm.controls.score?.dirty && editForm.controls.score?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.score?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.score?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.niazsanjiPersonGradeScore.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="niazsanjiPersonGradeScore.description" maxlength="4096"/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                        This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.niazsanjiPersonGradeScore.createUserLogin" for="field_createUserLogin">Create User Login</label>
                    <input type="text" class="form-control" name="createUserLogin" id="field_createUserLogin"
                        [(ngModel)]="niazsanjiPersonGradeScore.createUserLogin" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.createUserLogin?.dirty && editForm.controls.createUserLogin?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.createUserLogin?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.niazsanjiPersonGradeScore.createDate" for="field_createDate">Create Date</label>
                    <div class="d-flex">
                        <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" [(ngModel)]="createDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.niazsanjiPersonGradeScore.modifyUserLogin" for="field_modifyUserLogin">Modify User Login</label>
                    <input type="text" class="form-control" name="modifyUserLogin" id="field_modifyUserLogin"
                        [(ngModel)]="niazsanjiPersonGradeScore.modifyUserLogin" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.modifyUserLogin?.dirty && editForm.controls.modifyUserLogin?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.modifyUserLogin?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.niazsanjiPersonGradeScore.modifyDate" for="field_modifyDate">Modify Date</label>
                    <div class="d-flex">
                        <input id="field_modifyDate" type="datetime-local" class="form-control" name="modifyDate" [(ngModel)]="modifyDate"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.niazsanjiPersonGradeScore.niazsanjiPersonCriteria" for="field_niazsanjiPersonCriteria">Niazsanji Person Criteria</label>
                    <select class="form-control" id="field_niazsanjiPersonCriteria" name="niazsanjiPersonCriteria" [(ngModel)]="niazsanjiPersonGradeScore.niazsanjiPersonCriteriaId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="niazsanjiPersonCriteriaOption.id" *ngFor="let niazsanjiPersonCriteriaOption of niazsanjipersoncriteria; trackBy: trackNiazsanjiPersonCriteriaById">{{niazsanjiPersonCriteriaOption.title}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.niazsanjiPersonGradeScore.niazsanjiPersonGrade" for="field_niazsanjiPersonGrade">Niazsanji Person Grade</label>
                    <select class="form-control" id="field_niazsanjiPersonGrade" name="niazsanjiPersonGrade" [(ngModel)]="niazsanjiPersonGradeScore.niazsanjiPersonGradeId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="niazsanjiPersonGradeOption.id" *ngFor="let niazsanjiPersonGradeOption of niazsanjipersongrades; trackBy: trackNiazsanjiPersonGradeById">{{niazsanjiPersonGradeOption.title}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
