<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.designNiazsanji.home.title">Design Niazsanjis</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-design-niazsanji-marine-suffix" [routerLink]="['/design-niazsanji-marine-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="marineindustryprojApp.designNiazsanji.home.createLabel">
            Create new Design Niazsanji
            </span>
        </button>
    </h2>
    <mi-alert></mi-alert>
    <br/>
    <div class="table-responsive" *ngIf="designNiazsanjis">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="marineindustryprojApp.designNiazsanji.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="code"><span jhiTranslate="marineindustryprojApp.designNiazsanji.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="costEducationalModule"><span jhiTranslate="marineindustryprojApp.designNiazsanji.costEducationalModule">Cost Educational Module</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="marineindustryprojApp.designNiazsanji.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="restrictionDescription"><span jhiTranslate="marineindustryprojApp.designNiazsanji.restrictionDescription">Restriction Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="goalsText"><span jhiTranslate="marineindustryprojApp.designNiazsanji.goalsText">Goals Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prerequisite"><span jhiTranslate="marineindustryprojApp.designNiazsanji.prerequisite">Prerequisite</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createUserLogin"><span jhiTranslate="marineindustryprojApp.designNiazsanji.createUserLogin">Create User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span jhiTranslate="marineindustryprojApp.designNiazsanji.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyUserLogin"><span jhiTranslate="marineindustryprojApp.designNiazsanji.modifyUserLogin">Modify User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyDate"><span jhiTranslate="marineindustryprojApp.designNiazsanji.modifyDate">Modify Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="archived"><span jhiTranslate="marineindustryprojApp.designNiazsanji.archived">Archived</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="archivedUserLogin"><span jhiTranslate="marineindustryprojApp.designNiazsanji.archivedUserLogin">Archived User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="archivedDate"><span jhiTranslate="marineindustryprojApp.designNiazsanji.archivedDate">Archived Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="marineindustryprojApp.designNiazsanji.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="preJobNiazsanjiTitle"><span jhiTranslate="marineindustryprojApp.designNiazsanji.preJobNiazsanji">Pre Job Niazsanji</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="courseTypeTitle"><span jhiTranslate="marineindustryprojApp.designNiazsanji.courseType">Course Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="educationalModuleTitle"><span jhiTranslate="marineindustryprojApp.designNiazsanji.educationalModule">Educational Module</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="teachingApproachTitle"><span jhiTranslate="marineindustryprojApp.designNiazsanji.teachingApproach">Teaching Approach</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let designNiazsanji of designNiazsanjis ;trackBy: trackId">
                <td><a [routerLink]="['/design-niazsanji-marine-suffix', designNiazsanji.id, 'view' ]">{{designNiazsanji.id}}</a></td>
                <td>{{designNiazsanji.title}}</td>
                <td>{{designNiazsanji.code}}</td>
                <td>{{designNiazsanji.costEducationalModule}}</td>
                <td>{{designNiazsanji.description}}</td>
                <td>{{designNiazsanji.restrictionDescription}}</td>
                <td>{{designNiazsanji.goalsText}}</td>
                <td>{{designNiazsanji.prerequisite}}</td>
                <td>{{designNiazsanji.createUserLogin}}</td>
                <td>{{designNiazsanji.createDate | date:'medium'}}</td>
                <td>{{designNiazsanji.modifyUserLogin}}</td>
                <td>{{designNiazsanji.modifyDate | date:'medium'}}</td>
                <td>{{designNiazsanji.archived}}</td>
                <td>{{designNiazsanji.archivedUserLogin}}</td>
                <td>{{designNiazsanji.archivedDate | date:'medium'}}</td>
                <td>{{designNiazsanji.status}}</td>
                <td>
                    <div *ngIf="designNiazsanji.preJobNiazsanjiId">
                        <a [routerLink]="['../pre-job-niazsanji-marine-suffix', designNiazsanji.preJobNiazsanjiId , 'view' ]" >{{designNiazsanji.preJobNiazsanjiTitle}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="designNiazsanji.courseTypeId">
                        <a [routerLink]="['../course-type-marine-suffix', designNiazsanji.courseTypeId , 'view' ]" >{{designNiazsanji.courseTypeTitle}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="designNiazsanji.educationalModuleId">
                        <a [routerLink]="['../educational-module-marine-suffix', designNiazsanji.educationalModuleId , 'view' ]" >{{designNiazsanji.educationalModuleTitle}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="designNiazsanji.teachingApproachId">
                        <a [routerLink]="['../teaching-approach-marine-suffix', designNiazsanji.teachingApproachId , 'view' ]" >{{designNiazsanji.teachingApproachTitle}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/design-niazsanji-marine-suffix', designNiazsanji.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/design-niazsanji-marine-suffix', designNiazsanji.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'design-niazsanji-marine-suffix/'+ designNiazsanji.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="designNiazsanjis && designNiazsanjis.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
