<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="educationalCenterCriteria">
            <h2><span jhiTranslate="marineindustryprojApp.educationalCenterCriteria.detail.title">Educational Center Criteria</span> {{educationalCenterCriteria.id}}</h2>
            <hr>
            <mi-alert-error></mi-alert-error>
            <dl class="row-md jh-entity-details">
                <!--<dt><span jhiTranslate="marineindustryprojApp.educationalCenterCriteria.group">Group</span></dt>
                <dd>
                    <span>{{educationalCenterCriteria.group}}</span>
                </dd>-->
                <dt><span jhiTranslate="marineindustryprojApp.educationalCenterCriteria.title">Title</span></dt>
                <dd>
                    <span>{{educationalCenterCriteria.title}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.educationalCenterCriteria.displayOrder">Display Order</span></dt>
                <dd>
                    <span>{{educationalCenterCriteria.displayOrder}}</span>
                </dd>
                <!--<dt><span jhiTranslate="marineindustryprojApp.educationalCenterCriteria.weight">Weight</span></dt>
                <dd>
                    <span>{{educationalCenterCriteria.weight}}</span>
                </dd>-->
                <dt><span jhiTranslate="marineindustryprojApp.educationalCenterCriteria.description">Description</span></dt>
                <dd>
                    <span>{{educationalCenterCriteria.description}}</span>
                </dd>
                <!--<dt><span jhiTranslate="marineindustryprojApp.educationalCenterCriteria.peopleCount">People Count</span></dt>
                <dd>
                    <span>{{educationalCenterCriteria.peopleCount}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.educationalCenterCriteria.code">Code</span></dt>
                <dd>
                    <span>{{educationalCenterCriteria.code}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.educationalCenterCriteria.createUserLogin">Create User Login</span></dt>
                <dd>
                    <span>{{educationalCenterCriteria.createUserLogin}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.educationalCenterCriteria.createDate">Create Date</span></dt>
                <dd>
                    <span>{{educationalCenterCriteria.createDate}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.educationalCenterCriteria.modifyUserLogin">Modify User Login</span></dt>
                <dd>
                    <span>{{educationalCenterCriteria.modifyUserLogin}}</span>
                </dd>
                <dt><span jhiTranslate="marineindustryprojApp.educationalCenterCriteria.modifyDate">Modify Date</span></dt>
                <dd>
                    <span>{{educationalCenterCriteria.modifyDate}}</span>
                </dd>-->
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/educational-center-criteria-marine-suffix', educationalCenterCriteria.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
