
<div id="educationHistoryPanel" class="box box-primary newsbox" >
    <div class="box-header box-primary with-border collapseTitr" style="text-align: center;cursor: pointer;" (click)="toggleColappse('educationHistoryPanel1')">
        <h3 class="box-title center" style="color: limegreen; " [jhiTranslate]="title"></h3>

        <div class="box-tools pull-left">
            <button type="button" class="btn btn-box-tool"
                    (click)="toggleColappse('educationHistoryPanel1')" data-widget="collapse"><i
                class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" (click)="deleteElement('educationHistoryPanel')"
                    data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body collapse" id="educationHistoryPanel1">
        <table class="table table-bordered table-hover table-sm">
            <thead>
            <tr>
                <th>ردیف</th>
                <th><span jhiTranslate="marineindustryprojApp.educationalModule.code">Code</span></th>
                <th><span jhiTranslate="marineindustryprojApp.educationalModule.title">Title</span></th>
                <th>نوع دوره</th>
                <th><span>مدت کل پودمان</span></th>
                <!--<th><span jhiTranslate="marineindustryprojApp.educationalModule.organization">Organization</span> </th>-->
                <th><span jhiTranslate="marineindustryprojApp.educationalModule.skillableLevelOfSkill">Skillable Level Of Skill</span>
                </th>
                <th><span>نوع پودمان</span></th>
                <th><span>تاریخ برگزاری</span></th>
                <th>وضعیت</th>
                <th *ngIf="type == 3">تایید شده</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let educationalModule of homePagePersonEducationalModules; let i = index;"
                [ngClass]="{'success': educationalModule.status == 100, 'info': educationalModule.status == 90, 'warning': educationalModule.status == 80, 'light': educationalModule.status == 70, 'danger': educationalModule.status == 0}">
                <td>{{i+1}}</td>
                <td>{{educationalModule.code}}</td>
                <td>{{educationalModule.title}}</td>
                <td>{{educationalModule.courseType}}</td>
                <td>{{educationalModule.totalLearningTime | number}}</td>
                <!--<td>
                    <div *ngIf="educationalModule.organizationId">
                        <a [routerLink]="['../organization-marine-suffix', educationalModule.organizationId , 'view' ]" >{{educationalModule.organizationTitle}}</a>
                    </div>
                </td>-->
                <td>
                    <div *ngIf="educationalModule.skillableLevelOfSkillId">
                        {{educationalModule.skillableLevelOfSkillTitle}}
                    </div>
                </td>
                <td>
                    {{educationalModule.educationalModuleType}}
                </td>
                <td>
                    {{educationalModule.runDate}}
                </td>
                <td>
                    <a class="enableLink" [href]="'#/educational-history-marine-suffix/' + educationalModule.educationalHistoryId + '/view'"
                       *ngIf="educationalModule.status == 100">{{educationalModule.statusMeaning}}</a>
                    <span *ngIf="educationalModule.status != 100">{{educationalModule.statusMeaning}}</span>
                </td>
                <td *ngIf="type == 3">
                    <input type="checkbox" (click)="change($event)" [id]="'selectedItemIds_'+educationalModule.id"
                           *ngIf="educationalModule.status== 100" name="selectedItemIds" [value]="educationalModule.id"
                           [checked]="selectedItemIds.includes(educationalModule.id)"
                    />
                </td>
            </tr>
            <tr *ngIf="!homePagePersonEducationalModules">
                <td colspan="5" class="alert-danger">
                    دوره ای برای فرد مورد نظر تعریف نشده.
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

