<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="mi-educational-history-marine-suffix-heading" jhiTranslate="marineindustryprojApp.educationalHistory.home.createOrEditLabel">Create or edit a Educational History</h2>
            <div>
                <mi-alert-error></mi-alert-error>
                <div class="form-group" [hidden]="!educationalHistory.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="educationalHistory.id" readonly />
                </div>
                <div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_MODIR_AMOZESH', 'ROLE_MODIR_KOL_AMOZESH', 'ROLE_KARSHENAS_ARSHAD_AMOZESH_SAZMAN']">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalHistory.person" for="field_person">Person</label>
                        <ng-select
                            [items]="people"
                            [multiple]="false"
                            [closeOnSelect]="true"
                            [searchable]="true"
                            [required]="true"
                            (change)="onPersonChange($event)"
                            bindValue="id"
                            bindLabel="fullName"
                            placeholder="نام و نام خانوادگی"
                            name="person"
                            id="field_person"
                            [(ngModel)]="educationalHistory.personId" >
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="marineindustryprojApp.person.employmentType"></label>
                        <label class="form-control">{{selectedPerson.employmentTypeTitle}}</label>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="marineindustryprojApp.person.jobTitle"></label>
                        <label class="form-control">{{selectedPerson.jobTitle}}</label>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="marineindustryprojApp.person.practicaljobTitle"></label>
                        <label class="form-control">{{selectedPerson.practicaljobTitle}}</label>
                    </div>
                </div>
                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">اطلاعات دوره گذرانده شده</div></div>
                <div class="form-group half">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalHistory.educationalModuleEditTitle" for="field_educationalModule">Educational Module</label>
                    <ng-select
                        [items]="educationalmodules"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [required]="true"
                        (change)="onEducationalModuleChange($event)"
                        bindLabel="fullTitle"
                        bindValue="id"
                        placeholder="پودمان آموزشی"
                        name="educationalModule"
                        id="field_educationalModule"
                        [(ngModel)]="educationalHistory.educationalModuleId">
                </div>
                <div class="form-group half">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalHistory.educationalModuleEditName" for="field_educationalModuleName">Educational Module Name</label>
                    <input type="text" class="form-control" name="educationalModuleName" id="field_educationalModuleName"
                        [(ngModel)]="educationalHistory.educationalModuleName" required maxlength="4096"/>
                    <div [hidden]="!(editForm.controls.educationalModuleName?.dirty && editForm.controls.educationalModuleName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.educationalModuleName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.educationalModuleName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                        This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalHistory.courseType" for="field_courseType">Course Type</label>
                    <ng-select
                        [items]="courseTypes"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [required]="true"
                        bindLabel="title"
                        bindValue="id"
                        placeholder="نوع دوره"
                        name="courseType"
                        id="field_courseType"
                        [(ngModel)]="educationalHistory.courseTypeId">
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalHistory.learningTimeTheorical" for="field_learningTimeTheorical">Learning Time Theorical</label>
                    <!--<input type="number" (keypress)="validateKeyStrokes($event)" value="0" jhiMax="2000000000" max="2000000000" min="0" jhiMin="0" class="form-control" name="learningTimeTheorical" id="field_learningTimeTheorical"
                        [(ngModel)]="educationalHistory.learningTimeTheorical" />
                    <div [hidden]="!(editForm.controls.learningTimeTheorical?.dirty && editForm.controls.learningTimeTheorical?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.learningTimeTheorical?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 2000000000 }">
                            This field cannot be more than 2000000000.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.learningTimeTheorical?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>-->
                    <kendo-numerictextbox
                        [(ngModel)]="educationalHistory.learningTimeTheorical" [min]="0" [max]="2000000000" [format]="'n0'"
                        name="learningTimeTheorical" id="field_learningTimeTheorical" (blur)="updateTotal()" [required]="true"
                        class="form-control">
                    </kendo-numerictextbox>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalHistory.learningTimePractical" for="field_learningTimePractical">Learning Time Practical</label>
                    <!--<input type="number" (keypress)="validateKeyStrokes($event)" jhiMax="2000000000" max="2000000000" min="0" jhiMin="0" class="form-control" name="learningTimePractical" id="field_learningTimePractical"
                        [(ngModel)]="educationalHistory.learningTimePractical" value="0" />
                    <div [hidden]="!(editForm.controls.learningTimePractical?.dirty && editForm.controls.learningTimePractical?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.learningTimePractical?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 2000000000 }">
                            This field cannot be more than 2000000000.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.learningTimePractical?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>-->
                    <kendo-numerictextbox
                        [(ngModel)]="educationalHistory.learningTimePractical" [min]="0" [max]="2000000000" [format]="'n0'"
                        name="learningTimePractical" id="field_learningTimePractical" (blur)="updateTotal()" [required]="true"
                        class="form-control">
                    </kendo-numerictextbox>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalHistory.totalTime" for="field_totalTime">Total Time</label>
                    <!--<input type="number" class="form-control" (keypress)="validateKeyStrokes($event)" jhiMax="2000000000" max="2000000000" min="0" jhiMin="0" name="totalTime" id="field_totalTime"
                        [(ngModel)]="educationalHistory.totalTime"
                        [value]="(educationalHistory.learningTimeTheorical ? +educationalHistory.learningTimeTheorical : 0) + (educationalHistory.learningTimePractical ? +educationalHistory.learningTimePractical : 0)"/>
                    <div [hidden]="!(editForm.controls.totalTime?.dirty && editForm.controls.totalTime?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.totalTime?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 2000000000 }">
                            This field cannot be more than 2000000000.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.totalTime?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>-->
                    <kendo-numerictextbox
                        [(ngModel)]="educationalHistory.totalTime" [min]="0" [max]="2000000000" [required]="true"
                        name="totalTime" id="field_totalTime" [format]="'n0'" class="form-control">
                    </kendo-numerictextbox>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalHistory.dateOfStart" for="field_dateOfStart">Date Of Start</label>
                    <kendo-maskedtextbox
                        [includeLiterals]="true"
                        required="true"
                        [(ngModel)]="educationalHistory.dateOfStart"
                        name="dateOfStart"
                        class="form-control"
                        id="field_dateOfStart"
                        (blur)="checkDateValidation($event)"
                        mask="0000/00/00">
                    </kendo-maskedtextbox>
                    <span *ngIf="dateValid == 1" class="alert-success">تاریخ معتبر است</span>
                    <span *ngIf="dateValid == 2" class="alert-danger">تاریخ نامعتبر است</span>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalHistory.dateOfEnd" for="field_dateOfEnd">dateOfEnd</label>
                    <kendo-maskedtextbox
                        [includeLiterals]="true"
                        required="true"
                        [(ngModel)]="educationalHistory.dateOfEnd"
                        name="dateOfEnd"
                        class="form-control"
                        id="field_dateOfEnd"
                        (blur)="checkDateOfEndValidation($event)"
                        mask="0000/00/00">
                    </kendo-maskedtextbox>
                    <span *ngIf="dateOfEndValid == 1" class="alert-success">تاریخ معتبر است</span>
                    <span *ngIf="dateOfEndValid == 2" class="alert-danger">تاریخ نامعتبر است</span>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalHistory.educationalCenter" for="field_educationalCenter">Educational Center</label>
                    <input type="text" class="form-control" name="educationalCenter" id="field_educationalCenter"
                        [(ngModel)]="educationalHistory.educationalCenter" maxlength="4096" [required]="true"/>
                    <div [hidden]="!(editForm.controls.educationalCenter?.dirty && editForm.controls.educationalCenter?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.educationalCenter?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                        This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>

                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">آپلود گواهینامه</div></div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalHistory.fileDoc" for="file_fileDoc">File Doc</label>
                    <div>
                        <input type="file" id="file_fileDoc" (change)="setFileData($event, educationalHistory, 'fileDoc', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <!--<input type="hidden" class="form-control" name="fileDoc" id="field_fileDoc"
                           [(ngModel)]="educationalHistory.fileDoc" required/>-->

                    <div [hidden]="!(editForm.controls.fileDoc?.dirty && editForm.controls.fileDoc?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.fileDoc?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div *ngIf="fileMessage" class="alert" style="display: inline" [ngClass]="{'alert-danger': fileHasError,'alert-success': !fileHasError}">{{fileMessage}}</div>
                <ng-container *ngIf="educationalHistory.id != undefined">
                    <input type="button" [disabled]="fileHasError || uploadingFile" (click)="uploadFile()" class="btn btn-info" style="display: inline" value="ویرایش و آپلود فایل گواهینامه" />
                    <div class="alert alert-warning">
                        برای ویرایش فایل گواهینامه ابتدا فایل خود را انتخاب نمائید، سپس روی دکمه ی 'ویرایش و آپلود فایل گواهینامه' کلیک نمائید. سپس برای ثبت نهایی تغییرات روی دکمه ذخیره کلیک نمائید.
                    </div>
                </ng-container>

                <div class="alert alert-info">
                    لطفا قبل از آپلود به موارد زیر دقت فرمائید.
                    <ol>
                        <li>
                            نام فایل انتخابی شما نباید شامل تعداد زیادی نقطه(.) یا کاما (,) و امثالهم باشد.
                        </li>
                        <li>
                            فایل شما حتما باید دارای یکی از پسوندهای معتبر (jpeg,jpg,png,gif,bmp,TIFF,Zip,pdf) باشد.
                        </li>
                        <li>
                            حجم فایل شما نباید بیش از 10 مگابایت باشد.
                        </li>
                    </ol>
                </div>
                <!--<div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalHistory.fileDoc" for="field_fileDoc">File Doc</label>
                    <textarea class="form-control" name="fileDoc" id="field_fileDoc"
                        [(ngModel)]="educationalHistory.fileDoc" required></textarea>
                    <div [hidden]="!(editForm.controls.fileDoc?.dirty && editForm.controls.fileDoc?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.fileDoc?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>-->
                <div class="dropdown-divider pt-3 mt-4"><div class="divider-title">توضیحات بیشتر</div></div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalHistory.description" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                        [(ngModel)]="educationalHistory.description" ></textarea>
                </div>

                <div class="form-group" *ngIf="educationalHistory.id === undefined">
                    <span *ngIf="targetPeople">درخواست شما برای افراد زیر ارسال می شود.</span>
                    <ul>
                        <li *ngFor="let item of targetPeople">
                            {{item.fullName}}
                        </li>
                    </ul>
                </div>
            </div>
            <div *ngIf="file" class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped"
                     role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                     aria-valuemin="0" aria-valuemax="100"
                     [ngStyle]="{width:progress.percentage+'%'}">
                    {{progress.percentage}}%</div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving || (fileHasError && educationalHistory.id === undefined)" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
                <span class="alert alert-warning" *ngIf="educationalHistory.id === undefined">بعد از ذخیره اطلاعات امکان ویرایش برای شما وجود ندارد، لطفا در زمان ثبت اطلاعات نهایت دقت را بفرمائید.</span>
                <span class="alert alert-warning" *ngIf="educationalHistory.id !== undefined">امکان ویرایش فایل گواهینامه وجود ندارد برای اینکار این پرونده را رد کرده و پرونده ی جدید ثبت نمائید. </span>
                <span class="alert alert-danger" *ngIf="message">{{message}}</span>
            </div>
        </form>
    </div>
</div>
