<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.monitorProcessDuration.home.title">Monitor Process Durations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-monitor-process-duration-marine-suffix" [routerLink]="['/monitor-process-duration-marine-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="marineindustryprojApp.monitorProcessDuration.home.createLabel">
            Create new Monitor Process Duration
            </span>
        </button>
    </h2>
    <mi-alert></mi-alert>
    <br/>
    <div class="table-responsive" *ngIf="monitorProcessDurations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="marineindustryprojApp.monitorProcessDuration.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="code"><span jhiTranslate="marineindustryprojApp.monitorProcessDuration.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="description"><span jhiTranslate="marineindustryprojApp.monitorProcessDuration.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="createUserLogin"><span jhiTranslate="marineindustryprojApp.monitorProcessDuration.createUserLogin">Create User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span jhiTranslate="marineindustryprojApp.monitorProcessDuration.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyUserLogin"><span jhiTranslate="marineindustryprojApp.monitorProcessDuration.modifyUserLogin">Modify User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyDate"><span jhiTranslate="marineindustryprojApp.monitorProcessDuration.modifyDate">Modify Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="guid"><span jhiTranslate="marineindustryprojApp.monitorProcessDuration.guid">Guid</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let monitorProcessDuration of monitorProcessDurations ;trackBy: trackId">
                <td><a [routerLink]="['/monitor-process-duration-marine-suffix', monitorProcessDuration.id, 'view' ]">{{monitorProcessDuration.id}}</a></td>
                <td>{{monitorProcessDuration.title}}</td>
                <!--<td>{{monitorProcessDuration.code}}</td>-->
                <td>{{monitorProcessDuration.description}}</td>
                <!--<td>{{monitorProcessDuration.createUserLogin}}</td>
                <td>{{monitorProcessDuration.createDate | date:'medium'}}</td>
                <td>{{monitorProcessDuration.modifyUserLogin}}</td>
                <td>{{monitorProcessDuration.modifyDate | date:'medium'}}</td>
                <td>{{monitorProcessDuration.guid}}</td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/monitor-process-duration-marine-suffix', monitorProcessDuration.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/monitor-process-duration-marine-suffix', monitorProcessDuration.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"  *jhiHasAnyAuthority="['ROLE_ADMIN']"
                                [routerLink]="['/', { outlets: { popup: 'monitor-process-duration-marine-suffix/'+ monitorProcessDuration.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="monitorProcessDurations && monitorProcessDurations.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
