<div>
    <div class="row justify-content-center">
        <table border="1" style="width: 100%">
            <tr>
                <td style="text-align: center"><img src="/content/images/Sanaye192.png" style="width: 150px;"/> </td>
                <td style="text-align: center; font-family: BTitrBold">
                    <h2>سازمان صنایع دریایی</h2>
                    <h1>شناسنامه آموزشی کارکنان</h1>
                </td>
                <td style="text-align: center">
                    <img *ngIf="!isNewImage" [src]="oldPicUrl | safe" style="width: 150px;height: 150px;" />
                    <img *ngIf="isNewImage" [src]="picUrl | safe" style="width: 150px;height: 150px;" />
                </td>
            </tr>
        </table>
            <mi-alert-error></mi-alert-error>
                <h4>1- مشخصات فردی:</h4>
        <table border="1" style="width: 100%">
            <tr class="special-tr">
                <td>نام: {{person.name}}</td>
                <td>نام خانوادگی: {{person.family}}</td>
                <td>نام پدر: {{person.fatherName}}</td>
                <td>شماره شناسنامه: {{person.certificateNumber}}</td>
            </tr>
        </table>
                <div class="card border-success ">
                    <a class="card-header center" style="background-color: aliceblue;">
                        <span class="panel-title">پنل اطلاعات کاربر</span>
                    </a>
                <div class="card-body">
                    <div class="col-md-4">
                        <div class="col-md-3">
                            <label>نام:</label>
                        </div>
                        <div class="col-md-9">
                            <label>{{person.name}}</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-6">
                            <label>نام خانوادگی:</label>
                        </div>
                        <div class="col-md-6">
                            <label>{{person.family}}</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-3">
                            <label>کدپرسنلی:</label>
                        </div>
                        <div class="col-md-9">
                            <label>{{person.personelCode}}</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-3">
                            <label>کدملی:</label>
                        </div>
                        <div class="col-md-9">
                            <label>{{person.nationalId}}</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-6">
                            <label>نام پدر:</label>
                        </div>
                        <div class="col-md-6">
                            <label>{{person.fatherName}}</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-6">
                            <label><span jhiTranslate="marineindustryprojApp.person.employmentType">Employment Type</span>:</label>
                        </div>
                        <div class="col-md-6">
                            <label>{{person.employmentTypeTitle}}</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                    <div class="col-md-6">
                        <label>شناسه شغل:</label>
                    </div>
                    <div class="col-md-6">
                        <label>{{person.jobId}}</label>
                    </div>
                </div>
                    <div class="col-md-4">
                    <div class="col-md-6">
                        <label><span jhiTranslate="marineindustryprojApp.person.job">Job</span>:</label>
                    </div>
                    <div class="col-md-6">
                        <label>{{person.jobTitle}}</label>
                    </div>
                </div>
                    <div class="col-md-4">
                    <div class="col-md-6">
                        <label><span jhiTranslate="marineindustryprojApp.person.practicaljob">Practicaljob</span>:</label>
                    </div>
                    <div class="col-md-6">
                        <label>{{person.practicaljobTitle}}</label>
                    </div>
                </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>جایگاه در سازمان:</label>
                        </div>
                        <div class="col-md-9">
                            <label>{{organizationTitle}}</label>
                        </div>
                    </div>
                </div>
                </div>

    </div>

</div>
