<div>
    <div class="row justify-content-center">
        <div class="myContent">
            <div *ngIf="isTopUsers" style="text-align: center;">
            <div class=" form-group">
                <label class="form-control-label">جستجو پرسنل </label>
                <ng-select
                    [items]="people"
                    [multiple]="false"
                    [closeOnSelect]="true"
                    [searchable]="true"
                    (change)="loadPersonData($event)"
                    bindLabel="fullName"
                    bindValue="id"
                    placeholder="جستجو پرسنل"
                    name="searchPerson"
                    [(ngModel)]="searchPerson">
                </ng-select>
            </div>
            </div>
        <table border="1" style="width: 100%">
            <tr>
                <td style="text-align: center"><img src="/content/images/Sanaye192.png" style="width: 150px;"/> </td>
                <td style="text-align: center; font-family: BTitrBold">
                    <h2>سازمان صنایع دریایی</h2>
                    <h1>شناسنامه آموزشی کارکنان</h1>
                </td>
                <td style="text-align: center">
                    <img *ngIf="!isNewImage" [src]="oldPicUrl | safe" style="width: 150px;height: 150px;" />
                    <img *ngIf="isNewImage" [src]="picUrl | safe" style="width: 150px;height: 150px;" />
                </td>
            </tr>
        </table>
            <mi-alert-error></mi-alert-error>
        <div class="dataTable">
                <h4>1- مشخصات فردی:</h4>
        <table border="1" style="width: 100%">
            <tr class="special-tr">
                <td>نام: {{person.name}}</td>
                <td>نام خانوادگی: {{person.family}}</td>
                <td>نام پدر: {{person.fatherName}}</td>
                <td>شماره شناسنامه: {{person.certificateNumber}}</td>
            </tr>
            <tr class="special-tr">
                <td>شغل سازمانی: {{person.jobTitle}}</td>
                <td>شغل عملی: {{person.practicaljobTitle}}</td>
                <td>تاریخ تولد: {{person.birthDate}}</td>
                <td>کدملی: {{person.nationalId}}</td>
            </tr>
            <tr class="special-tr">
                <td>نوع عضویت: {{person.employmentTypeTitle}}</td>
                <td>شماره پرسنلی: {{person.personelCode}}</td>
                <td colspan="2">جایگاه در سازمان: {{organizationTitle}}</td>
            </tr>
        </table>
        </div>
        <div class="dataTable">
                <h4>2- سوابق تحصیلی</h4>
            <div class="table-responsive" *ngIf="educationalRecords">
                <table class="table table-striped table-bordered table-hover table-sm">
                    <thead>
                        <!--<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> </th>-->
                        <th>ردیف</th>
                        <th><span jhiTranslate="marineindustryprojApp.educationalRecord.qualificationText">Qualification Text</span> </th>
                        <th><span jhiTranslate="marineindustryprojApp.educationalRecord.fieldOfStudyText">Field Of Study Text</span> </th>
                        <th><span jhiTranslate="marineindustryprojApp.educationalRecord.educationalCenterText">Educational Center Text</span> </th>
                        <th><span jhiTranslate="marineindustryprojApp.educationalRecord.totalAverage">Total Average</span> </th>
                        <th><span jhiTranslate="marineindustryprojApp.educationalRecord.startDate">Start Date</span> </th>
                        <th><span jhiTranslate="marineindustryprojApp.educationalRecord.endDate">End Date</span> </th>
                        <th><span jhiTranslate="marineindustryprojApp.educationalRecord.description">Description</span> </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let educationalRecord of educationalRecords ;let i = index">
                        <td>{{i+1}}</td>
                        <td>{{educationalRecord.qualificationText}}</td>
                        <td>{{educationalRecord.fieldOfStudyText}}</td>
                        <td>{{educationalRecord.educationalCenterText}}</td>
                        <td>{{educationalRecord.totalAverage}}</td>
                        <td>{{educationalRecord.startDate}}</td>
                        <td>{{educationalRecord.endDate}}</td>
                        <td>{{educationalRecord.description}}</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit" *ngIf="isTopUsers"
                                        [routerLink]="['/educational-record-marine-suffix', educationalRecord.id, 'edit']"
                                        class="btn btn-primary btn-sm">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                </button>
                                <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN']"
                                        [routerLink]="['/', { outlets: { popup: 'educational-record-marine-suffix/'+ educationalRecord.id + '/delete'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-danger btn-sm">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="isTopUsers">
                        <td colspan="20">
                            <span>
                                <!--<fa-icon [icon]="'plus'"></fa-icon>&nbsp;افزودن سابقه شغلی-->
                                <a class="enableLink" [href]="'#/educational-record-marine-suffix/new/' + person.guid">
                                    <fa-icon [icon]="'plus'"></fa-icon>
                                    افزودن سابقه تحصیلی
                                </a>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
            <div class="dataTable">
                <h4>3- سوابق شغلی (از بدو استخدام تاکنون)(خود اظهاری فرد)</h4>
                <div class="table-responsive" *ngIf="jobRecords">
                    <table class="table table-striped table-bordered table-hover table-sm">
                        <thead>
                        <tr>
                            <!--<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> </th>-->
                            <th>ردیف</th>
                            <th><span jhiTranslate="marineindustryprojApp.jobRecord.workOrganization">Work Organization</span> </th>
                            <th><span jhiTranslate="marineindustryprojApp.jobRecord.workSection">Work Section</span> </th>
                            <th><span jhiTranslate="marineindustryprojApp.jobRecord.jobResponsibility">Job Responsibility</span> </th>
                            <th><span jhiTranslate="marineindustryprojApp.jobRecord.jobPosition">Job Position</span> </th>
                            <th><span jhiTranslate="marineindustryprojApp.jobRecord.startDate">Start Date</span> </th>
                            <th><span jhiTranslate="marineindustryprojApp.jobRecord.endDate">End Date</span> </th>
                            <th><span jhiTranslate="marineindustryprojApp.jobRecord.leaveReason">Leave Reason</span> </th>
                            <!--<th jhiSortBy="description"><span jhiTranslate="marineindustryprojApp.jobRecord.description">Description</span> </th>-->
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let jobRecord of jobRecords ;let i = index">
                            <!--<td><a [routerLink]="['/job-record-marine-suffix', jobRecord.id, 'view' ]">{{jobRecord.id}}</a></td>-->
                            <td>{{i+1}}</td>
                            <td>{{jobRecord.workOrganization}}</td>
                            <td>{{jobRecord.workSection}}</td>
                            <td>{{jobRecord.jobResponsibility}}</td>
                            <td>{{jobRecord.jobPosition}}</td>
                            <!--<td>{{jobRecord.totalHour}}</td>-->
                            <td>{{jobRecord.startDate}}</td>
                            <td>{{jobRecord.endDate}}</td>
                            <td>{{jobRecord.leaveReason}}</td>
                            <!--<td>{{jobRecord.description}}</td>-->
                            <!--<td>{{jobRecord.createUserLogin}}</td>
                            <td>{{jobRecord.createDate | date:'medium'}}</td>
                            <td>{{jobRecord.modifyUserLogin}}</td>
                            <td>{{jobRecord.modifyDate | date:'medium'}}</td>
                            <td>{{jobRecord.guid}}</td>
                            <td>
                                <div *ngIf="jobRecord.personId">
                                    <a [routerLink]="['../person-marine-suffix', jobRecord.personId , 'view' ]" >{{jobRecord.personFamily}}</a>
                                </div>
                            </td>-->
                            <td class="text-right">
                                <button type="submit"
                                        [routerLink]="['/job-record-marine-suffix', jobRecord.id, 'edit']"
                                        class="btn btn-primary btn-sm">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                </button>
                                <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN']"
                                        [routerLink]="['/', { outlets: { popup: 'job-record-marine-suffix/'+ jobRecord.id + '/delete'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-danger btn-sm">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </td>

                        </tr>
                        <tr>
                            <td colspan="20">

                            <span>
                                <!--<fa-icon [icon]="'plus'"></fa-icon>&nbsp;افزودن سابقه شغلی-->
                                <a id="jh-create-entity" class="enableLink" [href]="'#/job-record-marine-suffix/new/' + person.guid">
                                    <fa-icon [icon]="'plus'"></fa-icon>
                                    افزودن سابقه شغلی
                                </a>
                            </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
        </div>
            <div class="dataTable">
                <h4>4- دوره های آموزشی گذرانده شده</h4>
                <table class="table table-bordered table-hover table-sm">
                    <thead>
                    <tr>
                        <th>ردیف</th>
                        <th><span jhiTranslate="marineindustryprojApp.educationalModule.code">Code</span></th>
                        <th><span jhiTranslate="marineindustryprojApp.educationalModule.title">Title</span></th>
                        <th><span>مدت کل پودمان</span></th>
                        <!--<th><span jhiTranslate="marineindustryprojApp.educationalModule.organization">Organization</span> </th>-->
                        <th><span jhiTranslate="marineindustryprojApp.educationalModule.skillableLevelOfSkill">Skillable Level Of Skill</span>
                        </th>
                        <th><span>نوع پودمان</span></th>
                        <th><span>تاریخ برگزاری</span></th>
                        <th>وضعیت</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let educationalModule of homePagePersonEducationalModules; let i = index;"
                        [ngClass]="{'success': educationalModule.status == 100, 'info': educationalModule.status == 90, 'warning': educationalModule.status == 80, 'light': educationalModule.status == 70, 'danger': educationalModule.status == 0}">
                        <td>{{i+1}}</td>
                        <td>{{educationalModule.code}}</td>
                        <td>{{educationalModule.title}}</td>
                        <td>{{educationalModule.totalLearningTime | number}}</td>
                        <!--<td>
                            <div *ngIf="educationalModule.organizationId">
                                <a [routerLink]="['../organization-marine-suffix', educationalModule.organizationId , 'view' ]" >{{educationalModule.organizationTitle}}</a>
                            </div>
                        </td>-->
                        <td>
                            <div *ngIf="educationalModule.skillableLevelOfSkillId">
                                <a [routerLink]="['../skillable-level-of-skill-marine-suffix', educationalModule.skillableLevelOfSkillId , 'view' ]">{{educationalModule.skillableLevelOfSkillTitle}}</a>
                            </div>
                        </td>
                        <td>
                            {{educationalModule.educationalModuleType}}
                        </td>
                        <td>
                            {{educationalModule.runDate}}
                        </td>
                        <td>
                            <a class="enableLink" [href]="'#/educational-history-marine-suffix/' + educationalModule.educationalHistoryId + '/view'"
                               *ngIf="educationalModule.status == 100">{{educationalModule.statusMeaning}}</a>
                            <span *ngIf="educationalModule.status != 100">{{educationalModule.statusMeaning}}</span>
                        </td>
                    </tr>
                    <tr *ngIf="homePagePersonEducationalModules.length == 0">
                        <td colspan="10" class="alert-danger">
                            دوره ای برای شما ثبت نشده.
                        </td>
                    </tr>
                    </tbody>
                </table>
        </div>
        </div>

    </div>

</div>
