<div>
    <h2 id="page-heading">
        <span jhiTranslate="marineindustryprojApp.jobChange.home.title">Job Changes</span>
        <!--<button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-job-change-marine-suffix" [routerLink]="['/job-change-marine-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="marineindustryprojApp.jobChange.home.createLabel">
            Create new Job Change
            </span>
        </button>-->
    </h2>
    <mi-alert></mi-alert>
    <br/>
    <div class="table-responsive" *ngIf="jobChanges">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="marineindustryprojApp.jobChange.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="status"><span jhiTranslate="marineindustryprojApp.jobChange.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <!--<th jhiSortBy="createUserLogin"><span jhiTranslate="marineindustryprojApp.jobChange.createUserLogin">Create User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span jhiTranslate="marineindustryprojApp.jobChange.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyUserLogin"><span jhiTranslate="marineindustryprojApp.jobChange.modifyUserLogin">Modify User Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyDate"><span jhiTranslate="marineindustryprojApp.jobChange.modifyDate">Modify Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="personFamily"><span jhiTranslate="marineindustryprojApp.jobChange.person">Person</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="oldJobTitle"><span jhiTranslate="marineindustryprojApp.jobChange.oldJob">Old Job</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="newJobTitle"><span jhiTranslate="marineindustryprojApp.jobChange.newJob">New Job</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let jobChange of jobChanges ;trackBy: trackId">
                <td><a [routerLink]="['/job-change-marine-suffix', jobChange.id, 'view' ]">{{jobChange.id}}</a></td>
                <td>{{jobChange.title}}</td>
                <!--<td>{{jobChange.status}}</td>
                <td>{{jobChange.createUserLogin}}</td>
                <td>{{jobChange.createDate | date:'medium'}}</td>
                <td>{{jobChange.modifyUserLogin}}</td>
                <td>{{jobChange.modifyDate | date:'medium'}}</td>-->
                <td>
                    <div *ngIf="jobChange.personId">
                        <a [routerLink]="['../person-marine-suffix', jobChange.personId , 'view' ]" class="enableLink">{{jobChange.personFamily}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="jobChange.oldJobId">
                        <a [routerLink]="['../job-marine-suffix', jobChange.oldJobId , 'view' ]" class="enableLink">{{jobChange.oldJobTitle}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="jobChange.newJobId">
                        <a [routerLink]="['../job-marine-suffix', jobChange.newJobId , 'view' ]" class="enableLink">{{jobChange.newJobTitle}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <!--<button type="submit"
                                [routerLink]="['/job-change-marine-suffix', jobChange.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/job-change-marine-suffix', jobChange.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>-->
                        <button type="submit"  *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_DELETE']"
                                [routerLink]="['/', { outlets: { popup: 'job-change-marine-suffix/'+ jobChange.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="jobChanges && jobChanges.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
