<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="mi-educational-record-marine-suffix-heading" jhiTranslate="marineindustryprojApp.educationalRecord.home.createOrEditLabel">Create or edit a Educational Record</h2>
            <div>
                <mi-alert-error></mi-alert-error>
                <div class="form-group" [hidden]="!educationalRecord.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="educationalRecord.id" readonly />
                </div>
                <!--<div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalRecord.qualificationText" for="field_qualificationText">Qualification Text</label>
                    <input type="text" class="form-control" name="qualificationText" id="field_qualificationText"
                        [(ngModel)]="educationalRecord.qualificationText" maxlength="1000"/>
                    <div [hidden]="!(editForm.controls.qualificationText?.dirty && editForm.controls.qualificationText?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.qualificationText?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1000 }">
                        This field cannot be longer than 1000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalRecord.fieldOfStudyText" for="field_fieldOfStudyText">Field Of Study Text</label>
                    <input type="text" class="form-control" name="fieldOfStudyText" id="field_fieldOfStudyText"
                        [(ngModel)]="educationalRecord.fieldOfStudyText" maxlength="1000"/>
                    <div [hidden]="!(editForm.controls.fieldOfStudyText?.dirty && editForm.controls.fieldOfStudyText?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.fieldOfStudyText?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1000 }">
                        This field cannot be longer than 1000 characters.
                        </small>
                    </div>
                </div>-->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalRecord.qualification" for="field_qualification">Qualification</label>
                    <!--<select class="form-control" id="field_qualification" name="qualification" [(ngModel)]="educationalRecord.qualificationId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="qualificationOption.id" *ngFor="let qualificationOption of qualifications; trackBy: trackQualificationById">{{qualificationOption.title}}</option>
                    </select>-->
                    <ng-select
                        [items]="qualifications"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [required]="false"
                        bindLabel="title"
                        bindValue="id"
                        placeholder="انتخاب نمائید"
                        name="qualification"
                        id="field_qualification"
                        [(ngModel)]="educationalRecord.qualificationId">
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalRecord.fieldOfStudy" for="field_fieldOfStudy">Field Of Study</label>
                    <!--<select class="form-control" id="field_fieldOfStudy" name="fieldOfStudy" [(ngModel)]="educationalRecord.fieldOfStudyId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="fieldOfStudyOption.id" *ngFor="let fieldOfStudyOption of fieldofstudies; trackBy: trackFieldOfStudyById">{{fieldOfStudyOption.title}}</option>
                    </select>-->
                    <ng-select
                        [items]="fieldofstudies"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        [required]="false"
                        bindLabel="title"
                        bindValue="id"
                        placeholder="انتخاب نمائید"
                        name="fieldOfStudy"
                        id="field_fieldOfStudy"
                        [(ngModel)]="educationalRecord.fieldOfStudyId">
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalRecord.educationalCenterText" for="field_educationalCenterText">Educational Center Text</label>
                    <input type="text" class="form-control" name="educationalCenterText" id="field_educationalCenterText"
                        [(ngModel)]="educationalRecord.educationalCenterText" maxlength="1000"/>
                    <div [hidden]="!(editForm.controls.educationalCenterText?.dirty && editForm.controls.educationalCenterText?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.educationalCenterText?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1000 }">
                        This field cannot be longer than 1000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalRecord.totalAverage" for="field_totalAverage">Total Average</label>
                    <!--<input type="text" class="form-control" name="totalAverage" id="field_totalAverage"
                        [(ngModel)]="educationalRecord.totalAverage" maxlength="50"/>-->
                    <kendo-maskedtextbox
                        [includeLiterals]="true"
                        [maskValidation]="valid"
                        [(ngModel)]="educationalRecord.totalAverage"
                        name="totalAverage"
                        class="form-control"
                        id="field_totalAverage"
                        (blur)="checkValidation($event)"
                        mask="00.00">
                    </kendo-maskedtextbox>
                    <span *ngIf="valid" class="alert-success">مقدار معتبر است</span>
                    <span *ngIf="!valid" class="alert-danger">مقدار نامعتبر است</span>
                    <!--<div [hidden]="!(editForm.controls.totalAverage?.dirty && editForm.controls.totalAverage?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.totalAverage?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>-->
                </div>
               <!-- <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalRecord.totalHour" for="field_totalHour">Total Hour</label>
                    <input type="number" class="form-control" name="totalHour" id="field_totalHour"
                        [(ngModel)]="educationalRecord.totalHour" />
                </div>-->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalRecord.startDate" for="field_startDate">Start Date</label>
                    <ng-select
                        [items]="years"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        placeholder="انتخاب نمائید."
                        name="startDate"
                        id="field_startDate"
                        [(ngModel)]="educationalRecord.startDate">
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalRecord.endDate" for="field_endDate">End Date</label>
                    <input type="text" class="form-control" name="endDate" id="field_endDate"
                        [(ngModel)]="educationalRecord.endDate" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.endDate?.dirty && editForm.controls.endDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.endDate?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalRecord.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="educationalRecord.description" maxlength="4096"/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                        This field cannot be longer than 4096 characters.
                        </small>
                    </div>
                </div>
              <!--  <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalRecord.createUserLogin" for="field_createUserLogin">Create User Login</label>
                    <input type="text" class="form-control" name="createUserLogin" id="field_createUserLogin"
                        [(ngModel)]="educationalRecord.createUserLogin" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.createUserLogin?.dirty && editForm.controls.createUserLogin?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.createUserLogin?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalRecord.createDate" for="field_createDate">Create Date</label>
                    <div class="d-flex">
                        <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" [(ngModel)]="createDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalRecord.modifyUserLogin" for="field_modifyUserLogin">Modify User Login</label>
                    <input type="text" class="form-control" name="modifyUserLogin" id="field_modifyUserLogin"
                        [(ngModel)]="educationalRecord.modifyUserLogin" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.modifyUserLogin?.dirty && editForm.controls.modifyUserLogin?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.modifyUserLogin?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalRecord.modifyDate" for="field_modifyDate">Modify Date</label>
                    <div class="d-flex">
                        <input id="field_modifyDate" type="datetime-local" class="form-control" name="modifyDate" [(ngModel)]="modifyDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalRecord.guid" for="field_guid">Guid</label>
                    <input type="text" class="form-control" name="guid" id="field_guid"
                        [(ngModel)]="educationalRecord.guid" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.guid?.dirty && editForm.controls.guid?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.guid?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>


                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="marineindustryprojApp.educationalRecord.person" for="field_person">Person</label>
                    <select class="form-control" id="field_person" name="person" [(ngModel)]="educationalRecord.personId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personOption.id" *ngFor="let personOption of people; trackBy: trackPersonById">{{personOption.family}}</option>
                    </select>
                </div>-->
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
